Repository SAP/open-ux-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SAP/ux-tools-annotations, @SAP/ux-tools-i18n, @SAP/ux-tools-create, @SAP/ux-tools-store, @SAP/ux-tools-fe-fpm-writer, @SAP/ux-tools-fiori-freestyle-writer, @SAP/ux-tools-elements-writer, @SAP/ux-tools-logger, @SAP/ux-tools-mockserver-config-writer, @SAP/ux-tools-project-access, @SAP/ux-tools-odata-service-writer, @SAP/ux-tools-ui-components, @SAP/ux-tools-ui5-application-writer, @SAP/ux-tools-ui5-config, @SAP/ux-tools-yaml, @SAP/ux-tools-middlewares-and-tasks, @SAP/ux-tools-adp, @SAP/ux-tools-deploy, @SAP/ux-tools-control-property-editor, @SAP/ux-tools-admin, @SAP/ux-tools-team

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Module: cds-odata-annotation-parser
/packages/cds-annotation-parser/ @SAP/ux-tools-annotations

# Module: cds-odata-annotation-converter
/packages/cds-odata-annotation-converter/ @SAP/ux-tools-annotations

# Module: i18n
/packages/i18n/ @SAP/ux-tools-i18n

# Module: create
/packages/create/ @SAP/ux-tools-create

# Module: store
/packages/store/ @SAP/ux-tools-store

# Module: fe-fpm-writer
/packages/fe-fpm-writer/ @SAP/ux-tools-fe-fpm-writer

# Module: fiori-freestyle-writer
/packages/fiori-freestyle-writer/ @SAP/ux-tools-fiori-freestyle-writer

# Module: fiori-elements-writer
/packages/fiori-elements-writer/ @SAP/ux-tools-elements-writer

# Module: eslint-plugin-fiori-tools
/packages/eslint-plugin-fiori-tools/ @SAP/ux-tools-fiori-freestyle-writer @SAP/ux-tools-elements-writer

# Module: logger
/packages/logger/ @SAP/ux-tools-logger

# Module: mockserver-config-writer
/packages/mockserver-config-writer/ @SAP/ux-tools-mockserver-config-writer

# Module: project-access
/packages/project-access/ @SAP/ux-tools-project-access

# Module: odata-service-writer
/packages/odata-service-writer/ @SAP/ux-tools-odata-service-writer

# Module: odata-annotation-core
/packages/odata-annotation-core/ @SAP/ux-tools-annotations

# Module: odata-annotation-core-types
/packages/odata-annotation-core-types/ @SAP/ux-tools-annotations

# Module: ui-components
/packages/ui-components/ @SAP/ux-tools-ui-components

# Module: ui5-application-writer
/packages/ui5-application-writer/ @SAP/ux-tools-ui5-application-writer

# Module: ui5-config
/packages/ui5-config/ @SAP/ux-tools-ui5-config

# Module: yaml
/packages/yaml/ @SAP/ux-tools-yaml

# Module: ui5-proxy-middleware
/packages/ui5-proxy-middleware/ @SAP/ux-tools-middlewares-and-tasks

# Module: backend-proxy-middleware
/packages/backend-proxy-middleware/ @SAP/ux-tools-middlewares-and-tasks

# Module: preview-middleware
/packages/preview-middleware/ @SAP/ux-tools-middlewares-and-tasks

# Module: preview-middleware-client
/packages/preview-middleware-client/ @SAP/ux-tools-middlewares-and-tasks

# Module: serve-static-middleware
/packages/serve-static-middleware/ @SAP/ux-tools-middlewares-and-tasks

# Module: reload-middleware
/packages/reload-middleware/ @SAP/ux-tools-middlewares-and-tasks

# Module: adp-tooling
/packages/adp-tooling/ @SAP/ux-tools-adp

# Module: deploy-tooling
/packages/deploy-tooling/ @SAP/ux-tools-deploy

# Module: control-property-editor
/packages/control-property-editor/ @SAP/ux-tools-control-property-editor

# Module: control-property-editor-common
/packages/control-property-editor-common/ @SAP/ux-tools-control-property-editor

# Module: odata-vocabularies
/packages/odata-vocabularies @SAP/ux-tools-annotations

# Module: xml-odata-annotation-converter
/packages/xml-odata-annotation-converter/ @SAP/ux-tools-annotations

# Module: odata-entity-model
/packages/odata-entity-model/ @SAP/ux-tools-annotations

# Admin
/.github/ @SAP/ux-tools-admin
/.LICENSES/ @SAP/ux-tools-admin
/.well-known/ @SAP/ux-tools-admin
/.husky/ @SAP/ux-tools-admin
/.reuse/ @SAP/ux-tools-admin
/.eslintrc @SAP/ux-tools-admin
/.gitignore @SAP/ux-tools-admin
/.npmrc @SAP/ux-tools-admin
/.prettierignore @SAP/ux-tools-admin
/.prettierrc.js @SAP/ux-tools-admin
/LICENSE @SAP/ux-tools-admin
/package.json @SAP/ux-tools-admin
/sonar-project.properties @SAP/ux-tools-admin
/tsconfig.json @SAP/ux-tools-admin

# Docs
/docs/ @SAP/ux-tools-team
/CONTRIBUTING.md @SAP/ux-tools-team
/README.md @SAP/ux-tools-team

chore: apply latest changesets
  .changeset/real-lemons-mate.md
  packages/serve-static-middleware/CHANGELOG.md
  packages/serve-static-middleware/package.json
Owners: @SAP/ux-tools-middlewares-and-tasks

fix: tsconfig
  tsconfig.json
Owners: @SAP/ux-tools-admin

1633/handle missing types and functions (#1670)
  .changeset/dirty-ties-tease.md
  packages/axios-extension/src/abap/index.ts
  packages/axios-extension/src/abap/types/adt-types.ts
  packages/axios-extension/test/abap/abap-service-provider.test.ts
  packages/btp-utils/src/destination.ts
  packages/btp-utils/test/destination.test.ts
  packages/system-access/test/unit/base/connect.test.ts
Owners: none

chore: apply latest changesets
  .changeset/dirty-ties-tease.md
  examples/odata-cli/CHANGELOG.md
  examples/odata-cli/package.json
  examples/simple-generator/CHANGELOG.md
  examples/simple-generator/package.json
  packages/adp-tooling/CHANGELOG.md
  packages/adp-tooling/package.json
  packages/app-config-writer/CHANGELOG.md
  packages/app-config-writer/package.json
  packages/axios-extension/CHANGELOG.md
  packages/axios-extension/package.json
  packages/backend-proxy-middleware/CHANGELOG.md
  packages/backend-proxy-middleware/package.json
  packages/btp-utils/CHANGELOG.md
  packages/btp-utils/package.json
  packages/create/CHANGELOG.md
  packages/create/package.json
  packages/deploy-tooling/CHANGELOG.md
  packages/deploy-tooling/package.json
  packages/environment-check/CHANGELOG.md
  packages/environment-check/package.json
  packages/preview-middleware/CHANGELOG.md
  packages/preview-middleware/package.json
  packages/system-access/CHANGELOG.md
  packages/system-access/package.json
  packages/telemetry/CHANGELOG.md
  packages/telemetry/package.json
Owners: @SAP/ux-tools-adp, @SAP/ux-tools-middlewares-and-tasks, @SAP/ux-tools-create, @SAP/ux-tools-deploy

fix:review comments
  packages/reload-middleware/package.json
  pnpm-lock.yaml
Owners: @SAP/ux-tools-middlewares-and-tasks
