Repository SAP/open-ux-tools, pull requests merged in 2023-09, with the labels that each got.

#1250 fix(fe-fpm-writer): Edit for custom header section
  .changeset/empty-turkeys-live.md
  packages/fe-fpm-writer/src/common/defaults.ts
  packages/fe-fpm-writer/src/section/index.ts
  packages/fe-fpm-writer/templates/common/FragmentWithForm.xml
  packages/fe-fpm-writer/test/integration/__snapshots__/basic-lrop-app.test.ts.snap
  packages/fe-fpm-writer/test/unit/__snapshots__/header-section.test.ts.snap
Labels: fe-fpm-writer

#1268 fix(env-check): use btp-utils to retrieve destinations
  .changeset/short-snakes-perform.md
  packages/environment-check/src/checks/destination.ts
  packages/environment-check/test/checks/destination.test.ts
Labels: environment-check

#1272 chore - Add changesets for merged PR's
  .changeset/old-poets-refuse11.md
  .changeset/old-poets-refuse22.md
Labels: renovate

#1270 Enhancing the preview-middleware to support edit modes
  .changeset/eleven-dryers-hear.md
  .changeset/pretty-radios-tickle.md
  packages/adp-tooling/src/writer/index.ts
  packages/adp-tooling/templates/package.json
  packages/adp-tooling/test/unit/writer/__snapshots__/index.test.ts.snap
  packages/preview-middleware-client/.eslintrc.js
  packages/preview-middleware-client/jest.config.js
  packages/preview-middleware-client/package.json
  packages/preview-middleware-client/src/adp/init.ts
  packages/preview-middleware-client/src/cpe/init.ts
  packages/preview-middleware-client/src/flp/init.ts
  packages/preview-middleware-client/test/__mock__/sap/ui/rta/RuntimeAuthoring.ts
  packages/preview-middleware-client/test/__mock__/window.ts
  packages/preview-middleware-client/test/unit/adp/init.test.ts
  packages/preview-middleware-client/test/unit/cpe/init.test.ts
  packages/preview-middleware-client/test/unit/flp/init.test.ts
  packages/preview-middleware-client/tsconfig.json
  packages/preview-middleware-client/types/sap.ui.rta.d.ts
  packages/preview-middleware/README.md
  packages/preview-middleware/package.json
  packages/preview-middleware/src/base/flp.ts
  packages/preview-middleware/src/types/index.ts
  packages/preview-middleware/src/ui5/middleware.ts
  packages/preview-middleware/templates/flp/editor.html
  packages/preview-middleware/test/fixtures/adp/ui5.yaml
  packages/preview-middleware/test/unit/base/__snapshots__/flp.test.ts.snap
  packages/preview-middleware/test/unit/base/flp.test.ts
  packages/preview-middleware/test/unit/ui5/middleware.test.ts
  packages/preview-middleware/tsconfig.json
Labels: preview-middleware, adp-tooling

#1293 fix(preview-middleware): update README
  packages/preview-middleware/README.md
Labels: preview-middleware

#1311 feat(preview-middleware): add an option for setting the UI5 theme
  .changeset/stale-bears-switch.md
  packages/preview-middleware/README.md
  packages/preview-middleware/src/base/flp.ts
  packages/preview-middleware/src/types/index.ts
  packages/preview-middleware/test/unit/base/__snapshots__/flp.test.ts.snap
  packages/preview-middleware/test/unit/base/flp.test.ts
Labels: preview-middleware

#1331 fix(middlewares): fix express dependency
  .changeset/sweet-pianos-fry.md
  packages/adp-tooling/package.json
  packages/control-property-editor/package.json
  packages/preview-middleware/package.json
  pnpm-lock.yaml
Labels: preview-middleware, adp-tooling

#1338 fix(middlewares): make express peer dependecy
  .changeset/shiny-goats-push.md
  packages/adp-tooling/package.json
  packages/preview-middleware/package.json
  pnpm-lock.yaml
Labels: preview-middleware, adp-tooling

#1345 Fix(fpm-writer): Custom header section edit fragment generation error
  .changeset/brown-baboons-attend.md
  packages/fe-fpm-writer/templates/header-section/1.86/manifest.json
  packages/fe-fpm-writer/test/unit/__snapshots__/header-section.test.ts.snap
  packages/fe-fpm-writer/test/unit/header-section.test.ts
Labels: fe-fpm-writer
