Repository SAP/open-ux-tools, pull requests merged in 2023-11, with the labels that each got.

#1407 fix(ui-components): Update dialogs/callout border radius to follow latest VSCode
  .changeset/sour-monkeys-joke.md
  packages/ui-components/src/components/UICallout/UICallout.tsx
  packages/ui-components/src/components/UIComboBox/UIComboBox.scss
  packages/ui-components/src/components/UIContextualMenu/UIContextualMenu.scss
  packages/ui-components/src/components/UIContextualMenu/_variables.scss
  packages/ui-components/src/components/UIDialog/UIDialog.tsx
  packages/ui-components/test/unit/components/UICallout.test.tsx
  packages/ui-components/test/unit/components/UIDialog.test.tsx
Labels: ui-components

#1378 Enhance CPE with Add Fragment to Ext Point extension
  .changeset/witty-cows-cough.md
  packages/control-property-editor-common/src/api.ts
  packages/control-property-editor-common/src/utils.ts
  packages/control-property-editor-common/test/unit/api.test.ts
  packages/control-property-editor/src/middleware.ts
  packages/control-property-editor/src/panels/changes/UnknownChange.tsx
  packages/control-property-editor/src/panels/outline/OutlinePanel.scss
  packages/control-property-editor/src/panels/outline/Tree.tsx
  packages/control-property-editor/src/panels/outline/utils.ts
  packages/control-property-editor/test/unit/middleware.test.ts
  packages/control-property-editor/test/unit/panels/outline/OutlinePanel.test.tsx
  packages/preview-middleware-client/src/adp/command-executor.ts
  packages/preview-middleware-client/src/adp/controllers/AddFragment.controller.ts
  packages/preview-middleware-client/src/adp/controllers/BaseDialog.controller.ts
  packages/preview-middleware-client/src/adp/controllers/ControllerExtension.controller.ts
  packages/preview-middleware-client/src/adp/controllers/ExtensionPoint.controller.ts
  packages/preview-middleware-client/src/adp/extension-point.ts
  packages/preview-middleware-client/src/adp/init-dialogs.ts
  packages/preview-middleware-client/src/adp/init.ts
  packages/preview-middleware-client/src/adp/ui/ExtensionPoint.view.xml
  packages/preview-middleware-client/src/adp/utils.ts
  packages/preview-middleware-client/src/cpe/outline/index.ts
  packages/preview-middleware-client/src/cpe/outline/nodes.ts
  packages/preview-middleware-client/test/__mock__/sap/ui/core/library.ts
  packages/preview-middleware-client/test/__mock__/sap/ui/rta/command/CommandFactory.ts
  packages/preview-middleware-client/test/__mock__/sap/ui/rta/plugin/AddXMLAtExtensionPoint.ts
  packages/preview-middleware-client/test/__mock__/window.ts
  packages/preview-middleware-client/test/unit/adp/controllers/AddFragment.controller.test.ts
  packages/preview-middleware-client/test/unit/adp/controllers/ControllerExtension.controller.test.ts
  packages/preview-middleware-client/test/unit/adp/controllers/ExtensionPoint.controller.test.ts
  packages/preview-middleware-client/test/unit/adp/extension-point.test.ts
  packages/preview-middleware-client/test/unit/adp/init-dialogs.test.ts
  packages/preview-middleware-client/test/unit/adp/init.test.ts
  packages/preview-middleware-client/test/unit/adp/utils.test.ts
  packages/preview-middleware-client/test/unit/cpe/outline/nodes.test.ts
  packages/preview-middleware-client/types/sap.ui.rta.d.ts
Labels: preview-middleware, preview-middleware-client

#1429 Fix(ui-components): UISplitButton state update
  .changeset/pretty-geckos-vanish.md
  packages/ui-components/src/components/UIButton/UISplitButton.tsx
  packages/ui-components/stories/UIButton.story.tsx
  packages/ui-components/test/unit/components/UISplitButton.test.tsx
Labels: ui-components

#1430 feat(ui-components): add `footer` icon
  .changeset/tall-maps-train.md
  packages/ui-components/src/components/Icons.tsx
Labels: ui-components

#1455 fix(ui-components): update `header` and `layout` icons
  .changeset/friendly-roses-lie.md
  packages/ui-components/src/components/Icons.tsx
Labels: ui-components

#1445 feat(ui-components): add `bookbookmark` icon
  .changeset/six-laws-refuse.md
  packages/ui-components/src/components/Icons.tsx
Labels: ui-components

#1461 feat(project-access): Find adp project root by searching for package.json
  .changeset/tough-cheetahs-scream.md
  packages/project-access/src/project/search.ts
  packages/project-access/test/test-data/project/find-all-apps/adaptations/valid-adaptation/package.json
Labels: project-access

#1483 fix: ui-components. UIContextualMenu. Border bottom cut for UIContextualMenu in certain zoom level
  .changeset/spicy-ways-cheat.md
  packages/ui-components/src/components/UIContextualMenu/UIContextualMenu.scss
  packages/ui-components/src/components/UIContextualMenu/UIContextualMenu.tsx
  packages/ui-components/test/unit/components/UIContextualMenu.test.tsx
Labels: ui-components

#1484 fix: comp/control variant changes update in pending changes tab
  .changeset/shy-dryers-provide.md
  packages/preview-middleware-client/src/cpe/changes/service.ts
  packages/preview-middleware-client/test/unit/cpe/changes/service.test.ts
  packages/preview-middleware-client/types/sap.ui.rta.d.ts
Labels: preview-middleware, preview-middleware-client

#1493 feat(ui-components): reusable shadows
  .changeset/early-dots-drum.md
  packages/ui-components/src/components/UIActionCallout/UIActionCallout.scss
  packages/ui-components/src/components/UICallout/UICallout.tsx
  packages/ui-components/src/components/UIDialog/UIDialog.tsx
  packages/ui-components/src/components/UIFlexibleTable/UIFlexibleTable.scss
  packages/ui-components/src/styles/_shadows.scss
  packages/ui-components/src/styles/_variables.scss
  packages/ui-components/src/styles/ui-components.scss
  packages/ui-components/stories/Utilities.story.tsx
  packages/ui-components/test/unit/components/UICallout.test.tsx
  packages/ui-components/test/unit/components/UIDialog.test.tsx
Labels: ui-components

#1491 Fix: show delete button for control variant views
  .changeset/lucky-months-flow.md
  packages/preview-middleware/src/base/flp.ts
  packages/preview-middleware/test/unit/ui5/middleware.test.ts
Labels: preview-middleware
