Repository SAP/open-ux-tools, pull requests merged in 2023-01, with the labels that each got.

#862 fix(ui-components): Cursor styling when doing reordering in Table
  .changeset/sixty-years-float.md
  packages/ui-components/src/components/UIFlexibleTable/UIFlexibleTable.tsx
  packages/ui-components/test/unit/components/UIFlexibleTable.test.tsx
Labels: ui-components

#857 fix(fe-fpm-writer): Writing into manifest.json always provides 2 spaces for tab size.
  .changeset/fifty-schools-hug.md
  packages/fe-fpm-writer/src/action/index.ts
  packages/fe-fpm-writer/src/column/index.ts
  packages/fe-fpm-writer/src/common/file.ts
  packages/fe-fpm-writer/src/common/types.ts
  packages/fe-fpm-writer/src/controller-extension/index.ts
  packages/fe-fpm-writer/src/page/common.ts
  packages/fe-fpm-writer/src/page/custom.ts
  packages/fe-fpm-writer/src/page/list.ts
  packages/fe-fpm-writer/src/page/object.ts
  packages/fe-fpm-writer/src/page/types.ts
  packages/fe-fpm-writer/src/section/index.ts
  packages/fe-fpm-writer/src/view/index.ts
  packages/fe-fpm-writer/test/common/index.ts
  packages/fe-fpm-writer/test/unit/action.test.ts
  packages/fe-fpm-writer/test/unit/column.test.ts
  packages/fe-fpm-writer/test/unit/common.test.ts
  packages/fe-fpm-writer/test/unit/controller-extension.test.ts
  packages/fe-fpm-writer/test/unit/page/custom.test.ts
  packages/fe-fpm-writer/test/unit/page/list.test.ts
  packages/fe-fpm-writer/test/unit/page/object.test.ts
  packages/fe-fpm-writer/test/unit/section.test.ts
  packages/fe-fpm-writer/test/unit/view.test.ts
Labels: fe-fpm-writer

#859 feat(ui-components): Tinkering with disabled and readonly input fields
  .changeset/twelve-ways-unite.md
  packages/ui-components/src/components/UIComboBox/UIComboBox.scss
  packages/ui-components/src/components/UIComboBox/UIComboBox.tsx
  packages/ui-components/src/components/UIComboBox/_mixins.scss
  packages/ui-components/src/components/UIDropdown/UIDropdown.scss
  packages/ui-components/src/components/UIDropdown/UIDropdown.tsx
  packages/ui-components/src/components/UIDropdown/index.tsx
  packages/ui-components/src/components/UIDropdown/utils.ts
  packages/ui-components/src/components/UIInput/UITextInput.tsx
  packages/ui-components/src/components/UITreeDropdown/UITreeDropdown.scss
  packages/ui-components/src/components/UITreeDropdown/UITreeDropdown.tsx
  packages/ui-components/src/styles/_variables.scss
  packages/ui-components/stories/UICombobox.story.tsx
  packages/ui-components/stories/UIDropdown.story.tsx
  packages/ui-components/stories/UITextInput.story.tsx
  packages/ui-components/stories/UITreedropdown.story.tsx
  packages/ui-components/test/__snapshots__/UITextfield.test.tsx.snap
  packages/ui-components/test/unit/components/UICombobox.test.tsx
  packages/ui-components/test/unit/components/UIDropdown.test.tsx
  packages/ui-components/test/unit/components/UITextfield.test.tsx
  packages/ui-components/test/unit/components/UITreeDropdown.test.tsx
Labels: ui-components

#867 tbi(environment-check): search node path for installed gens
  .changeset/real-readers-grab.md
  packages/environment-check/src/checks/get-installed.ts
  packages/environment-check/test/checks/get-installed.test.ts
Labels: environment-check

#872 fix(ui-components): Cursor styling for UIFlexibleTable
  .changeset/sharp-zoos-speak.md
  packages/ui-components/src/components/UIFlexibleTable/UIFlexibleTable.tsx
  packages/ui-components/src/components/UIFlexibleTable/UIFlexibleTableRowNoData.tsx
  packages/ui-components/test/unit/components/UIFlexibleTable.test.tsx
Labels: ui-components

#874 fix(ui-components): UITextInput. Background color issue for readonly fields
  .changeset/loud-phones-kick.md
  packages/ui-components/src/components/UIInput/UITextInput.tsx
  packages/ui-components/test/__snapshots__/UITextfield.test.tsx.snap
Labels: ui-components
