Repository SAP/open-ux-tools, pull requests merged in 2023-07, with the labels that each got.

#1088 fix(environment-check): ignore `.git` folder for archive
  .changeset/hungry-games-hug.md
  packages/environment-check/src/archive/index.ts
  packages/environment-check/test/archive/index.test.ts
Labels: environment-check

#1091 feat(ui-components): add `terminal` icon
  .changeset/silly-spoons-live.md
  packages/ui-components/src/components/Icons.tsx
Labels: ui-components

#1111 feat(app-config-writer): Adds basic inbound navigation
  .changeset/nine-carrots-give.md
  packages/app-config-writer/src/i18n.ts
  packages/app-config-writer/src/index.ts
  packages/app-config-writer/src/navigation-config/index.ts
  packages/app-config-writer/src/prompt/index.ts
  packages/app-config-writer/src/prompt/navigation-config.ts
  packages/app-config-writer/src/translations/navigation-config.json
  packages/app-config-writer/test/fixtures/navigation-config/sap-app-not-defined/webapp/manifest.json
  packages/app-config-writer/test/fixtures/navigation-config/ui5-app-inbounds/webapp/manifest.json
  packages/app-config-writer/test/fixtures/navigation-config/ui5-app-no-inbounds/webapp/manifest.json
  packages/app-config-writer/test/unit/navigation-config/__snapshots__/generateNavigationConfig.test.ts.snap
  packages/app-config-writer/test/unit/navigation-config/generateNavigationConfig.test.ts
  packages/app-config-writer/test/unit/prompt/navigation-config.test.ts
  packages/create/src/cli/add/index.ts
  packages/create/src/cli/add/navigation-config.ts
  packages/create/test/unit/cli/add/inbound-navigation-config.test.ts
Labels: feature
