Repository SAP/open-ux-tools, pull requests merged in 2023-03, with the labels that each got.

#858 fix(fe-fpm-writer): controller-extension for TS application. Error 'Subsequent property declarations must have the same type. Property 'base' must be of type '{ getExtensionAPI():...'
  .changeset/hip-actors-deliver.md
  .changeset/moody-hairs-grab.md
  packages/fe-fpm-writer/src/controller-extension/index.ts
  packages/fe-fpm-writer/templates/controller-extension/Controller.ts
  packages/fe-fpm-writer/templates/controller-extension/ControllerExtension.d.ts
  packages/fe-fpm-writer/test/integration/__snapshots__/index.test.ts.snap
  packages/fe-fpm-writer/test/integration/index.test.ts
  packages/fe-fpm-writer/test/test-input/basic-ts/.babelrc.json
  packages/fe-fpm-writer/test/test-input/basic-ts/package.json
  packages/fe-fpm-writer/test/unit/__snapshots__/controller-extension.test.ts.snap
  packages/fe-fpm-writer/test/unit/controller-extension.test.ts
  packages/fiori-elements-writer/test/__snapshots__/feop.test.ts.snap
  packages/fiori-elements-writer/test/__snapshots__/fpm.test.ts.snap
  packages/fiori-elements-writer/test/__snapshots__/lrop.test.ts.snap
  packages/fiori-freestyle-writer/test/__snapshots__/basic.test.ts.snap
  packages/fiori-freestyle-writer/test/__snapshots__/listdetail.test.ts.snap
  packages/fiori-freestyle-writer/test/__snapshots__/worklist.test.ts.snap
  packages/ui5-application-writer/templates/optional/typescript/.babelrc.json
  packages/ui5-application-writer/templates/optional/typescript/package.json
  packages/ui5-application-writer/test/__snapshots__/options.test.ts.snap
Labels: fe-fpm-writer

#939 fix(pipeline): incorrect notification message in slack notification step
  .github/workflows/pipeline.yml
Labels: pipeline

#944 fix(backend-proxy-middleware): Enable FLP Embedded preview to load in case of encoding failure
  .changeset/two-scissors-clap.md
  packages/backend-proxy-middleware/src/base/proxy.ts
  packages/backend-proxy-middleware/test/base/proxy.test.ts
Labels: backend-proxy-middleware
