Repository SAP/open-ux-tools, pull requests merged in 2023-02, with the labels that each got.

#877 feat(ui-components)L UITranslationInput component
  .changeset/wise-rocks-film.md
  packages/ui-components/src/components/UITranslationInput/UIFormattedText.tsx
  packages/ui-components/src/components/UITranslationInput/UILoadButton.scss
  packages/ui-components/src/components/UITranslationInput/UILoadButton.tsx
  packages/ui-components/src/components/UITranslationInput/UITranslationButton.tsx
  packages/ui-components/src/components/UITranslationInput/UITranslationButton.types.ts
  packages/ui-components/src/components/UITranslationInput/UITranslationInput.scss
  packages/ui-components/src/components/UITranslationInput/UITranslationInput.tsx
  packages/ui-components/src/components/UITranslationInput/UITranslationUtils.ts
  packages/ui-components/src/components/UITranslationInput/defaults.ts
  packages/ui-components/src/components/UITranslationInput/index.tsx
  packages/ui-components/src/components/index.tsx
  packages/ui-components/stories/UITranslationInput.story.tsx
  packages/ui-components/test/__snapshots__/UITranslationInput/UIMessageText.test.tsx.snap
  packages/ui-components/test/unit/components/UITranslationInput/UILoadButton.test.tsx
  packages/ui-components/test/unit/components/UITranslationInput/UIMessageText.test.tsx
  packages/ui-components/test/unit/components/UITranslationInput/UITranslationInput.test.tsx
  packages/ui-components/test/unit/components/UITranslationInput/UITranslationUtils.test.ts
  packages/ui-components/test/unit/components/UITranslationInput/utils.ts
Labels: ui-components

#889 feat(ui-components): new icon message sent added
  .changeset/thirty-otters-develop.md
  packages/ui-components/src/components/Icons.tsx
Labels: feature

#894 fix(env-check): add optional parameter 'targetFolder' for the archiveProject method
  .changeset/spicy-fishes-fly.md
  packages/environment-check/src/archive/index.ts
  packages/environment-check/test/archive/index.test.ts
Labels: environment-check

#906 fix(yaml): do not throw errors for multi doc yaml
  .changeset/cyan-donkeys-fail.md
  packages/project-access/test/project/ui5-config.test.ts
  packages/project-access/test/test-data/project/webapp-path/custom-webapp-path-multi-yaml/src/webapp/manifest.json
  packages/project-access/test/test-data/project/webapp-path/custom-webapp-path-multi-yaml/ui5.yaml
  packages/yaml/src/yaml-document.ts
  packages/yaml/test/yaml-document.test.ts
Labels: yaml

#925 fix(axios-extension): consider segment parameters in service uri
  .changeset/four-eagles-glow.md
  packages/axios-extension/src/abap/catalog/v2-catalog-service.ts
  packages/axios-extension/test/abap/catalog/v2-catalog-service.test.ts
Labels: axios-extension
