Repository SAP/open-ux-tools, pull requests merged in 2023-08, with the labels that each got.

#1127 feat(preview): enable programmatic usage of the preview middleware
  .changeset/clean-radios-double.md
  packages/preview-middleware/README.md
  packages/preview-middleware/src/base/flp.ts
  packages/preview-middleware/src/base/index.ts
  packages/preview-middleware/src/index.ts
  packages/preview-middleware/src/types/index.ts
  packages/preview-middleware/test/unit/base/flp.test.ts
Labels: preview-middleware

#1138 Correct code snippets in readme
  packages/backend-proxy-middleware/README.md
Labels: backend-proxy-middleware

#1142 feat(fe-fpm-writer): Custom header section
  .changeset/beige-onions-remember.md
  packages/fe-fpm-writer/src/action/index.ts
  packages/fe-fpm-writer/src/column/index.ts
  packages/fe-fpm-writer/src/common/defaults.ts
  packages/fe-fpm-writer/src/common/event-handler.ts
  packages/fe-fpm-writer/src/filter/index.ts
  packages/fe-fpm-writer/src/index.ts
  packages/fe-fpm-writer/src/section/index.ts
  packages/fe-fpm-writer/src/section/types.ts
  packages/fe-fpm-writer/src/view/index.ts
  packages/fe-fpm-writer/templates/header-section/1.85/manifest.json
  packages/fe-fpm-writer/templates/header-section/1.86/manifest.json
  packages/fe-fpm-writer/test/integration/__snapshots__/basic-lrop-app.test.ts.snap
  packages/fe-fpm-writer/test/integration/basic-lrop-app.test.ts
  packages/fe-fpm-writer/test/unit/__snapshots__/header-section.test.ts.snap
  packages/fe-fpm-writer/test/unit/header-section.test.ts
Labels: fe-fpm-writer
