Repository SAP/open-ux-tools, pull requests merged in 2023-12, with the labels that each got.

#1525 Fix: show save button on UI5 versions lower than 1.110
  .changeset/wise-snails-nail.md
  packages/preview-middleware/templates/flp/sandbox.html
Labels: preview-middleware, preview-middleware-client

#1521 Fix: White spaces behind the ConExt/Fragment name are not validated/trimmed
  .changeset/big-ducks-boil.md
  packages/preview-middleware-client/src/adp/controllers/BaseDialog.controller.ts
  packages/preview-middleware-client/src/adp/controllers/ControllerExtension.controller.ts
  packages/preview-middleware-client/test/unit/adp/controllers/AddFragment.controller.test.ts
  packages/preview-middleware-client/test/unit/adp/controllers/ControllerExtension.controller.test.ts
Labels: preview-middleware, preview-middleware-client

#1535 feat(ui-components): add `Validate*` icons
  .changeset/shy-badgers-search.md
  packages/ui-components/src/components/Icons.tsx
Labels: ui-components

#1507 feat: add integration test for preview
  .changeset/bright-vans-add.md
  .github/workflows/pipeline.yml
  .gitignore
  .prettierignore
  jest.base.js
  nx.json
  package.json
  packages/playwright/.eslintignore
  packages/playwright/.eslintrc.js
  packages/playwright/LICENSE
  packages/playwright/README.md
  packages/playwright/jest.config.js
  packages/playwright/package.json
  packages/playwright/src/index.ts
  packages/playwright/src/project/copy.ts
  packages/playwright/src/project/index.ts
  packages/playwright/src/project/npm.ts
  packages/playwright/src/project/project.ts
  packages/playwright/src/server/index.ts
  packages/playwright/src/types.ts
  packages/playwright/test/fixtures/simple-app/package.json
  packages/playwright/test/fixtures/simple-app/src/README.md
  packages/playwright/test/unit/project/copy.test.ts
  packages/playwright/test/unit/project/npm.test.ts
  packages/playwright/test/unit/project/project.test.ts
  packages/playwright/test/unit/server/index.test.ts
  packages/playwright/tsconfig.eslint.json
  packages/playwright/tsconfig.json
  packages/preview-middleware/package.json
  packages/preview-middleware/playwright.config.ts
  packages/preview-middleware/test/integration/README.md
  packages/preview-middleware/test/integration/preview/preview.spec.ts
  packages/preview-middleware/tsconfig.eslint.json
  packages/preview-middleware/tsconfig.json
  pnpm-lock.yaml
  sonar-project.properties
  tsconfig.json
Labels: preview-middleware

#1539 Invalid target aggregation and index are accepted in Add Fragment dialog
  .changeset/new-countries-wave.md
  packages/preview-middleware-client/src/adp/controllers/AddFragment.controller.ts
  packages/preview-middleware-client/src/adp/ui/AddFragment.view.xml
  packages/preview-middleware-client/test/unit/adp/controllers/AddFragment.controller.test.ts
Labels: preview-middleware, preview-middleware-client

#1527 fix: No unsaved change shown when adding fragment to extension point
  .changeset/nervous-masks-dress.md
  packages/preview-middleware-client/src/cpe/changes/service.ts
  packages/preview-middleware-client/test/unit/cpe/changes/service.test.ts
  packages/preview-middleware-client/types/sap.ui.rta.d.ts
Labels: preview-middleware, preview-middleware-client

#1549 feat: fragmentFile property for custom extensions
  .changeset/angry-roses-draw.md
  packages/fe-fpm-writer/src/column/index.ts
  packages/fe-fpm-writer/src/column/types.ts
  packages/fe-fpm-writer/src/common/types.ts
  packages/fe-fpm-writer/src/section/index.ts
  packages/fe-fpm-writer/src/section/types.ts
  packages/fe-fpm-writer/templates/column/1.84/manifest.json
  packages/fe-fpm-writer/templates/column/1.85/manifest.json
  packages/fe-fpm-writer/templates/column/1.86/manifest.json
  packages/fe-fpm-writer/templates/header-section/1.86/manifest.json
  packages/fe-fpm-writer/templates/section/1.86/manifest.json
  packages/fe-fpm-writer/templates/subsection/1.86/manifest.json
  packages/fe-fpm-writer/test/unit/__snapshots__/column.test.ts.snap
  packages/fe-fpm-writer/test/unit/__snapshots__/section.test.ts.snap
  packages/fe-fpm-writer/test/unit/column.test.ts
  packages/fe-fpm-writer/test/unit/section.test.ts
Labels: fe-fpm-writer

#1545 fix: Disable manual typing values in dropdowns
  .changeset/yellow-oranges-study.md
  packages/control-property-editor/src/panels/properties/DropdownEditor.tsx
  packages/control-property-editor/test/unit/panels/properties/DropdownEditor.test.tsx
Labels: control-property-editor

#1560 fix: correct playwright config to avoid timeout on failure
  packages/preview-middleware/playwright.config.ts
Labels: preview-middleware

#1561 fix(preview-middleware): do not block app loading if registering of reuse libs fails
  .changeset/soft-apples-clap.md
  packages/preview-middleware-client/src/flp/init.ts
  packages/preview-middleware-client/test/unit/flp/init.test.ts
Labels: preview-middleware

#1519 fix: the extension points not shown as such in the Outline for ADP
  .changeset/small-socks-guess.md
  packages/control-property-editor/src/panels/outline/Tree.tsx
  packages/control-property-editor/test/unit/panels/outline/OutlinePanel.test.tsx
  packages/preview-middleware-client/src/adp/controllers/ExtensionPoint.controller.ts
  packages/preview-middleware-client/src/adp/extension-point.ts
  packages/preview-middleware-client/src/adp/ui/ExtensionPoint.view.xml
  packages/preview-middleware-client/test/unit/adp/controllers/ExtensionPoint.controller.test.ts
  packages/preview-middleware-client/test/unit/adp/extension-point.test.ts
Labels: control-property-editor, control-property-editor-common

#1531 fix: "Confirm property change deletion"'s message on delete is only for property changes
  .changeset/curvy-rabbits-run.md
  packages/control-property-editor/src/i18n/i18n.json
  packages/control-property-editor/src/panels/changes/UnknownChange.tsx
  packages/control-property-editor/test/unit/panels/changes/ChangesPanel.test.tsx
Labels: control-property-editor, control-property-editor-common
