Repository SAP/open-ux-tools, pull requests merged in 2024-06, with the labels that each got.

#1972 feat: Add explanation at the end of disabled context menu item due to non stable id
  .changeset/ten-snakes-occur.md
  packages/preview-middleware-client/src/adp/init-dialogs.ts
  packages/preview-middleware-client/test/unit/adp/init-dialogs.test.ts
  packages/preview-middleware-client/types/sap.ui.dt.d.ts
Labels: feature, preview-middleware, preview-middleware-client

#1999 fix: Custom action path within custom section
  .changeset/cool-tables-fetch.md
  packages/fe-fpm-writer/src/action/index.ts
  packages/fe-fpm-writer/test/unit/__snapshots__/action.test.ts.snap
Labels: fe-fpm-writer

#2004 fix: Generated custom action path
  .changeset/red-emus-play.md
  packages/fe-fpm-writer/src/action/index.ts
  packages/fe-fpm-writer/test/unit/__snapshots__/action.test.ts.snap
Labels: fe-fpm-writer

#1985 Feat(axios extension): Load service annotations without service catalog request
  .changeset/hot-rivers-hammer.md
  packages/axios-extension/src/abap/catalog/v2-catalog-service.ts
  packages/axios-extension/src/base/patchTls.ts
  packages/axios-extension/src/cacerts/sap-global-root-ca.ts
  packages/axios-extension/src/factory.ts
  packages/axios-extension/test/base/patchTls.test.ts
Labels: axios-extension

#2016 fix: Add new model writer has misspelled property that breaks the validation of the change
  .changeset/mean-beds-notice.md
  packages/adp-tooling/src/writer/changes/writers/new-model-writer.ts
  packages/adp-tooling/test/unit/writer/changes/writers/index.test.ts
Labels: bug, adp-tooling

#2008 fix: UIContextualMenu. Wrong visualisation of menu item without text when menu contains at least one menu item with icon
  .changeset/quiet-shirts-share.md
  packages/ui-components/src/components/UIContextualMenu/UIContextualMenu.tsx
  packages/ui-components/stories/UIButton.story.tsx
  packages/ui-components/test/unit/components/UIContextualMenu.test.tsx
Labels: ui-components

#2011 feat: Update of JSON files with previous spacing
  .changeset/brave-islands-juggle.md
  packages/project-access/package.json
  packages/project-access/src/file/file-access.ts
  packages/project-access/src/file/index.ts
  packages/project-access/src/project/access.ts
  packages/project-access/src/types/access/index.ts
  packages/project-access/src/types/json-parse-even-better-errors.d.ts
  packages/project-access/test/file/file-access.test.ts
  packages/project-access/test/project/access.test.ts
  packages/project-access/test/test-data/json/manifest/manifest-double-space.json
  packages/project-access/test/test-data/json/manifest/manifest-single-space.json
  packages/project-access/test/test-data/json/package/package-double-space.json
  packages/project-access/test/test-data/json/package/package-single-space.json
  pnpm-lock.yaml
Labels: project-access

#1986 feature(odata-service-inquirer): Adds service url prompting
  .changeset/fast-emus-fold.md
  packages/inquirer-common/package.json
  packages/inquirer-common/src/prompts/helpers.ts
  packages/odata-service-inquirer/package.json
  packages/odata-service-inquirer/src/error-handler/error-handler.ts
  packages/odata-service-inquirer/src/i18n.ts
  packages/odata-service-inquirer/src/index.ts
  packages/odata-service-inquirer/src/prompts/datasources/cap-project/questions.ts
  packages/odata-service-inquirer/src/prompts/datasources/service-url/connectionValidator.ts
  packages/odata-service-inquirer/src/prompts/datasources/service-url/questions.ts
  packages/odata-service-inquirer/src/prompts/datasources/service-url/types.ts
  packages/odata-service-inquirer/src/prompts/datasources/service-url/validators.ts
  packages/odata-service-inquirer/src/prompts/logger-helper.ts
  packages/odata-service-inquirer/src/prompts/prompts.ts
  packages/odata-service-inquirer/src/prompts/validators.ts
  packages/odata-service-inquirer/src/translations/odata-service-inquirer.i18n.json
  packages/odata-service-inquirer/src/types.ts
  packages/odata-service-inquirer/src/utils/index.ts
  packages/odata-service-inquirer/src/utils/prompt-state.ts
  packages/odata-service-inquirer/test/unit/error-handler/error-handler.test.ts
  packages/odata-service-inquirer/test/unit/index-api.test.ts
  packages/odata-service-inquirer/test/unit/prompts/cap-project/questions.test.ts
  packages/odata-service-inquirer/test/unit/prompts/metadata-file/metadata-file.test.ts
  packages/odata-service-inquirer/test/unit/prompts/prompts.test.ts
  packages/odata-service-inquirer/test/unit/prompts/service-url/connectionValidator.test.ts
  packages/odata-service-inquirer/test/unit/prompts/service-url/questions.test.ts
  packages/odata-service-inquirer/test/unit/prompts/service-url/validators.test.ts
  packages/odata-service-inquirer/test/unit/utils/fixtures/invalid_metadata.xml
  packages/odata-service-inquirer/test/unit/utils/fixtures/metadata_origin.xml
  packages/odata-service-inquirer/test/unit/utils/fixtures/metadata_v2.xml
  packages/odata-service-inquirer/test/unit/utils/fixtures/metadata_v4.xml
  packages/odata-service-inquirer/test/unit/utils/utils.test.ts
  packages/odata-service-inquirer/tsconfig.json
  pnpm-lock.yaml
Labels: odata-service-inquirer

#1775 feat: Switch Adaptation Project's generator/wizard to use Open Source writers
  .changeset/famous-panthers-occur.md
  .changeset/three-pianos-walk.md
  packages/adp-tooling/src/base/prompt.ts
  packages/adp-tooling/src/types.ts
  packages/adp-tooling/src/writer/index.ts
  packages/adp-tooling/src/writer/options.ts
  packages/adp-tooling/src/writer/project-utils.ts
  packages/adp-tooling/templates/project/package.json
  packages/adp-tooling/templates/project/ui5.yaml
  packages/adp-tooling/templates/project/webapp/i18n/i18n.properties
  packages/adp-tooling/templates/project/webapp/manifest.appdescr_variant
  packages/adp-tooling/test/unit/base/prompt.test.ts
  packages/adp-tooling/test/unit/writer/__snapshots__/index.test.ts.snap
  packages/adp-tooling/test/unit/writer/index.test.ts
  packages/adp-tooling/test/unit/writer/project-utils.test.ts
  packages/create/src/cli/generate/adaptation-project.ts
  packages/create/test/unit/cli/generate/adaptation-project.test.ts
Labels: feature, preview-middleware, adp-tooling

#2064 feat(axios-extension): use new service gen api
  .changeset/light-numbers-accept.md
  examples/odata-cli/src/activities.ts
  packages/axios-extension/src/abap/adt-catalog/generators/ui-service-generator.ts
  packages/axios-extension/src/abap/adt-catalog/services/generator-service.ts
  packages/axios-extension/src/abap/adt-catalog/services/index.ts
  packages/axios-extension/src/abap/adt-catalog/services/publish-service.ts
  packages/axios-extension/src/abap/types/adt-types.ts
  packages/axios-extension/test/abap/abap-adt-service.test.ts
  packages/axios-extension/test/abap/mockResponses/generateResponse.json
  packages/axios-extension/test/abap/mockResponses/generatorConfig.xml
  packages/axios-extension/test/abap/mockResponses/publishResponse.xml
  packages/axios-extension/test/abap/mockResponses/schemaResponse.json
  packages/axios-extension/test/abap/mockResponses/validationResponse.xml
Labels: axios-extension

#1918 feat(preview-middleware-client): Reduce eslint warnings in preview-middleware-client
  .changeset/little-wasps-check.md
  packages/preview-middleware-client/src/adp/api-handler.ts
  packages/preview-middleware-client/src/adp/command-executor.ts
  packages/preview-middleware-client/src/adp/controllers/AddFragment.controller.ts
  packages/preview-middleware-client/src/adp/controllers/BaseDialog.controller.ts
  packages/preview-middleware-client/src/adp/controllers/ControllerExtension.controller.ts
  packages/preview-middleware-client/src/adp/controllers/ExtensionPoint.controller.ts
  packages/preview-middleware-client/src/adp/init-dialogs.ts
  packages/preview-middleware-client/src/adp/init.ts
  packages/preview-middleware-client/src/adp/ui5-version-utils.ts
  packages/preview-middleware-client/src/cpe/changes/service.ts
  packages/preview-middleware-client/src/cpe/changes/validator.ts
  packages/preview-middleware-client/src/cpe/control-data.ts
  packages/preview-middleware-client/src/cpe/documentation.ts
  packages/preview-middleware-client/src/cpe/error-utils.ts
  packages/preview-middleware-client/src/cpe/init.ts
  packages/preview-middleware-client/src/cpe/outline/index.ts
  packages/preview-middleware-client/src/cpe/selection.ts
  packages/preview-middleware-client/src/flp/init.ts
  packages/preview-middleware-client/test/unit/adp/command-executor.test.ts
  packages/preview-middleware-client/test/unit/adp/controllers/ControllerExtension.controller.test.ts
  packages/preview-middleware-client/test/unit/adp/controllers/ExtensionPoint.controller.test.ts
  packages/preview-middleware-client/test/unit/cpe/changes/validator.spec.ts
  packages/preview-middleware-client/test/unit/cpe/init.test.ts
Labels: preview-middleware-client

#1925 feat: Add Adaptation Project's Change Data Source generator prompting
  .changeset/slow-ears-argue.md
  .changeset/unlucky-parrots-applaud.md
  packages/adp-tooling/README.md
  packages/adp-tooling/package.json
  packages/adp-tooling/src/base/abap.ts
  packages/adp-tooling/src/base/change-utils.ts
  packages/adp-tooling/src/i18n.ts
  packages/adp-tooling/src/index.ts
  packages/adp-tooling/src/prompts/change-data-source/index.ts
  packages/adp-tooling/src/prompts/index.ts
  packages/adp-tooling/src/translations/adp-tooling.i18n.json
  packages/adp-tooling/src/types.ts
  packages/adp-tooling/src/writer/changes/writers/annotations-writer.ts
  packages/adp-tooling/src/writer/changes/writers/component-usages-writer.ts
  packages/adp-tooling/src/writer/changes/writers/data-source-writer.ts
  packages/adp-tooling/src/writer/changes/writers/inbound-writer.ts
  packages/adp-tooling/src/writer/changes/writers/new-model-writer.ts
  packages/adp-tooling/test/fixtures/base-app/manifest.json
  packages/adp-tooling/test/unit/base/abap.test.ts
  packages/adp-tooling/test/unit/base/change-utils.test.ts
  packages/adp-tooling/test/unit/i18n.test.ts
  packages/adp-tooling/test/unit/prompts/change-data-source/index.test.ts
  packages/adp-tooling/test/unit/writer/changes/writers/index.test.ts
  packages/adp-tooling/tsconfig.json
  packages/axios-extension/src/abap/app-index-service.ts
  packages/axios-extension/src/abap/index.ts
  packages/axios-extension/test/abap/app-index-service.test.ts
  packages/axios-extension/test/abap/mockResponses/ui5AppInfo.json
  packages/create/README.md
  packages/create/package.json
  packages/create/src/cli/change/change-data-source.ts
  packages/create/src/cli/change/index.ts
  packages/create/src/cli/index.ts
  packages/create/src/common/prompts.ts
  packages/create/test/fixtures/adaptation-project/manifest.appdescr_variant
  packages/create/test/fixtures/adaptation-project/manifest.json
  packages/create/test/fixtures/adaptation-project/ui5AppInfo.json
  packages/create/test/unit/cli/change/change-data-source.test.ts
  packages/create/test/unit/common/prompts.test.ts
  packages/create/tsconfig.json
  packages/fiori-annotation-api/jest.config.js
  packages/inquirer-common/src/types.ts
  packages/project-access/src/index.ts
  packages/project-access/src/project/index.ts
  packages/project-access/src/project/service.ts
  packages/project-access/test/project/service.test.ts
  pnpm-lock.yaml
  sonar-project.properties
Labels: feature, axios-extension, create, adp-tooling
