Repository SAP/open-ux-tools, pull requests merged in 2024-03, with the labels that each got.

#1734 fix: Express package installation required for adp-tooling even if the preview module is not used
  .changeset/neat-bobcats-sin.md
  packages/adp-tooling/package.json
  packages/adp-tooling/src/preview/adp-preview.ts
  packages/adp-tooling/test/unit/preview/adp-preview.test.ts
  packages/preview-middleware/src/base/flp.ts
  pnpm-lock.yaml
Labels: preview-middleware, adp-tooling

#1745 fix: Using inbound navigation writer to generate appropriate change does not produce correct results
  .changeset/tasty-balloons-join.md
  packages/adp-tooling/src/base/change-utils.ts
  packages/adp-tooling/test/unit/base/change-utils.test.ts
Labels: adp-tooling

#1748 fix(project-access): remove setting of cds.root
  .changeset/silly-emus-melt.md
  packages/project-access/src/project/cap.ts
  packages/project-access/test/project/cap.test.ts
Labels: project-access

#1731 feat: implementation for different loader within combobox
  .changeset/wicked-drinks-return.md
  packages/ui-components/src/components/UIComboBox/UIComboBox.tsx
  packages/ui-components/stories/UICombobox.story.tsx
  packages/ui-components/test/unit/components/UICombobox.test.tsx
Labels: ui-components
