Repository SAP/open-ux-tools, pull requests merged in 2024-08, with the labels that each got.

#2098 feat: Add Adaptation Project's OData Service and SAPUI5 Model prompting
  .changeset/soft-tools-wink.md
  packages/adp-tooling/package.json
  packages/adp-tooling/src/base/cf.ts
  packages/adp-tooling/src/base/change-utils.ts
  packages/adp-tooling/src/base/helper.ts
  packages/adp-tooling/src/base/prompt.ts
  packages/adp-tooling/src/base/validators.ts
  packages/adp-tooling/src/index.ts
  packages/adp-tooling/src/prompts/add-annotations-to-odata/index.ts
  packages/adp-tooling/src/prompts/add-new-model/index.ts
  packages/adp-tooling/src/prompts/change-data-source/index.ts
  packages/adp-tooling/src/prompts/index.ts
  packages/adp-tooling/src/translations/adp-tooling.i18n.json
  packages/adp-tooling/src/types.ts
  packages/adp-tooling/src/writer/changes/writers/annotations-writer.ts
  packages/adp-tooling/src/writer/changes/writers/new-model-writer.ts
  packages/adp-tooling/test/unit/base/change-utils.test.ts
  packages/adp-tooling/test/unit/base/helper.test.ts
  packages/adp-tooling/test/unit/base/validators.test.ts
  packages/adp-tooling/test/unit/prompts/add-annotations-to-odata/index.test.ts
  packages/adp-tooling/test/unit/prompts/add-new-model/index.test.ts
  packages/adp-tooling/test/unit/writer/changes/writers/index.test.ts
  packages/adp-tooling/tsconfig.json
  packages/create/README.md
  packages/create/src/cli/add/index.ts
  packages/create/src/cli/add/new-model.ts
  packages/create/src/common/prompts.ts
  packages/create/src/validation/validation.ts
  packages/create/test/unit/cli/add/new-model.test.ts
  packages/inquirer-common/src/types.ts
  packages/project-input-validator/src/adp/validators.ts
  packages/project-input-validator/src/general/validators.ts
  packages/project-input-validator/src/index.ts
  packages/project-input-validator/src/translations/project-input-validator.i18n.json
  packages/project-input-validator/test/adp-validators.test.ts
  packages/project-input-validator/test/general-validators.test.ts
  packages/project-input-validator/tsconfig.json
  pnpm-lock.yaml
Labels: feature, create, adp-tooling

#2208 Fix/2207/undefined ui5 version
  .changeset/nice-dogs-shop.md
  packages/preview-middleware-client/src/adp/init.ts
  packages/preview-middleware-client/src/cpe/connector-service.ts
  packages/preview-middleware-client/src/cpe/outline/nodes.ts
  packages/preview-middleware-client/src/flp/WorkspaceConnector.ts
  packages/preview-middleware-client/src/flp/init.ts
  packages/preview-middleware-client/src/utils/version.ts
  packages/preview-middleware-client/test/unit/utils/version.test.ts
  packages/preview-middleware-client/types/global.d.ts
Labels: bug, preview-middleware-client

#2221 fix: add xml fragment
  .changeset/great-buttons-look.md
  packages/preview-middleware-client/src/adp/controllers/BaseDialog.controller.ts
  packages/preview-middleware-client/src/adp/utils.ts
  packages/preview-middleware-client/test/unit/adp/controllers/AddFragment.controller.test.ts
Labels: bug, preview-middleware-client

#2219 chore: update sanitize-html, ws and transitive dependencies
  .changeset/chilly-buses-repair.md
  .changeset/fluffy-tips-cough.md
  examples/prompting-ui/package.json
  package.json
  packages/adp-tooling/test/unit/prompts/add-new-model/index.test.ts
  packages/adp-tooling/test/unit/prompts/change-inbound/index.test.ts
  packages/axios-extension/src/abap/adt-catalog/services/transportrequest-service.ts
  packages/ui-components/package.json
  packages/ui-components/src/components/UIComboBox/UIComboBox.tsx
  pnpm-lock.yaml
Labels: security

#2233 fix(ui5-info): Fixes out of date ui5-version fallbacks
  .changeset/stale-squids-argue.md
  packages/ui5-info/src/ui5-version-fallback.ts
  packages/ui5-info/test/__snapshots__/ui5-version-info.test.ts.snap
  packages/ui5-info/test/commands.test.ts
Labels: ui5-info

#2160 Performace/project access/parallel filter applications
  .changeset/quiet-pears-hunt.md
  packages/project-access/src/project/search.ts
Labels: project-access

#2243 chore: remove unnecessry overrides and update dependencies
  docs/version-overrides.md
  package.json
  pnpm-lock.yaml
Labels: dependencies

#2183 Fix(preview middleware) preview client url
  .changeset/popular-owls-arrive.md
  packages/preview-middleware-client/src/flp/bootstrap.js
  packages/preview-middleware-client/test/unit/flp/bootstrap.test.ts
  packages/preview-middleware-client/types/global.d.ts
  packages/preview-middleware/README.md
  packages/preview-middleware/src/base/config.ts
  packages/preview-middleware/src/base/flp.ts
  packages/preview-middleware/templates/flp/sandbox.html
  packages/preview-middleware/test/unit/base/__snapshots__/config.test.ts.snap
  packages/preview-middleware/test/unit/base/__snapshots__/flp.test.ts.snap
  packages/preview-middleware/test/unit/base/config.test.ts
  packages/preview-middleware/test/unit/base/flp.test.ts
Labels: bug, preview-middleware

#2236 Refactor usage of ui5 version
  .changeset/five-elephants-collect.md
  packages/preview-middleware-client/src/adp/init-dialogs.ts
  packages/preview-middleware-client/src/adp/init.ts
  packages/preview-middleware-client/src/adp/ui5-version-utils.ts
  packages/preview-middleware-client/src/cpe/connector-service.ts
  packages/preview-middleware-client/src/cpe/outline/nodes.ts
  packages/preview-middleware-client/src/cpe/outline/utils.ts
  packages/preview-middleware-client/src/flp/WorkspaceConnector.ts
  packages/preview-middleware-client/src/flp/bootstrap.js
  packages/preview-middleware-client/src/flp/init.ts
  packages/preview-middleware-client/src/flp/initConnectors.ts
  packages/preview-middleware-client/src/utils/version.ts
  packages/preview-middleware-client/test/unit/adp/init-dialogs.test.ts
  packages/preview-middleware-client/test/unit/adp/init.test.ts
  packages/preview-middleware-client/test/unit/adp/ui5-version-utils.test.ts
  packages/preview-middleware-client/test/unit/cpe/connector-service.test.ts
  packages/preview-middleware-client/test/unit/cpe/outline/index.test.ts
  packages/preview-middleware-client/test/unit/cpe/outline/nodes.test.ts
  packages/preview-middleware-client/test/unit/cpe/outline/utils.test.ts
  packages/preview-middleware-client/test/unit/flp/WorkspaceConnector.test.ts
  packages/preview-middleware-client/test/unit/flp/bootstrap.test.ts
  packages/preview-middleware-client/test/unit/flp/init.test.ts
  packages/preview-middleware-client/test/unit/flp/initConnectors.test.ts
  packages/preview-middleware-client/test/unit/utils/version.test.ts
  packages/preview-middleware-client/types/global.d.ts
Labels: preview-middleware-client

#2244 fix(project-access): create `i18n` under `webapp` path
  .changeset/twelve-drinks-divide.md
  packages/project-access/src/project/i18n/write.ts
  packages/project-access/test/project/i18n/write.test.ts
Labels: project-access

#2257 fix: regression with 'UIDefaultButton' - expand icon is applied even there no submenu
  .changeset/pink-cobras-obey.md
  packages/ui-components/src/components/UIButton/UIDefaultButton.tsx
  packages/ui-components/test/unit/components/UIDefaultButton.test.tsx
Labels: ui-components

#2254 Show binding context question for filterbar building block
  .changeset/short-jobs-hear.md
  packages/fe-fpm-writer/src/building-block/prompts/questions/filter-bar.ts
  packages/fe-fpm-writer/src/prompts/translations/i18n.en.json
  packages/fe-fpm-writer/test/unit/prompts/__snapshots__/prompts.test.ts.snap
Labels: fe-fpm-writer

#2218 refactor: Clean separation between prompting and writing in adp-tooling
  .changeset/wet-hairs-listen.md
  packages/adp-tooling/src/base/change-utils.ts
  packages/adp-tooling/src/prompts/add-component-usages/index.ts
  packages/adp-tooling/src/prompts/add-new-model/index.ts
  packages/adp-tooling/src/types.ts
  packages/adp-tooling/src/writer/changes/writers/annotations-writer.ts
  packages/adp-tooling/src/writer/changes/writers/component-usages-writer.ts
  packages/adp-tooling/src/writer/changes/writers/data-source-writer.ts
  packages/adp-tooling/src/writer/changes/writers/inbound-writer.ts
  packages/adp-tooling/src/writer/changes/writers/new-model-writer.ts
  packages/adp-tooling/test/unit/base/change-utils.test.ts
  packages/adp-tooling/test/unit/prompts/add-component-usages/index.test.ts
  packages/adp-tooling/test/unit/prompts/add-new-model/index.test.ts
  packages/adp-tooling/test/unit/writer/changes/writers/index.test.ts
  packages/adp-tooling/test/unit/writer/editors.test.ts
  packages/create/src/cli/add/annotations-to-odata.ts
  packages/create/src/cli/add/component-usages.ts
  packages/create/src/cli/add/new-model.ts
  packages/create/src/cli/change/change-data-source.ts
  packages/create/src/cli/change/change-inbound.ts
  packages/create/test/unit/cli/add/new-model.test.ts
Labels: adp-tooling

#2260 fix(fe-fpm-writer): Building block Prompts. Use EntitySets instead of EntityTypes for displaying choices and writing metaPath or contextPath
  .changeset/fair-weeks-grab.md
  packages/fe-fpm-writer/src/building-block/index.ts
  packages/fe-fpm-writer/src/building-block/prompts/utils/questions.ts
  packages/fe-fpm-writer/src/building-block/prompts/utils/service.ts
  packages/fe-fpm-writer/test/unit/building-block.test.ts
  packages/fe-fpm-writer/test/unit/building-block/prompts/utils/__snapshots__/questions.test.ts.snap
  packages/fe-fpm-writer/test/unit/building-block/prompts/utils/questions.test.ts
  packages/fe-fpm-writer/test/unit/building-block/prompts/utils/service.test.ts
  packages/fe-fpm-writer/test/unit/prompts/__snapshots__/prompts.test.ts.snap
  packages/fe-fpm-writer/test/unit/prompts/prompts.test.ts
Labels: fe-fpm-writer

#2267 feat(`odata-service-inquirer`): Adds new system prompting
  .changeset/new-olives-cheer.md
  packages/odata-service-inquirer/package.json
  packages/odata-service-inquirer/src/error-handler/error-handler.ts
  packages/odata-service-inquirer/src/index.ts
  packages/odata-service-inquirer/src/prompts/connectionValidator.ts
  packages/odata-service-inquirer/src/prompts/datasources/sap-system/abap-on-btp/cf-helper.ts
  packages/odata-service-inquirer/src/prompts/datasources/sap-system/abap-on-btp/questions.ts
  packages/odata-service-inquirer/src/prompts/datasources/sap-system/abap-on-prem/questions.ts
  packages/odata-service-inquirer/src/prompts/datasources/sap-system/new-system/questions.ts
  packages/odata-service-inquirer/src/prompts/datasources/sap-system/new-system/service-helper.ts
  packages/odata-service-inquirer/src/prompts/datasources/sap-system/new-system/types.ts
  packages/odata-service-inquirer/src/prompts/datasources/sap-system/prompt-helpers.ts
  packages/odata-service-inquirer/src/prompts/datasources/sap-system/validators.ts
  packages/odata-service-inquirer/src/prompts/datasources/service-url/questions.ts
  packages/odata-service-inquirer/src/prompts/datasources/service-url/validators.ts
  packages/odata-service-inquirer/src/prompts/prompts.ts
  packages/odata-service-inquirer/src/translations/odata-service-inquirer.i18n.json
  packages/odata-service-inquirer/src/types.ts
  packages/odata-service-inquirer/src/utils/index.ts
  packages/odata-service-inquirer/test/unit/index-api.test.ts
  packages/odata-service-inquirer/test/unit/prompts/connectionValidator.test.ts
  packages/odata-service-inquirer/test/unit/prompts/prompts.test.ts
  packages/odata-service-inquirer/test/unit/prompts/sap-system/abap-on-btp/questions.test.ts
  packages/odata-service-inquirer/test/unit/prompts/sap-system/abap-on-prem/questions.test.ts
  packages/odata-service-inquirer/test/unit/prompts/sap-system/new-system/questions.test.ts
  packages/odata-service-inquirer/test/unit/prompts/sap-system/questions.test.ts
  packages/odata-service-inquirer/test/unit/prompts/sap-system/validators.test.ts
  packages/odata-service-inquirer/test/unit/prompts/service-url/questions.test.ts
  packages/odata-service-inquirer/test/unit/prompts/service-url/validators.test.ts
  packages/odata-service-inquirer/test/unit/prompts/validators.test.ts
  pnpm-lock.yaml
Labels: odata-service-inquirer

#2288 Fix/2285/odata service inq use v4 if v2 not auth
  .changeset/lucky-dryers-happen.md
  packages/odata-service-inquirer/src/prompts/connectionValidator.ts
  packages/odata-service-inquirer/test/unit/prompts/connectionValidator.test.ts
Labels: odata-service-inquirer

#2278 feat(ui5-application-inquirer): Adds `defaultValue` opts for some prompt
  .changeset/fresh-clouds-prove.md
  packages/ui5-application-inquirer/src/prompts/prompts.ts
  packages/ui5-application-inquirer/src/types.ts
  packages/ui5-application-inquirer/test/unit/prompts/prompts.test.ts
Labels: ui5-application-inquirer

#2286 feat: Optional tabIndex property for UISplitter
  .changeset/rotten-moose-invite.md
  packages/ui-components/src/components/UISection/UISections.tsx
  packages/ui-components/src/components/UISection/UISplitter.tsx
  packages/ui-components/stories/UISections.story.tsx
  packages/ui-components/test/unit/components/UISplitter.test.tsx
Labels: ui-components

#2273 fix: URI validation not executed for Replace OData prompting
  .changeset/great-swans-smoke.md
  packages/adp-tooling/src/prompts/change-data-source/index.ts
  packages/adp-tooling/src/translations/adp-tooling.i18n.json
  packages/adp-tooling/test/unit/prompts/change-data-source/index.test.ts
Labels: bug, adp-tooling
