Repository SAP/open-ux-tools, pull requests merged in 2024-09, with the labels that each got.

#2319 fix(ui5-proxy-middleware): refactoring of directLoad implementation
  .changeset/cyan-pumas-film.md
  packages/ui5-proxy-middleware/README.md
  packages/ui5-proxy-middleware/src/base/constants.ts
  packages/ui5-proxy-middleware/src/base/utils.ts
  packages/ui5-proxy-middleware/src/ui5/middleware.ts
  packages/ui5-proxy-middleware/test/base/utils.test.ts
Labels: ui5-proxy-middleware

#2353 feat: building blocks -> additional property to `BuildingBlockMetaPath` - to always generate absolute paths with options to turn relative
  .changeset/slow-birds-fetch.md
  .changeset/violet-hotels-tell.md
  examples/prompting-ui/src/BuildingBlock.tsx
  packages/fe-fpm-writer/src/building-block/index.ts
  packages/fe-fpm-writer/src/building-block/types.ts
  packages/fe-fpm-writer/test/unit/__snapshots__/building-block.test.ts.snap
  packages/fe-fpm-writer/test/unit/building-block.test.ts
Labels: fe-fpm-writer

#2348 feat: During building block creation, add the 'sap.fe.macros' library to the 'manifest.json' if it is not already listed
  .changeset/lucky-candles-promise.md
  examples/fe-fpm-cli/src/index.ts
  examples/prompting-ui/src/backend/connection.ts
  packages/fe-fpm-writer/src/building-block/index.ts
  packages/fe-fpm-writer/src/common/validate.ts
  packages/fe-fpm-writer/src/prompts/api.ts
  packages/fe-fpm-writer/templates/building-block/common/manifest.json
  packages/fe-fpm-writer/test/integration/custom-page-app.test.ts
  packages/fe-fpm-writer/test/unit/__snapshots__/building-block.test.ts.snap
  packages/fe-fpm-writer/test/unit/building-block.test.ts
  packages/fe-fpm-writer/test/unit/prompts/prompts.test.ts
Labels: fe-fpm-writer

#2367 feat(fe-fpm-writer): reuse 'async getManifest' function and make API methods async
  .changeset/short-brooms-clean.md
  .changeset/warm-days-admire.md
  packages/fe-fpm-writer/src/action/index.ts
  packages/fe-fpm-writer/src/app/index.ts
  packages/fe-fpm-writer/src/building-block/index.ts
  packages/fe-fpm-writer/src/column/index.ts
  packages/fe-fpm-writer/src/common/types.ts
  packages/fe-fpm-writer/src/common/utils.ts
  packages/fe-fpm-writer/src/controller-extension/index.ts
  packages/fe-fpm-writer/src/filter/index.ts
  packages/fe-fpm-writer/src/page/common.ts
  packages/fe-fpm-writer/src/page/custom.ts
  packages/fe-fpm-writer/src/page/list.ts
  packages/fe-fpm-writer/src/page/object.ts
  packages/fe-fpm-writer/src/section/index.ts
  packages/fe-fpm-writer/src/view/index.ts
  packages/fe-fpm-writer/test/integration/basic-lrop-app.test.ts
  packages/fe-fpm-writer/test/unit/action.test.ts
  packages/fe-fpm-writer/test/unit/app.test.ts
  packages/fe-fpm-writer/test/unit/column.test.ts
  packages/fe-fpm-writer/test/unit/controller-extension.test.ts
  packages/fe-fpm-writer/test/unit/filter.test.ts
  packages/fe-fpm-writer/test/unit/header-section.test.ts
  packages/fe-fpm-writer/test/unit/page/common.test.ts
  packages/fe-fpm-writer/test/unit/page/custom.test.ts
  packages/fe-fpm-writer/test/unit/page/list.test.ts
  packages/fe-fpm-writer/test/unit/page/object.test.ts
  packages/fe-fpm-writer/test/unit/section.test.ts
  packages/fe-fpm-writer/test/unit/subsection.test.ts
  packages/fe-fpm-writer/test/unit/view.test.ts
  packages/fiori-elements-writer/src/fpmConfig.ts
Labels: fe-fpm-writer

#2331 Change themes 03
  .changeset/fast-nails-live.md
  packages/control-property-editor/src/components/ThemeSelectorCallout.scss
  packages/control-property-editor/src/components/ThemeSelectorCallout.tsx
  packages/control-property-editor/src/index.css
  packages/control-property-editor/src/index.tsx
  packages/control-property-editor/src/use-theme.ts
  packages/control-property-editor/test/unit/toolbar/ThemeSelector.test.tsx
Labels: control-property-editor

#2363 fix(preview-middleware): change fragment index
  .changeset/silly-pans-complain.md
  packages/preview-middleware-client/src/adp/ui/AddFragment.fragment.xml
Labels: preview-middleware-client

#2335 Object Page Add Custom Section quick action
  .changeset/weak-dolphins-matter.md
  .vscode/launch.json
  packages/adp-tooling/src/preview/change-handler.ts
  packages/adp-tooling/src/types.ts
  packages/adp-tooling/templates/rta/common/op-custom-section.xml
  packages/adp-tooling/test/unit/preview/change-handler.test.ts
  packages/preview-middleware-client/src/adp/command-executor.ts
  packages/preview-middleware-client/src/adp/controllers/AddFragment.controller.ts
  packages/preview-middleware-client/src/adp/quick-actions/common/add-controller-to-page.ts
  packages/preview-middleware-client/src/adp/quick-actions/common/op-add-custom-section.ts
  packages/preview-middleware-client/src/adp/quick-actions/common/op-add-header-field.ts
  packages/preview-middleware-client/src/adp/quick-actions/fe-v2/lr-toggle-clear-filter-bar.ts
  packages/preview-middleware-client/src/adp/quick-actions/fe-v2/registry.ts
  packages/preview-middleware-client/src/adp/quick-actions/fe-v4/lr-toggle-clear-filter-bar.ts
  packages/preview-middleware-client/src/adp/quick-actions/fe-v4/registry.ts
  packages/preview-middleware-client/src/adp/quick-actions/simple-quick-action-base.ts
  packages/preview-middleware-client/src/messagebundle.properties
  packages/preview-middleware-client/test/unit/adp/controllers/AddFragment.controller.test.ts
  packages/preview-middleware-client/test/unit/adp/quick-actions/fe-v2.test.ts
  packages/preview-middleware-client/test/unit/adp/quick-actions/fe-v4.test.ts
  packages/preview-middleware-client/types/sap.ui.fl.d.ts
  packages/preview-middleware-client/types/sap.ui.rta.d.ts
Labels: control-property-editor

#2356 fix(control-property-editor): Update the CSS variable --vscode-font-family with a MacOS-specific font-family to match the VSCode UI when the control property editor is running on MacOS.
  .changeset/itchy-worms-lay.md
  packages/control-property-editor/src/index.css
  packages/ui-components/.storybook/static/vscode-dark.css
  packages/ui-components/.storybook/static/vscode-hcb.css
  packages/ui-components/.storybook/static/vscode-light.css
Labels: control-property-editor

#2369 refactor(cpe): fixed warnings and type issues in tests
  packages/control-property-editor-common/package.json
  packages/control-property-editor-common/src/api.ts
  packages/control-property-editor-common/src/debounce.ts
  packages/control-property-editor-common/test/unit/api.test.ts
  packages/control-property-editor/jest.config.js
  packages/control-property-editor/package.json
  packages/control-property-editor/src/i18n.ts
  packages/control-property-editor/src/panels/changes/ChangeStack.tsx
  packages/control-property-editor/src/panels/changes/ChangesPanel.tsx
  packages/control-property-editor/src/panels/changes/ControlGroup.tsx
  packages/control-property-editor/src/panels/changes/OtherChange.tsx
  packages/control-property-editor/src/panels/changes/PropertyChange.tsx
  packages/control-property-editor/src/panels/changes/index.tsx
  packages/control-property-editor/src/panels/properties/DropdownEditor.tsx
  packages/control-property-editor/src/panels/properties/IconValueHelp.tsx
  packages/control-property-editor/src/panels/properties/InputTypeToggle.tsx
  packages/control-property-editor/src/panels/properties/PropertyDocumentation.tsx
  packages/control-property-editor/src/panels/properties/StringEditor.tsx
  packages/control-property-editor/src/slice.ts
  packages/control-property-editor/test/unit/App.test.tsx
  packages/control-property-editor/test/unit/components/ChangeIndicator.test.tsx
  packages/control-property-editor/test/unit/panels/changes/ChangesPanel.test.tsx
  packages/control-property-editor/test/unit/panels/changes/FileChange.test.tsx
  packages/control-property-editor/test/unit/panels/outline/OutlinePanel.test.tsx
  packages/control-property-editor/test/unit/panels/outline/utils.test.ts
  packages/control-property-editor/test/unit/panels/properties/DropdownEditor.test.tsx
  packages/control-property-editor/test/unit/panels/properties/Funnel.test.tsx
  packages/control-property-editor/test/unit/panels/properties/HeaderField.test.tsx
  packages/control-property-editor/test/unit/panels/properties/IconValueHelp.test.tsx
  packages/control-property-editor/test/unit/panels/properties/InputTypeToggle.test.tsx
  packages/control-property-editor/test/unit/panels/properties/InputTypeWrapper.test.tsx
  packages/control-property-editor/test/unit/panels/properties/PropertyDocumentation.test.tsx
  packages/control-property-editor/test/unit/panels/properties/StringEditor.test.tsx
  packages/control-property-editor/test/unit/panels/properties/ViewChanger.test.tsx
  packages/control-property-editor/test/unit/panels/quick-actions/QuickActionList.test.tsx
  packages/control-property-editor/test/unit/setup.ts
  packages/control-property-editor/test/unit/slice.test.ts
  packages/control-property-editor/test/unit/toolbar/ModeSwitcher.test.tsx
  packages/control-property-editor/test/unit/toolbar/ThemeSelector.test.tsx
  packages/control-property-editor/test/unit/toolbar/UndoRedoSaveActions.test.tsx
  packages/control-property-editor/test/unit/utils.tsx
  packages/control-property-editor/tsconfig.json
  packages/preview-middleware-client/src/cpe/changes/service.ts
  packages/preview-middleware-client/test/unit/cpe/changes/service.test.ts
Labels: control-property-editor

#2370 feat(project-access): new api method `deleteCapApp` in project access to delete cap app from CAP project
  .changeset/early-lions-complain.md
  packages/project-access/src/constants.ts
  packages/project-access/src/file/file-access.ts
  packages/project-access/src/file/index.ts
  packages/project-access/src/index.ts
  packages/project-access/src/project/cap.ts
  packages/project-access/src/project/index.ts
  packages/project-access/test/file/file-access.test.ts
  packages/project-access/test/project/cap.test.ts
  packages/project-access/test/test-data/project/info/cap-project/apps/freestyle/annotations.cds
  packages/project-access/test/test-data/project/info/cap-project/apps/index.cds
  packages/project-access/test/test-data/project/info/cap-project/apps/one/annotations.cds
  packages/project-access/test/test-data/project/info/cap-project/apps/services.cds
  packages/project-access/test/test-data/project/info/cap-project/apps/two/annotations.cds
  packages/project-access/test/test-data/project/info/cap-project/package.json
  packages/project-access/test/test-data/project/info/cap-project/srv/index.cds
Labels: project-access

#2376 fix: right chevron color for high contrast black theme
  .changeset/red-knives-accept.md
  packages/control-property-editor/src/panels/outline/OutlinePanel.scss
Labels: control-property-editor

#2383 fix(cpe): manifest change notification
  .changeset/curvy-ads-shave.md
  packages/control-property-editor-common/src/api.ts
  packages/control-property-editor/src/i18n/i18n.json
  packages/control-property-editor/src/icons.tsx
  packages/control-property-editor/src/panels/changes/FileChange.tsx
  packages/control-property-editor/src/slice.ts
  packages/control-property-editor/src/toolbar/UndoRedoSaveActions.tsx
  packages/control-property-editor/test/unit/panels/changes/FileChange.test.tsx
  packages/control-property-editor/test/unit/slice.test.ts
  packages/control-property-editor/test/unit/toolbar/UndoRedoSaveActions.test.tsx
  packages/preview-middleware-client/src/cpe/changes/service.ts
  packages/preview-middleware-client/src/cpe/connector-service.ts
  packages/preview-middleware-client/src/cpe/init.ts
  packages/preview-middleware-client/src/cpe/rta-service.ts
  packages/preview-middleware-client/src/cpe/types.ts
  packages/preview-middleware-client/src/messagebundle.properties
  packages/preview-middleware-client/test/unit/cpe/changes/service.test.ts
  packages/preview-middleware-client/test/unit/cpe/connector-service.test.ts
  packages/preview-middleware-client/test/unit/cpe/rta-service.test.ts
  packages/preview-middleware-client/types/sap.ui.rta.d.ts
Labels: control-property-editor

#2384 feat(ui-prompting): list/dropdown question - automatically select the option when only one item is available in a dropdown list
  .changeset/sour-singers-explode.md
  packages/ui-prompting/README.md
  packages/ui-prompting/src/components/Inputs/Select/Select.tsx
  packages/ui-prompting/stories/List.story.tsx
  packages/ui-prompting/test/unit/components/Inputs/Select.test.tsx
Labels: ui-components

#2385 fix(preview-middleware): manifest changes not visible after reload
  .changeset/afraid-dodos-buy.md
  packages/adp-tooling/src/preview/adp-preview.ts
  packages/adp-tooling/test/unit/preview/adp-preview.test.ts
  packages/preview-middleware/test/unit/base/flp.test.ts
  packages/reload-middleware/src/base/livereload.ts
  packages/reload-middleware/src/ui5/middleware.ts
  packages/reload-middleware/test/unit/base/livereload.test.ts
Labels: preview-middleware, adp-tooling

#2377 fix: theme picker hover and border for dropdowns
  .changeset/pretty-gorillas-crash.md
  packages/control-property-editor/src/Workarounds.scss
  packages/control-property-editor/src/components/ThemeSelectorCallout.scss
Labels: control-property-editor

#2368 fix: missing unique react key
  .changeset/mean-jeans-grow.md
  packages/ui-components/src/components/UITable/UITable.tsx
  packages/ui-components/test/unit/components/UITable.test.tsx
Labels: ui-components

#2393 feat(fpm-writer): property `allowAutoAddDependencyLib` to the building block API, which allows turning off the automatic addition of the 'sap.fe.macros' library
  .changeset/eight-jobs-unite.md
  .changeset/sweet-rivers-dress.md
  examples/prompting-ui/src/BuildingBlock.tsx
  examples/prompting-ui/src/addons/preview/component.tsx
  packages/fe-fpm-writer/src/building-block/index.ts
  packages/fe-fpm-writer/src/building-block/types.ts
  packages/fe-fpm-writer/test/unit/__snapshots__/building-block.test.ts.snap
  packages/fe-fpm-writer/test/unit/building-block.test.ts
Labels: fe-fpm-writer

#2394 fix(ui-components): Applied missing styles for the disabled state of UILink.
  .changeset/rude-walls-clap.md
  packages/ui-components/src/components/UILink/UILink.tsx
  packages/ui-components/stories/UILink.story.tsx
  packages/ui-components/test/unit/components/UILink.test.tsx
Labels: ui-components

#2395 fix(cpe): quick action improvements
  .changeset/great-jars-collect.md
  packages/control-property-editor-common/src/api.ts
  packages/control-property-editor/src/slice.ts
  packages/control-property-editor/src/toolbar/UndoRedoSaveActions.tsx
  packages/control-property-editor/test/unit/slice.test.ts
  packages/control-property-editor/test/unit/toolbar/UndoRedoSaveActions.test.tsx
  packages/preview-middleware-client/src/adp/controllers/AddFragment.controller.ts
  packages/preview-middleware-client/src/adp/extension-point.ts
  packages/preview-middleware-client/src/adp/init-dialogs.ts
  packages/preview-middleware-client/src/adp/init.ts
  packages/preview-middleware-client/src/adp/quick-actions/common/op-add-custom-section.ts
  packages/preview-middleware-client/src/adp/quick-actions/common/op-add-header-field.ts
  packages/preview-middleware-client/src/adp/ui/AddFragment.fragment.xml
  packages/preview-middleware-client/src/cpe/changes/service.ts
  packages/preview-middleware-client/src/cpe/communication-service.ts
  packages/preview-middleware-client/src/cpe/connector-service.ts
  packages/preview-middleware-client/src/cpe/init.ts
  packages/preview-middleware-client/src/flp/WorkspaceConnector.ts
  packages/preview-middleware-client/src/flp/enableFakeConnector.ts
  packages/preview-middleware-client/src/i18n.ts
  packages/preview-middleware-client/src/messagebundle.properties
  packages/preview-middleware-client/test/__mock__/sap/ui/model/resource/ResourceModel.ts
  packages/preview-middleware-client/test/unit/adp/controllers/AddFragment.controller.test.ts
  packages/preview-middleware-client/test/unit/adp/init.test.ts
  packages/preview-middleware-client/test/unit/adp/quick-actions/fe-v2.test.ts
  packages/preview-middleware-client/test/unit/adp/quick-actions/fe-v4.test.ts
  packages/preview-middleware-client/test/unit/cpe/changes/service.test.ts
  packages/preview-middleware-client/test/unit/cpe/connector-service.test.ts
  packages/preview-middleware-client/test/unit/cpe/init.test.ts
  packages/preview-middleware-client/test/unit/flp/WorkspaceConnector.test.ts
  packages/preview-middleware-client/types/sap.ui.fl.d.ts
  packages/preview-middleware-client/types/sap.ui.rta.d.ts
Labels: control-property-editor

#2389 fix(cpe): application mode after reload
  .changeset/nasty-schools-return.md
  packages/control-property-editor-common/src/api.ts
  packages/control-property-editor/src/panels/quick-actions/NestedQuickAction.tsx
  packages/control-property-editor/src/panels/quick-actions/QuickAction.scss
  packages/control-property-editor/src/panels/quick-actions/SimpleQuickAction.tsx
  packages/control-property-editor/src/slice.ts
  packages/control-property-editor/test/unit/panels/quick-actions/QuickActionList.test.tsx
  packages/control-property-editor/test/unit/slice.test.ts
  packages/preview-middleware-client/src/cpe/rta-service.ts
  packages/preview-middleware-client/test/__mock__/sap/ui/rta/RuntimeAuthoring.ts
  packages/preview-middleware-client/test/unit/adp/init.test.ts
  packages/preview-middleware-client/types/sap.ui.rta.d.ts
Labels: control-property-editor

#2388 feat: enhance quick action with the template
  .changeset/tame-papayas-remain.md
  packages/adp-tooling/src/preview/change-handler.ts
  packages/adp-tooling/templates/rta/common/header-field.xml
  packages/adp-tooling/test/unit/preview/change-handler.test.ts
  packages/preview-middleware-client/src/adp/controllers/AddFragment.controller.ts
  packages/preview-middleware-client/test/unit/adp/controllers/AddFragment.controller.test.ts
Labels: control-property-editor

#2400 feat(ui-prompting): support translation input fields for prompts
  .changeset/ninety-stingrays-doubt.md
  .changeset/silly-gorillas-fold.md
  .changeset/wicked-falcons-sing.md
  examples/fe-fpm-cli/sample/fe-app/package.json
  examples/prompting-ui/package.json
  examples/prompting-ui/src/BuildingBlock.tsx
  examples/prompting-ui/src/backend/connection.ts
  examples/prompting-ui/src/backend/i18nBundle.ts
  examples/prompting-ui/src/utils/communication.ts
  examples/prompting-ui/src/utils/hooks.ts
  examples/prompting-ui/src/utils/types.ts
  examples/prompting-ui/tsconfig.json
  packages/fe-fpm-writer/src/building-block/prompts/questions/table.ts
  packages/fe-fpm-writer/test/unit/prompts/__snapshots__/prompts.test.ts.snap
  packages/ui-prompting/src/components/Inputs/Input/TranslationInput.tsx
  packages/ui-prompting/src/components/Inputs/Input/index.tsx
  packages/ui-prompting/src/components/Question/Question.tsx
  packages/ui-prompting/src/components/Questions/Questions.tsx
  packages/ui-prompting/src/context/TranslationContext.tsx
  packages/ui-prompting/src/types.ts
  packages/ui-prompting/src/utilities/renderUtils.tsx
  packages/ui-prompting/stories/Input.story.tsx
  packages/ui-prompting/stories/Questions.story.tsx
  packages/ui-prompting/test/unit/components/Inputs/Input.test.tsx
  packages/ui-prompting/test/unit/components/Inputs/TranslationInput.test.tsx
  packages/ui-prompting/test/unit/components/Questions.test.tsx
  packages/ui-prompting/test/unit/context/TranslationContext.test.tsx
  packages/ui-prompting/test/unit/utilities/utils.test.ts
  packages/ui-prompting/test/unit/utils.ts
  pnpm-lock.yaml
Labels: fe-fpm-writer, ui-components
