Repository SAP/open-ux-tools, pull requests merged in 2024-04, with the labels that each got.

#1761 fix: "Open in VS Code" button for Controller Extension dialog does not work in BAS
  .changeset/six-eggs-eat.md
  packages/adp-tooling/package.json
  packages/adp-tooling/src/preview/routes-handler.ts
  packages/adp-tooling/tsconfig.json
  packages/preview-middleware-client/src/adp/api-handler.ts
  packages/preview-middleware-client/src/adp/controllers/ControllerExtension.controller.ts
  packages/preview-middleware-client/test/unit/adp/controllers/ControllerExtension.controller.test.ts
  pnpm-lock.yaml
Labels: bug, preview-middleware, adp-tooling

#1795 fix: Disabled UICheckbox styling
  .changeset/sharp-ways-float.md
  packages/ui-components/src/components/UICheckbox/UICheckbox.tsx
  packages/ui-components/stories/UICheckbox.story.tsx
  packages/ui-components/test/unit/components/UICheckbox.test.tsx
Labels: ui-components

#1616 FIX: reentrance tickets usage
  .changeset/young-spiders-heal.md
  packages/axios-extension/src/auth/reentrance-ticket/index.ts
  packages/backend-proxy-middleware/README.md
  packages/backend-proxy-middleware/src/base/proxy.ts
  packages/backend-proxy-middleware/src/base/types.ts
  packages/backend-proxy-middleware/test/base/proxy.test.ts
  packages/deploy-tooling/src/cli/config.ts
  packages/system-access/src/base/connect.ts
  packages/system-access/src/types.ts
Labels: bug, backend-proxy-middleware, deploy-tooling, preview-middleware

#1813 fix(preview-middleware): set qunit autostart to false
  .changeset/brown-planets-help.md
  packages/preview-middleware/templates/test/qunit.js
  packages/preview-middleware/test/unit/base/__snapshots__/flp.test.ts.snap
Labels: preview-middleware

#1826 fix(preview-middleware-client): support connect and express api
  .changeset/slow-hairs-raise.md
  packages/preview-middleware/src/base/flp.ts
Labels: bug, preview-middleware

#1844 fix(ui-components): update cached section sizes
  .changeset/rude-pens-buy.md
  packages/ui-components/src/components/UISection/UISections.tsx
  packages/ui-components/test/unit/components/UISections.test.tsx
Labels: ui-components

#1824 fix: Alternative approach to have a consistent save for XML Fragments
  .changeset/shaggy-lions-mate.md
  packages/adp-tooling/src/preview/adp-preview.ts
  packages/adp-tooling/src/preview/change-handler.ts
  packages/adp-tooling/src/preview/routes-handler.ts
  packages/adp-tooling/src/types.ts
  packages/adp-tooling/test/unit/preview/adp-preview.test.ts
  packages/adp-tooling/test/unit/preview/change-handler.test.ts
  packages/preview-middleware-client/src/adp/controllers/AddFragment.controller.ts
  packages/preview-middleware-client/src/adp/controllers/BaseDialog.controller.ts
  packages/preview-middleware-client/src/adp/controllers/ExtensionPoint.controller.ts
  packages/preview-middleware-client/src/adp/utils.ts
  packages/preview-middleware-client/test/unit/adp/controllers/AddFragment.controller.test.ts
  packages/preview-middleware-client/test/unit/adp/controllers/ExtensionPoint.controller.test.ts
  packages/preview-middleware-client/test/unit/adp/utils.test.ts
  packages/preview-middleware/package.json
  packages/preview-middleware/src/base/flex.ts
  packages/preview-middleware/src/base/flp.ts
  packages/preview-middleware/test/unit/base/flex.test.ts
  packages/preview-middleware/test/unit/base/flp.test.ts
  pnpm-lock.yaml
Labels: bug, preview-middleware, adp-tooling, preview-middleware-client

#1858 fix(fpm-writer): Improve custom section fragments with event handler. Move 'core:require' attribute from inner element(Button) to wrapper(VBox)
  .changeset/big-geese-ring.md
  packages/fe-fpm-writer/src/common/defaults.ts
  packages/fe-fpm-writer/src/common/types.ts
  packages/fe-fpm-writer/src/section/index.ts
  packages/fe-fpm-writer/src/section/types.ts
  packages/fe-fpm-writer/templates/common/FragmentWithForm.xml
  packages/fe-fpm-writer/templates/common/FragmentWithVBox.xml
  packages/fe-fpm-writer/test/unit/__snapshots__/header-section.test.ts.snap
  packages/fe-fpm-writer/test/unit/__snapshots__/section.test.ts.snap
  packages/fe-fpm-writer/test/unit/__snapshots__/subsection.test.ts.snap
  packages/fe-fpm-writer/test/unit/header-section.test.ts
Labels: fe-fpm-writer
