Repository SAP/open-ux-tools, pull requests merged in 2024-05, with the labels that each got.

#1825 feat(preview-middleware-client): initialization to manage app state and update to UI5 2.0
  .changeset/happy-nails-own.md
  packages/preview-middleware-client/src/flp/init.ts
  packages/preview-middleware-client/test/__mock__/sap/base/i18n/Localization.ts
  packages/preview-middleware-client/test/__mock__/sap/base/util/UriParameters.ts
  packages/preview-middleware-client/test/unit/flp/init.test.ts
  packages/preview-middleware-client/types/sap.ushell.ts
Labels: preview-middleware-client

#1874 feat: Adding Controller Extension only on async views in Adp projects
  .changeset/six-pigs-hear.md
  packages/control-property-editor-common/src/api.ts
  packages/control-property-editor/src/App.tsx
  packages/control-property-editor/src/slice.ts
  packages/control-property-editor/test/unit/App.test.tsx
  packages/control-property-editor/test/unit/slice.test.ts
  packages/preview-middleware-client/src/adp/init-dialogs.ts
  packages/preview-middleware-client/src/adp/init.ts
  packages/preview-middleware-client/test/__mock__/sap/ui/core/ElementRegistry.ts
  packages/preview-middleware-client/test/unit/adp/init-dialogs.test.ts
  packages/preview-middleware-client/test/unit/adp/init.test.ts
  packages/preview-middleware-client/types/sap.ui.dt.d.ts
Labels: preview-middleware, preview-middleware-client, control-property-editor

#1905 feat: Disable fragment context menu item in CPE for controls with no stable id
  .changeset/empty-spies-brake.md
  packages/preview-middleware-client/src/adp/init-dialogs.ts
  packages/preview-middleware-client/test/unit/adp/init-dialogs.test.ts
Labels: feature, preview-middleware, preview-middleware-client

#1931 fix: CPE does not start UI Adaptation for ui5 versions lower than 1.120 for Adaptation Projects
  .changeset/smart-ads-melt.md
  packages/preview-middleware-client/src/adp/init.ts
  packages/preview-middleware-client/test/__mock__/sap/ui/core/Element.ts
  packages/preview-middleware-client/test/unit/adp/init.test.ts
Labels: preview-middleware, preview-middleware-client

#1926 fix: Fragment files are not created together with an addXML change in onChangeRequest handler
  .changeset/moody-cats-love.md
  packages/adp-tooling/src/preview/change-handler.ts
  packages/adp-tooling/test/unit/preview/change-handler.test.ts
Labels: bug, preview-middleware, adp-tooling

#1930 feat(preview-middleware): Introduce check for existence of HTML files
  .changeset/kind-pillows-hope.md
  packages/preview-middleware/src/base/flp.ts
  packages/preview-middleware/test/fixtures/simple-app/webapp/test/existingFlp.html
  packages/preview-middleware/test/unit/base/flp.test.ts
  packages/preview-middleware/test/unit/ui5/middleware.test.ts
Labels: preview-middleware

#1867 feat: Add default content for extension points to the outline in CPE
  .changeset/dull-apples-happen.md
  packages/control-property-editor-common/src/api.ts
  packages/control-property-editor/src/i18n/i18n.json
  packages/control-property-editor/src/panels/outline/OutlinePanel.scss
  packages/control-property-editor/src/panels/outline/Tree.tsx
  packages/control-property-editor/src/panels/outline/utils.ts
  packages/control-property-editor/test/unit/panels/outline/OutlinePanel.test.tsx
  packages/preview-middleware-client/src/adp/controllers/ExtensionPoint.controller.ts
  packages/preview-middleware-client/src/adp/extension-point.ts
  packages/preview-middleware-client/src/adp/ui/ExtensionPoint.fragment.xml
  packages/preview-middleware-client/src/cpe/outline/index.ts
  packages/preview-middleware-client/src/cpe/outline/nodes.ts
  packages/preview-middleware-client/test/unit/adp/controllers/ExtensionPoint.controller.test.ts
  packages/preview-middleware-client/test/unit/adp/extension-point.test.ts
  packages/preview-middleware-client/test/unit/cpe/outline/nodes.test.ts
  packages/preview-middleware-client/types/sap.ui.rta.d.ts
Labels: feature, preview-middleware, preview-middleware-client, control-property-editor

#1960 feat: Improvements for button - new property 'transparent' for 'UIDefaultButton' and minor color style fixes
  .changeset/wet-zebras-yell.md
  packages/ui-components/src/components/UIButton/UIDefaultButton.tsx
  packages/ui-components/src/components/UIButton/UIIconButton.tsx
  packages/ui-components/src/components/UIToggleGroup/UIToggleGroupOption/UIToggleGroupOption.scss
  packages/ui-components/stories/UIButton.story.tsx
  packages/ui-components/stories/UIToggleGroup.story.tsx
  packages/ui-components/test/unit/components/UIDefaultButton.test.tsx
Labels: ui-components

#1963 feat: Update build in themes(`dark`, `light`, `hcb`) by syncing from latest VSCode 1.89.1
  .changeset/popular-ghosts-fetch.md
  packages/control-property-editor/src/index.css
  packages/ui-components/.storybook/static/vscode-dark.css
  packages/ui-components/.storybook/static/vscode-hcb.css
  packages/ui-components/.storybook/static/vscode-light.css
Labels: ui-components, control-property-editor

#1802 Feat(preview middleware) generate testsuite for all configured test frameworks
  .changeset/rude-months-brush.md
  packages/preview-middleware/README.md
  packages/preview-middleware/src/base/flp.ts
  packages/preview-middleware/src/base/test.ts
  packages/preview-middleware/src/types/index.ts
  packages/preview-middleware/templates/test/testsuite.qunit.html
  packages/preview-middleware/templates/test/testsuite.qunit.js
  packages/preview-middleware/test/unit/base/__snapshots__/flp.test.ts.snap
  packages/preview-middleware/test/unit/base/flp.test.ts
Labels: feature, preview-middleware

#1848 feat: Read toolsId from Adaptation Projects ui5.yaml file in telemetry package
  .changeset/blue-trees-count.md
  packages/telemetry/src/tooling-telemetry/data-processor.ts
  packages/telemetry/test/tools-suite-telemetry/fixtures/invalid-adaptation/package.json
  packages/telemetry/test/tools-suite-telemetry/fixtures/invalid-adaptation/ui5.yaml
  packages/telemetry/test/tools-suite-telemetry/fixtures/invalid-adaptation/webapp/manifest.appdescr_variant
  packages/telemetry/test/tools-suite-telemetry/fixtures/valid-adaptation/.adp/config.json
  packages/telemetry/test/tools-suite-telemetry/fixtures/valid-adaptation/ui5.yaml
  packages/telemetry/test/tools-suite-telemetry/index.test.ts
Labels: telemetry

#1968 fix(preview-middleware): missing support for connect api in flex handler creation
  .changeset/lucky-ways-float.md
  packages/preview-middleware/src/base/flp.ts
Labels: bug, preview-middleware

#1984 feat: Custom action within custom section
  .changeset/chatty-apricots-occur.md
  packages/fe-fpm-writer/src/action/index.ts
  packages/fe-fpm-writer/src/action/types.ts
  packages/fe-fpm-writer/test/unit/__snapshots__/action.test.ts.snap
  packages/fe-fpm-writer/test/unit/action.test.ts
Labels: fe-fpm-writer
