Repository SAP/open-ux-tools, pull requests merged in 2024-12, with the labels that each got.

#2622 feat: disable qa and show tooltip when table rows are not loaded
  .changeset/nervous-rockets-accept.md
  packages/preview-middleware-client/src/adp/quick-actions/fe-v2/change-table-columns.ts
  packages/preview-middleware-client/src/adp/quick-actions/fe-v2/create-table-custom-column.ts
  packages/preview-middleware-client/src/adp/quick-actions/table-quick-action-base.ts
  packages/preview-middleware-client/src/messagebundle.properties
  packages/preview-middleware-client/test/unit/adp/quick-actions/fe-v2.test.ts
  packages/preview-middleware-client/test/unit/adp/quick-actions/fe-v4.test.ts
Labels: control-property-editor

#2588 fix: Various lint error fixes and code improvements in preview-middleware
  .changeset/smart-lamps-watch.md
  packages/preview-middleware-client/src/flp/WorkspaceConnector.ts
  packages/preview-middleware-client/src/flp/enableFakeConnector.ts
  packages/preview-middleware-client/src/flp/init.ts
  packages/preview-middleware-client/src/flp/initRta.ts
  packages/preview-middleware-client/test/unit/flp/init.test.ts
  packages/preview-middleware/src/base/config.ts
  packages/preview-middleware/src/base/flex.ts
  packages/preview-middleware/src/base/flp.ts
  packages/preview-middleware/src/base/test.ts
  packages/preview-middleware/src/ui5/middleware.ts
Labels: preview-middleware, preview-middleware-client

#2499 feat: Multiple service support
  .changeset/proud-buses-repeat.md
  packages/create/src/cli/add/mockserver-config.ts
  packages/create/src/cli/remove/mockserver-config.ts
  packages/create/test/unit/cli/add/mockserver-config.test.ts
  packages/create/test/unit/cli/remove/mockserver-config.test.ts
  packages/fiori-elements-writer/test/__snapshots__/alp.test.ts.snap
  packages/fiori-elements-writer/test/__snapshots__/feop.test.ts.snap
  packages/fiori-elements-writer/test/__snapshots__/fpm.test.ts.snap
  packages/fiori-elements-writer/test/__snapshots__/lrop.test.ts.snap
  packages/fiori-elements-writer/test/__snapshots__/ovp.test.ts.snap
  packages/fiori-elements-writer/test/__snapshots__/worklist.test.ts.snap
  packages/fiori-freestyle-writer/test/__snapshots__/basic.test.ts.snap
  packages/fiori-freestyle-writer/test/__snapshots__/index.test.ts.snap
  packages/fiori-freestyle-writer/test/__snapshots__/listdetail.test.ts.snap
  packages/fiori-freestyle-writer/test/__snapshots__/worklist.test.ts.snap
  packages/mockserver-config-writer/src/app-info.ts
  packages/mockserver-config-writer/src/i18n.ts
  packages/mockserver-config-writer/src/mockserver-config/index.ts
  packages/mockserver-config-writer/src/mockserver-config/package-json.ts
  packages/mockserver-config-writer/src/mockserver-config/ui5-mock-yaml.ts
  packages/mockserver-config-writer/src/prompt/index.ts
  packages/mockserver-config-writer/src/translations/mockserver-config-writer.i18n.json
  packages/mockserver-config-writer/src/types/index.ts
  packages/mockserver-config-writer/test/fixtures/ui5-mock-config/package.json
  packages/mockserver-config-writer/test/fixtures/ui5-mock-config/ui5-mock.yaml
  packages/mockserver-config-writer/test/fixtures/ui5-mock-config/webapp/localService/STTA_SALES_ORDER_ND_SRV_01/data/keep
  packages/mockserver-config-writer/test/fixtures/ui5-mock-config/webapp/localService/mainService/data/keep
  packages/mockserver-config-writer/test/fixtures/ui5-mock-config/webapp/manifest.json
  packages/mockserver-config-writer/test/unit/app-info.test.ts
  packages/mockserver-config-writer/test/unit/mockserver-config/__snapshots__/index.test.ts.snap
  packages/mockserver-config-writer/test/unit/mockserver-config/__snapshots__/ui5-mock-yaml.test.ts.snap
  packages/mockserver-config-writer/test/unit/mockserver-config/index.test.ts
  packages/mockserver-config-writer/test/unit/mockserver-config/ui5-mock-yaml.test.ts
  packages/odata-service-writer/src/data/annotations.ts
  packages/odata-service-writer/src/data/defaults.ts
  packages/odata-service-writer/src/delete.ts
  packages/odata-service-writer/src/index.ts
  packages/odata-service-writer/src/types.ts
  packages/odata-service-writer/src/updates.ts
  packages/odata-service-writer/templates/extend/manifest.json
  packages/odata-service-writer/test/__snapshots__/index.test.ts.snap
  packages/odata-service-writer/test/index.test.ts
  packages/odata-service-writer/test/test-data/manifest-json/edmx-manifest-multiple-annotations.ts
  packages/odata-service-writer/test/test-data/manifest-json/edmx-manifest-multiple-services.ts
  packages/odata-service-writer/test/unit/annotations.test.ts
  packages/odata-service-writer/test/unit/delete.test.ts
  packages/odata-service-writer/test/unit/index.test.ts
  packages/odata-service-writer/test/unit/updates.test.ts
  packages/ui5-config/src/index.ts
  packages/ui5-config/src/middlewares.ts
  packages/ui5-config/src/types/index.ts
  packages/ui5-config/src/ui5config.ts
  packages/ui5-config/test/__snapshots__/index.test.ts.snap
  packages/ui5-config/test/index.test.ts
Labels: ui5-config, odata-service-writer, mockserver-config-writer, create

#2362 fix: Update Adp writer deploy scripts
  .changeset/dull-moons-brush.md
  packages/adp-tooling/src/types.ts
  packages/adp-tooling/src/writer/options.ts
  packages/adp-tooling/templates/project/package.json
  packages/adp-tooling/test/unit/writer/__snapshots__/index.test.ts.snap
  packages/adp-tooling/test/unit/writer/index.test.ts
Labels: adp-tooling

#2649 Fix/2616/check auth partial service url
  .changeset/tall-turtles-exist.md
  packages/odata-service-inquirer/src/i18n.ts
  packages/odata-service-inquirer/src/prompts/connectionValidator.ts
  packages/odata-service-inquirer/src/prompts/datasources/sap-system/service-selection/questions.ts
  packages/odata-service-inquirer/src/translations/odata-service-inquirer.i18n.json
  packages/odata-service-inquirer/test/unit/prompts/connectionValidator.test.ts
  packages/odata-service-inquirer/test/unit/prompts/sap-system/service-selection/questions.test.ts
  packages/odata-service-inquirer/test/unit/prompts/sap-system/system-selection/questions.test.ts
Labels: odata-service-inquirer

#2653 fix: writing collections with string values
  .changeset/nice-brooms-grab.md
  packages/fiori-annotation-api/src/avt/to-internal.ts
  packages/fiori-annotation-api/test/unit/__snapshots__/fiori-service.test.ts.snap
  packages/fiori-annotation-api/test/unit/avt/__snapshots__/to-internal.test.ts.snap
  packages/fiori-annotation-api/test/unit/avt/to-internal.test.ts
  packages/fiori-annotation-api/test/unit/fiori-service.test.ts
Labels: fiori-annotation-api

#2658 chore/preview-middleware/increase test timeouts
  packages/preview-middleware/test/unit/ui5/middleware.test.ts
Labels: preview-middleware

#2644 feat: add request options to manifest-service
  .changeset/clean-turtles-call.md
  packages/adp-tooling/src/base/abap/manifest-service.ts
  packages/adp-tooling/templates/changes/annotation.xml
  packages/adp-tooling/test/unit/base/abap/manifest-service.test.ts
  packages/preview-middleware/test/unit/ui5/middleware.test.ts
Labels: feature, adp-tooling

#2660 fix: tooltip text for filter variant quick action
  .changeset/green-windows-play.md
  packages/preview-middleware-client/src/adp/quick-actions/fe-v2/lr-enable-table-filtering.ts
  packages/preview-middleware-client/src/adp/quick-actions/fe-v4/lr-enable-table-filtering.ts
  packages/preview-middleware-client/src/messagebundle.properties
  packages/preview-middleware-client/test/unit/adp/quick-actions/fe-v4.test.ts
Labels: control-property-editor

#2662 fix: hide quick action if the application has old manifest structure
  .changeset/light-crabs-camp.md
  packages/preview-middleware-client/src/adp/quick-actions/fe-v2/lr-enable-semantic-date-range-filter-bar.ts
  packages/preview-middleware-client/src/adp/quick-actions/fe-v2/lr-enable-table-filtering.ts
  packages/preview-middleware-client/src/adp/quick-actions/fe-v2/utils.ts
  packages/preview-middleware-client/test/unit/adp/quick-actions/fe-v2.test.ts
  packages/preview-middleware-client/types/sap.ui.rta.d.ts
Labels: control-property-editor

#2663 fix: Modify existing services
  .changeset/pretty-ghosts-cough.md
  packages/odata-service-writer/src/index.ts
  packages/odata-service-writer/src/updates.ts
  packages/odata-service-writer/test/unit/index.test.ts
  packages/odata-service-writer/test/unit/updates.test.ts
Labels: odata-service-writer

#2504 Feat/2172/convert local preview files
  .changeset/flat-vans-smash.md
  packages/app-config-writer/src/index.ts
  packages/app-config-writer/src/preview-config/index.ts
  packages/app-config-writer/src/preview-config/package-json.ts
  packages/app-config-writer/src/preview-config/prerequisites.ts
  packages/app-config-writer/src/preview-config/preview-files.ts
  packages/app-config-writer/src/preview-config/ui5-yaml.ts
  packages/app-config-writer/src/variants-config/package-json.ts
  packages/app-config-writer/src/variants-config/ui5-yaml.ts
  packages/app-config-writer/src/variants-config/utils.ts
  packages/app-config-writer/test/fixtures/preview-config/various-configs/ui5-deprecated-tools-preview-theme.yaml
  packages/app-config-writer/test/fixtures/preview-config/various-configs/ui5-deprecated-tools-preview.yaml
  packages/app-config-writer/test/fixtures/preview-config/various-configs/ui5-existing-preview-middleware.yaml
  packages/app-config-writer/test/fixtures/preview-config/various-configs/ui5-existing-tools-preview.yaml
  packages/app-config-writer/test/fixtures/preview-config/various-configs/ui5-invalid.yaml
  packages/app-config-writer/test/fixtures/preview-config/various-configs/ui5-no-middleware.yaml
  packages/app-config-writer/test/fixtures/preview-config/various-configs/ui5.yaml
  packages/app-config-writer/test/fixtures/variants-config/up-to-date-config/package.json
  packages/app-config-writer/test/fixtures/variants-config/up-to-date/package.json
  packages/app-config-writer/test/fixtures/variants-config/up-to-date/ui5.yaml
  packages/app-config-writer/test/unit/preview-config/__snapshots__/package-json.test.ts.snap
  packages/app-config-writer/test/unit/preview-config/__snapshots__/ui5-yaml.test.ts.snap
  packages/app-config-writer/test/unit/preview-config/index.test.ts
  packages/app-config-writer/test/unit/preview-config/package-json.test.ts
  packages/app-config-writer/test/unit/preview-config/prerequisites.test.ts
  packages/app-config-writer/test/unit/preview-config/preview-files.test.ts
  packages/app-config-writer/test/unit/preview-config/ui5-yaml.test.ts
  packages/app-config-writer/test/unit/variants-config/__snapshots__/generateVariantsConfig.test.ts.snap
  packages/app-config-writer/test/unit/variants-config/__snapshots__/package-json.test.ts.snap
  packages/app-config-writer/test/unit/variants-config/ui5-yaml.test.ts
  packages/app-config-writer/test/unit/variants-config/utils.test.ts
  packages/create/README.md
  packages/create/src/cli/convert/index.ts
  packages/create/src/cli/convert/preview.ts
  packages/create/src/cli/index.ts
  packages/create/test/unit/cli/convert/preview.test.ts
  packages/preview-middleware/README.md
  packages/preview-middleware/src/base/config.ts
  packages/preview-middleware/src/base/flp.ts
  packages/preview-middleware/src/index.ts
  packages/preview-middleware/src/types/index.ts
  packages/preview-middleware/test/unit/base/__snapshots__/flp.test.ts.snap
  packages/project-access/src/file/file-search.ts
  packages/project-access/src/index.ts
  packages/project-access/src/project/index.ts
  packages/project-access/src/project/ui5-config.ts
  packages/project-access/test/file/file-search.test.ts
  packages/project-access/test/project/ui5-config.test.ts
  packages/project-access/test/test-data/project/webapp-path/default-with-ui5-yaml/ui5-custom-multi.yaml
  packages/project-access/test/test-data/project/webapp-path/default-with-ui5-yaml/ui5-custom.yaml
  packages/ui5-config/package.json
  packages/ui5-config/scripts/download-ui5yaml-schema.js
  packages/ui5-config/src/ui5config.ts
  packages/ui5-config/test/__snapshots__/index.test.ts.snap
  packages/ui5-config/test/index.test.ts
  pnpm-lock.yaml
Labels: project-access, create, preview-middleware

#2674 fix(odata-service-inquirer): Wrong dest url format in yamls
  .changeset/new-hornets-taste.md
  packages/odata-service-inquirer/src/prompts/connectionValidator.ts
  packages/odata-service-inquirer/test/unit/prompts/connectionValidator.test.ts
Labels: odata-service-inquirer

#2610 feat: Enhance extracted FLP prompts to support ADP scenario
  .changeset/three-pigs-punch.md
  packages/adp-tooling/package.json
  packages/adp-tooling/src/base/abap/manifest-service.ts
  packages/adp-tooling/src/base/helper.ts
  packages/adp-tooling/src/common/flp-parameters.ts
  packages/adp-tooling/src/common/index.ts
  packages/adp-tooling/src/index.ts
  packages/adp-tooling/src/types.ts
  packages/adp-tooling/src/writer/inbound-navigation.ts
  packages/adp-tooling/src/writer/options.ts
  packages/adp-tooling/test/unit/base/abap/manifest-service.test.ts
  packages/adp-tooling/test/unit/base/common/flp-parameters.test.ts
  packages/adp-tooling/test/unit/base/helper.test.ts
  packages/adp-tooling/test/unit/writer/inbound-navigation.test.ts
  packages/adp-tooling/tsconfig.json
  packages/create/package.json
  packages/create/src/cli/add/annotations-to-odata.ts
  packages/create/src/cli/add/navigation-config.ts
  packages/create/src/cli/change/change-data-source.ts
  packages/create/src/common/prompts.ts
  packages/create/test/unit/cli/add/annotations-to-odata.test.ts
  packages/create/test/unit/cli/add/inbound-navigation-config.test.ts
  packages/flp-config-inquirer/package.json
  packages/flp-config-inquirer/src/index.ts
  packages/flp-config-inquirer/src/prompts/prompts.ts
  packages/flp-config-inquirer/src/prompts/questions/advanced.ts
  packages/flp-config-inquirer/src/prompts/questions/index.ts
  packages/flp-config-inquirer/src/translations/flp-config-inquirer.i18n.json
  packages/flp-config-inquirer/src/types.ts
  packages/flp-config-inquirer/test/index.test.ts
  packages/flp-config-inquirer/test/prompts/prompts.test.ts
  packages/flp-config-inquirer/test/prompts/questions/advanced.test.ts
  packages/flp-config-inquirer/tsconfig.json
  packages/inquirer-common/src/types.ts
  pnpm-lock.yaml
Labels: feature, flp-config-inquirer

#2686 fix: Manifest template for services
  .changeset/tough-poems-smile.md
  packages/odata-service-writer/src/types.ts
  packages/odata-service-writer/templates/extend/manifest.json
  packages/odata-service-writer/test/test-data/manifest-json/edmx-manifest-local-annotation.ts
  packages/odata-service-writer/test/test-data/manifest-json/edmx-manifest-local-annotations.ts
  packages/odata-service-writer/test/unit/updates.test.ts
Labels: odata-service-writer

#2693 fix(`odata-service-inquirer`): Apply additional messages to service selection prompt
  .changeset/swift-impalas-tap.md
  packages/odata-service-inquirer/src/prompts/datasources/sap-system/abap-on-btp/questions.ts
  packages/odata-service-inquirer/src/prompts/datasources/sap-system/abap-on-prem/questions.ts
  packages/odata-service-inquirer/src/prompts/datasources/sap-system/service-selection/questions.ts
  packages/odata-service-inquirer/src/prompts/datasources/sap-system/service-selection/service-helper.ts
  packages/odata-service-inquirer/src/prompts/datasources/sap-system/system-selection/questions.ts
  packages/odata-service-inquirer/test/unit/prompts/sap-system/service-selection/questions.test.ts
Labels: odata-service-inquirer

#2650 fix: load changes from workspace in Preview after deployment
  .changeset/tall-clocks-learn.md
  packages/preview-middleware/src/base/flp.ts
  packages/preview-middleware/test/unit/base/__snapshots__/flp.test.ts.snap
  packages/preview-middleware/test/unit/base/flp.test.ts
Labels: bug, preview-middleware

#2696 fix: Removed ejs for manifest updates
  .changeset/cold-moles-bake.md
  packages/odata-service-writer/src/data/defaults.ts
  packages/odata-service-writer/src/index.ts
  packages/odata-service-writer/src/updates.ts
  packages/odata-service-writer/templates/extend/manifest.json
  packages/odata-service-writer/test/test-data/manifest-json/edmx-manifest-no-annotations.ts
  packages/odata-service-writer/test/unit/updates.test.ts
Labels: odata-service-writer

#2691 Feat(preview-middleware-client): adjust loading UI5 version to be more precise
  .changeset/large-rabbits-double.md
  packages/jest-environment-ui5/test/unit/tsMappingStrategy.test.js
  packages/preview-middleware-client/src/utils/version.ts
  packages/preview-middleware-client/test/unit/utils/version.test.ts
Labels: preview-middleware-client

#2716 feat(ui-components): add multiple missing exports
  .changeset/fifty-nails-search.md
  packages/ui-components/src/components/UIChoiceGroup/UIChoiceGroup.tsx
  packages/ui-components/src/components/UIList/UIList.tsx
  packages/ui-components/src/components/UILoader/UILoader.tsx
  packages/ui-components/src/components/index.tsx
  packages/ui-components/src/utilities/Focus.ts
Labels: ui-components

#2713 fix(odata-service-inquirer): Multiple validation messages and credential prompt issues
  .changeset/selfish-shirts-yawn.md
  packages/inquirer-common/src/error-handler/error-handler.ts
  packages/inquirer-common/src/telemetry/telemetry.ts
  packages/inquirer-common/src/translations/inquirer-common.i18n.json
  packages/inquirer-common/test/unit/error-handler/error-handler.test.ts
  packages/odata-service-inquirer/src/prompts/datasources/sap-system/system-selection/prompt-helpers.ts
Labels: odata-service-inquirer

#2721 feat(ui-components): add missing exports 2
  .changeset/long-candles-push.md
  packages/ui-components/src/index.tsx
Labels: ui-components

#2720 feat: provide onlyShowDefault option and expose getSystemSelectionQuestions
  .changeset/plenty-owls-move.md
  packages/odata-service-inquirer/src/index.ts
  packages/odata-service-inquirer/src/prompts/datasources/sap-system/system-selection/questions.ts
  packages/odata-service-inquirer/src/types.ts
  packages/odata-service-inquirer/test/unit/index-api.test.ts
  packages/odata-service-inquirer/test/unit/prompts/sap-system/system-selection/questions.test.ts
Labels: feature, odata-service-inquirer

#2722 fix(preview-middleware-client): dialog and manifest change quick actions
  .changeset/modern-phones-help.md
  packages/control-property-editor/src/panels/quick-actions/NestedQuickAction.tsx
  packages/preview-middleware-client/src/adp/controllers/AddFragment.controller.ts
  packages/preview-middleware-client/src/adp/controllers/AddTableColumnFragments.controller.ts
  packages/preview-middleware-client/src/adp/controllers/BaseDialog.controller.ts
  packages/preview-middleware-client/src/adp/dialog-factory.ts
  packages/preview-middleware-client/src/adp/extension-point.ts
  packages/preview-middleware-client/src/adp/init-dialogs.ts
  packages/preview-middleware-client/src/adp/quick-actions/common/add-controller-to-page.ts
  packages/preview-middleware-client/src/adp/quick-actions/common/create-page-action.ts
  packages/preview-middleware-client/src/adp/quick-actions/common/op-add-custom-section.ts
  packages/preview-middleware-client/src/adp/quick-actions/common/op-add-header-field.ts
  packages/preview-middleware-client/src/adp/quick-actions/dialog-enablement-validator.ts
  packages/preview-middleware-client/src/adp/quick-actions/enablement-validator.ts
  packages/preview-middleware-client/src/adp/quick-actions/fe-v2/change-table-columns.ts
  packages/preview-middleware-client/src/adp/quick-actions/fe-v2/create-table-action.ts
  packages/preview-middleware-client/src/adp/quick-actions/fe-v2/create-table-custom-column.ts
  packages/preview-middleware-client/src/adp/quick-actions/fe-v2/lr-enable-semantic-date-range-filter-bar.ts
  packages/preview-middleware-client/src/adp/quick-actions/fe-v2/lr-enable-table-filtering.ts
  packages/preview-middleware-client/src/adp/quick-actions/fe-v4/change-table-columns.ts
  packages/preview-middleware-client/src/adp/quick-actions/fe-v4/create-table-action.ts
  packages/preview-middleware-client/src/adp/quick-actions/fe-v4/create-table-custom-column.ts
  packages/preview-middleware-client/src/adp/quick-actions/fe-v4/table-quick-action-base.ts
  packages/preview-middleware-client/src/adp/quick-actions/quick-action-base.ts
  packages/preview-middleware-client/src/adp/quick-actions/simple-quick-action-base.ts
  packages/preview-middleware-client/src/adp/quick-actions/table-quick-action-base.ts
  packages/preview-middleware-client/src/cpe/changes/service.ts
  packages/preview-middleware-client/src/cpe/quick-actions/quick-action-definition.ts
  packages/preview-middleware-client/src/cpe/quick-actions/quick-action-service.ts
  packages/preview-middleware-client/src/messagebundle.properties
  packages/preview-middleware-client/test/__mock__/sap/ui/core/Fragment.ts
  packages/preview-middleware-client/test/unit/adp/dialog-factory.test.ts
  packages/preview-middleware-client/test/unit/adp/init-dialogs.test.ts
  packages/preview-middleware-client/test/unit/adp/quick-actions/fe-v2.test.ts
  packages/preview-middleware-client/test/unit/adp/quick-actions/fe-v4.test.ts
  packages/preview-middleware-client/test/unit/cpe/changes/service.test.ts
  packages/preview-middleware-client/test/unit/cpe/quick-actions/service.test.ts
Labels: preview-middleware-client
