Repository SAP/open-ux-tools, pull requests merged in 2024-07, with the labels that each got.

#2086 fix: add description in i18n.properties
  .changeset/afraid-crabs-pretend.md
  packages/adp-tooling/src/types.ts
  packages/adp-tooling/templates/project/webapp/i18n/i18n.properties
  packages/adp-tooling/test/unit/writer/__snapshots__/index.test.ts.snap
  packages/adp-tooling/test/unit/writer/index.test.ts
Labels: adp-tooling

#2107 fix: Incorrect change mapping for 'reference' property for Adaptation Project's writers
  .changeset/unlucky-pumpkins-double.md
  packages/adp-tooling/src/base/change-utils.ts
  packages/adp-tooling/test/unit/base/change-utils.test.ts
Labels: bug, adp-tooling

#2114 fix: Release version of @sap-ux/project-access with filterDataSourcesByType
  .changeset/nice-jars-bake.md
  packages/project-access/src/project/service.ts
Labels: bug, project-access, adp-tooling

#2021 fix: i18n bindings validation fails for nested *.properties files
  .changeset/popular-plants-fail.md
  packages/preview-middleware-client/src/cpe/changes/flex-change.ts
  packages/preview-middleware-client/src/cpe/changes/validator.ts
  packages/preview-middleware-client/src/flp/init.ts
  packages/preview-middleware-client/test/__mock__/sap/ui/fl/Scenario.ts
  packages/preview-middleware-client/test/unit/cpe/changes/validator.spec.ts
  packages/preview-middleware-client/test/unit/flp/init.test.ts
Labels: bug, preview-middleware, preview-middleware-client

#2124 fix: Missing Scenario API in lower SAPUI5 versions
  .changeset/dry-starfishes-stare.md
  packages/control-property-editor-common/src/api.ts
  packages/control-property-editor/src/slice.ts
  packages/control-property-editor/test/unit/App.test.tsx
  packages/control-property-editor/test/unit/panels/outline/OutlinePanel.test.tsx
  packages/control-property-editor/test/unit/slice.test.ts
  packages/preview-middleware-client/src/flp/init.ts
  packages/preview-middleware-client/test/unit/cpe/init.test.ts
  packages/preview-middleware-client/test/unit/flp/init.test.ts
  packages/preview-middleware-client/types/sap.ui.fl.d.ts
  packages/preview-middleware/test/integration/preview/preview.spec.ts
Labels: bug, preview-middleware, preview-middleware-client

#2135 feat: Add toolsId in ui5.yaml for Adaptation Project writers and remove safeMode
  .changeset/calm-cats-enjoy.md
  packages/adp-tooling/package.json
  packages/adp-tooling/src/base/prompt.ts
  packages/adp-tooling/src/types.ts
  packages/adp-tooling/src/writer/options.ts
  packages/adp-tooling/src/writer/project-utils.ts
  packages/adp-tooling/test/unit/base/prompt.test.ts
  packages/adp-tooling/test/unit/writer/__snapshots__/index.test.ts.snap
  packages/adp-tooling/test/unit/writer/index.test.ts
  packages/adp-tooling/test/unit/writer/project-utils.test.ts
  pnpm-lock.yaml
Labels: feature, create, adp-tooling

#2138 feat: add `getSpecificationPath` to retrieve specification path
  .changeset/young-garlics-smell.md
  packages/project-access/src/index.ts
  packages/project-access/src/project/index.ts
  packages/project-access/src/project/module-loader.ts
  packages/project-access/src/project/specification.ts
  packages/project-access/test/project/specification.test.ts
Labels: project-access

#1941 feat: Disable add controller and fragment for reuse components
  .changeset/swift-bugs-act.md
  packages/control-property-editor/src/App.tsx
  packages/control-property-editor/test/unit/App.test.tsx
  packages/preview-middleware-client/src/adp/init-dialogs.ts
  packages/preview-middleware-client/src/adp/init.ts
  packages/preview-middleware-client/src/cpe/outline/index.ts
  packages/preview-middleware-client/src/cpe/outline/nodes.ts
  packages/preview-middleware-client/src/cpe/outline/utils.ts
  packages/preview-middleware-client/test/__mock__/sap/ui/core/Component.ts
  packages/preview-middleware-client/test/unit/adp/init-dialogs.test.ts
  packages/preview-middleware-client/test/unit/cpe/outline/index.test.ts
  packages/preview-middleware-client/test/unit/cpe/outline/nodes.test.ts
  packages/preview-middleware-client/test/unit/cpe/outline/utils.test.ts
  packages/preview-middleware-client/types/sap.ui.rta.d.ts
Labels: preview-middleware, preview-middleware-client, control-property-editor

#2146 fix: generate correct ui5.yaml for adp
  .changeset/friendly-swans-bow.md
  packages/adp-tooling/src/writer/options.ts
  packages/adp-tooling/test/unit/writer/__snapshots__/index.test.ts.snap
  packages/preview-middleware/README.md
  packages/ui5-config/src/middlewares.ts
  packages/ui5-config/src/ui5config.ts
Labels: ui5-config, adp-tooling

#2152 fix: Remove safeMode from `adp-tooling` types and change order of ui5.yaml custom configuration
  .changeset/tender-wombats-mix.md
  packages/adp-tooling/src/types.ts
  packages/adp-tooling/src/writer/options.ts
  packages/adp-tooling/src/writer/project-utils.ts
  packages/adp-tooling/test/unit/writer/__snapshots__/index.test.ts.snap
Labels: bug, adp-tooling

#2097 Fix/preview middleware/test racing condition
  .changeset/cold-pears-clean.md
  packages/preview-middleware/templates/test/qunit.js
  packages/preview-middleware/test/unit/base/__snapshots__/flp.test.ts.snap
Labels: preview-middleware

#2171 fix: module-loader does not install specification dependency in `.fioritools` folder when node_modules exists on C:\Users\{User} level
  .changeset/good-waves-boil.md
  packages/project-access/src/project/module-loader.ts
  packages/project-access/test/project/module-loader.test.ts
Labels: project-access

#2131 fix: Extension points break the outline tree sync for apps with UI5 version =< 1.96.33
  .changeset/neat-kids-exercise.md
  packages/preview-middleware-client/src/cpe/outline/nodes.ts
  packages/preview-middleware-client/test/unit/cpe/outline/nodes.test.ts
Labels: bug, preview-middleware, preview-middleware-client

#2096 feature(odata-service-inquirer): Adds abap on prem prompts
  .changeset/many-bears-clean.md
  packages/inquirer-common/src/types.ts
  packages/odata-service-inquirer/package.json
  packages/odata-service-inquirer/src/index.ts
  packages/odata-service-inquirer/src/prompts/connectionValidator.ts
  packages/odata-service-inquirer/src/prompts/datasources/sap-system/abap-on-prem/questions.ts
  packages/odata-service-inquirer/src/prompts/datasources/sap-system/abap-on-prem/service-helper.ts
  packages/odata-service-inquirer/src/prompts/datasources/sap-system/new-system/questions.ts
  packages/odata-service-inquirer/src/prompts/datasources/sap-system/prompt-helpers.ts
  packages/odata-service-inquirer/src/prompts/datasources/sap-system/validators.ts
  packages/odata-service-inquirer/src/prompts/datasources/service-url/questions.ts
  packages/odata-service-inquirer/src/prompts/datasources/service-url/validators.ts
  packages/odata-service-inquirer/src/prompts/logger-helper.ts
  packages/odata-service-inquirer/src/prompts/prompts.ts
  packages/odata-service-inquirer/src/translations/odata-service-inquirer.i18n.json
  packages/odata-service-inquirer/src/types.ts
  packages/odata-service-inquirer/test/unit/index-api.test.ts
  packages/odata-service-inquirer/test/unit/prompts/connectionValidator.test.ts
  packages/odata-service-inquirer/test/unit/prompts/prompts.test.ts
  packages/odata-service-inquirer/test/unit/prompts/sap-system/abap-on-prem/questions.test.ts
  packages/odata-service-inquirer/test/unit/prompts/sap-system/new-system/questions.test.ts
  packages/odata-service-inquirer/test/unit/prompts/sap-system/prompt-helpers.test.ts
  packages/odata-service-inquirer/test/unit/prompts/sap-system/questions.test.ts
  packages/odata-service-inquirer/test/unit/prompts/service-url/questions.test.ts
  packages/odata-service-inquirer/tsconfig.json
  packages/project-input-validator/src/translations/project-input-validator.i18n.json
  pnpm-lock.yaml
Labels: odata-service-inquirer

#2180 fix: storybook issue after storybook update
  .changeset/stupid-news-battle.md
  packages/ui-components/.storybook/main.js
  packages/ui-components/.storybook/manager-head.html
  packages/ui-components/package.json
  pnpm-lock.yaml
Labels: ui-components

#2179 feat(fe-fpm-writer): add required libraries on page addition
  .changeset/funny-hats-rush.md
  packages/fe-fpm-writer/src/common/validate.ts
  packages/fe-fpm-writer/src/page/common.ts
  packages/fe-fpm-writer/src/page/custom.ts
  packages/fe-fpm-writer/src/page/list.ts
  packages/fe-fpm-writer/src/page/object.ts
  packages/fe-fpm-writer/src/page/types.ts
  packages/fe-fpm-writer/templates/page/custom/1.84/manifest.json
  packages/fe-fpm-writer/templates/page/custom/1.94/manifest.json
  packages/fe-fpm-writer/templates/page/list/manifest.json
  packages/fe-fpm-writer/templates/page/object/manifest.json
  packages/fe-fpm-writer/test/unit/page/__snapshots__/custom.test.ts.snap
  packages/fe-fpm-writer/test/unit/page/__snapshots__/list.test.ts.snap
  packages/fe-fpm-writer/test/unit/page/__snapshots__/object.test.ts.snap
  packages/fe-fpm-writer/test/unit/page/custom.test.ts
  packages/fe-fpm-writer/test/unit/page/list.test.ts
  packages/fe-fpm-writer/test/unit/page/object.test.ts
  packages/fiori-elements-writer/test/__snapshots__/fpm.test.ts.snap
Labels: fe-fpm-writer

#2190 fix(fe-fpm-writer): add `@sap-ux/project-access` to dependencies
  .changeset/warm-shirts-warn.md
  packages/fe-fpm-writer/package.json
  pnpm-lock.yaml
Labels: fe-fpm-writer

#2167 feat: Change inbound prompting
  .changeset/ninety-suits-pay.md
  packages/adp-tooling/src/base/change-utils.ts
  packages/adp-tooling/src/index.ts
  packages/adp-tooling/src/prompts/change-inbound/index.ts
  packages/adp-tooling/src/prompts/index.ts
  packages/adp-tooling/src/translations/adp-tooling.i18n.json
  packages/adp-tooling/src/types.ts
  packages/adp-tooling/src/writer/changes/writers/inbound-writer.ts
  packages/adp-tooling/test/unit/prompts/change-inbound/index.test.ts
  packages/adp-tooling/test/unit/writer/changes/writers/index.test.ts
  packages/create/README.md
  packages/create/src/cli/change/change-inbound.ts
  packages/create/src/cli/change/index.ts
  packages/create/src/validation/index.ts
  packages/create/src/validation/validation.ts
  packages/create/test/fixtures/adaptation-project/manifest.appdescr_variant.cloud
  packages/create/test/unit/cli/change/change-inbound.test.ts
  packages/create/test/unit/validation/validation.test.ts
Labels: create, adp-tooling

#2196 Fixes for multiple abap-on-prem new system prompts
  .changeset/mighty-meals-divide.md
  packages/odata-service-inquirer/src/prompts/connectionValidator.ts
  packages/odata-service-inquirer/src/prompts/datasources/sap-system/abap-on-prem/questions.ts
  packages/odata-service-inquirer/src/prompts/datasources/sap-system/new-system/questions.ts
  packages/odata-service-inquirer/src/prompts/datasources/sap-system/validators.ts
  packages/odata-service-inquirer/src/translations/odata-service-inquirer.i18n.json
  packages/odata-service-inquirer/test/unit/prompts/connectionValidator.test.ts
  packages/odata-service-inquirer/test/unit/prompts/sap-system/abap-on-prem/questions.test.ts
Labels: odata-service-inquirer
