Repository SAP/open-ux-tools, pull requests merged in 2024-01, with the labels that each got.

#1553 Remove label and icon in CPE, change how project scenario is set
  .changeset/plenty-rockets-accept.md
  packages/control-property-editor-common/src/api.ts
  packages/control-property-editor/esbuild.js
  packages/control-property-editor/src/App.tsx
  packages/control-property-editor/src/favicon.ico
  packages/control-property-editor/src/index.tsx
  packages/control-property-editor/src/panels/LeftPanel.tsx
  packages/control-property-editor/src/slice.ts
  packages/control-property-editor/test/unit/App.test.tsx
  packages/control-property-editor/test/unit/slice.test.ts
  packages/preview-middleware-client/src/cpe/init.ts
  packages/preview-middleware-client/test/unit/adp/init.test.ts
  packages/preview-middleware-client/test/unit/cpe/init.test.ts
  packages/preview-middleware/src/base/flp.ts
  packages/preview-middleware/src/types/index.ts
  packages/preview-middleware/templates/flp/editor.html
  packages/preview-middleware/test/unit/base/__snapshots__/flp.test.ts.snap
Labels: preview-middleware, preview-middleware-client, control-property-editor

#1584 feat(axios-extension): use token for connecting to abap cloud
  .changeset/tough-elephants-move.md
  packages/axios-extension/src/auth/index.ts
  packages/axios-extension/src/auth/uaa.ts
  packages/axios-extension/test/abap/abap-adt-service.test.ts
  packages/axios-extension/test/auth/uaa.test.ts
Labels: axios-extension

#1588 feat(backend-proxy-middleware): use token for connecting to abap cloud
  .changeset/ninety-weeks-count.md
  packages/backend-proxy-middleware/src/base/proxy.ts
  packages/backend-proxy-middleware/test/base/proxy.test.ts
Labels: backend-proxy-middleware

#1607 fix(fpm-writer): adjust fpm writer tests to avoid test failure on windows
  packages/fe-fpm-writer/test/common/index.ts
  packages/fe-fpm-writer/test/unit/action.test.ts
  packages/fe-fpm-writer/test/unit/column.test.ts
  packages/fe-fpm-writer/test/unit/filter.test.ts
  packages/fe-fpm-writer/test/unit/section.test.ts
  packages/fe-fpm-writer/test/unit/view.test.ts
Labels: fe-fpm-writer
