Repository SAP/open-ux-tools, pull requests merged in 2024-02, with the labels that each got.

#1619 Fix - The mark for saved/unsaved change not updated on Save/Delete change
  .changeset/mean-trees-learn.md
  packages/control-property-editor/src/panels/outline/Tree.tsx
Labels: control-property-editor

#1534 feat(ui-components): UIQuickNavigation component to allow focus navigation through groups
  .changeset/proud-phones-repair.md
  packages/ui-components/src/components/UIQuickNavigation/UIQuickNavigation.scss
  packages/ui-components/src/components/UIQuickNavigation/UIQuickNavigation.tsx
  packages/ui-components/src/components/UIQuickNavigation/index.tsx
  packages/ui-components/src/components/index.tsx
  packages/ui-components/src/utilities/Dom.ts
  packages/ui-components/stories/UIQuickNavigation.story.tsx
  packages/ui-components/test/unit/components/UIQuickNavigation.test.tsx
Labels: ui-components

#1569 Property change is created (unsaved) on key press
  .changeset/nine-glasses-try.md
  packages/control-property-editor/src/App.tsx
  packages/control-property-editor/src/panels/properties/StringEditor.tsx
  packages/control-property-editor/src/slice.ts
  packages/control-property-editor/test/unit/panels/properties/StringEditor.test.tsx
  packages/control-property-editor/test/unit/slice.test.ts
Labels: control-property-editor

#1650 feat: add ExtensionLogger for convenient VSCode extension logging
  .changeset/green-guests-brake.md
  packages/logger/package.json
  packages/logger/src/extension-logger/index.ts
  packages/logger/src/index.ts
  packages/logger/src/transports/transport.ts
  packages/logger/src/winston-logger/logger.ts
  packages/logger/src/winston-logger/vscode-output-channel-transport.ts
  packages/logger/test/unit/extension-logger/index.test.ts
  packages/logger/test/unit/winston-logger/logger.test.ts
  pnpm-lock.yaml
Labels: logger

#1657 fix(backend-proxy): remove Partitioned from the cookies
  .changeset/nasty-trainers-sort.md
  packages/backend-proxy-middleware/src/base/proxy.ts
  packages/backend-proxy-middleware/test/base/proxy.test.ts
  pnpm-lock.yaml
Labels: backend-proxy-middleware

#1663 feat: Optional ID parameter in page templates
  .changeset/giant-bananas-scream.md
  packages/fe-fpm-writer/src/page/common.ts
  packages/fe-fpm-writer/src/page/types.ts
  packages/fe-fpm-writer/templates/page/custom/1.84/manifest.json
  packages/fe-fpm-writer/templates/page/custom/1.94/manifest.json
  packages/fe-fpm-writer/templates/page/list/manifest.json
  packages/fe-fpm-writer/templates/page/object/manifest.json
  packages/fe-fpm-writer/test/unit/page/__snapshots__/custom.test.ts.snap
  packages/fe-fpm-writer/test/unit/page/__snapshots__/list.test.ts.snap
  packages/fe-fpm-writer/test/unit/page/__snapshots__/object.test.ts.snap
  packages/fe-fpm-writer/test/unit/page/custom.test.ts
  packages/fe-fpm-writer/test/unit/page/list.test.ts
  packages/fe-fpm-writer/test/unit/page/object.test.ts
Labels: fe-fpm-writer

#1674 feat: Controller prefix for event handler
  .changeset/beige-timers-buy.md
  packages/fe-fpm-writer/src/common/event-handler.ts
  packages/fe-fpm-writer/src/common/types.ts
  packages/fe-fpm-writer/test/unit/__snapshots__/action.test.ts.snap
  packages/fe-fpm-writer/test/unit/action.test.ts
Labels: fe-fpm-writer

#1678 fix(preview-middleware): add express in devDependencies
  .changeset/shiny-eggs-cry.md
  packages/preview-middleware/package.json
  pnpm-lock.yaml
Labels: preview-middleware

#1673 feat(serve-static): add serve-static-middleware
  .changeset/real-lemons-mate.md
  .github/CODEOWNERS
  packages/serve-static-middleware/.eslintignore
  packages/serve-static-middleware/.eslintrc.js
  packages/serve-static-middleware/LICENSE
  packages/serve-static-middleware/README.md
  packages/serve-static-middleware/jest.config.js
  packages/serve-static-middleware/package.json
  packages/serve-static-middleware/src/base/index.ts
  packages/serve-static-middleware/src/base/servestatic.ts
  packages/serve-static-middleware/src/base/types.ts
  packages/serve-static-middleware/src/base/utils.ts
  packages/serve-static-middleware/src/index.ts
  packages/serve-static-middleware/src/ui5/middleware.ts
  packages/serve-static-middleware/test/base/__snapshots__/servestatic.test.ts.snap
  packages/serve-static-middleware/test/base/__snapshots__/utils.test.ts.snap
  packages/serve-static-middleware/test/base/servestatic.test.ts
  packages/serve-static-middleware/test/base/utils.test.ts
  packages/serve-static-middleware/test/fixtures/local/resources/sap-ui-core.js
  packages/serve-static-middleware/test/fixtures/local/test-resources/sandbox.js
  packages/serve-static-middleware/test/fixtures/local/webapp/mock/user.json
  packages/serve-static-middleware/test/ui5/middleware.test.ts
  packages/serve-static-middleware/tsconfig.eslint.json
  packages/serve-static-middleware/tsconfig.json
  packages/serve-static-middleware/ui5.yaml
  pnpm-lock.yaml
  sonar-project.properties
  tsconfig.json
Labels: serve-static-middleware

#1597 Support ui5 version 1.71.* in CPE
  .changeset/bright-balloons-begin.md
  packages/axios-extension/src/abap/lrep-service.ts
  packages/preview-middleware-client/.eslintrc.js
  packages/preview-middleware-client/jest.config.js
  packages/preview-middleware-client/src/adp/command-executor.ts
  packages/preview-middleware-client/src/adp/controllers/AddFragment.controller.ts
  packages/preview-middleware-client/src/adp/controllers/BaseDialog.controller.ts
  packages/preview-middleware-client/src/adp/controllers/ControllerExtension.controller.ts
  packages/preview-middleware-client/src/adp/controllers/ExtensionPoint.controller.ts
  packages/preview-middleware-client/src/adp/init-dialogs.ts
  packages/preview-middleware-client/src/adp/init.ts
  packages/preview-middleware-client/src/adp/ui/AddFragment.fragment.xml
  packages/preview-middleware-client/src/adp/ui/AddFragment.view.xml
  packages/preview-middleware-client/src/adp/ui/ControllerExtension.fragment.xml
  packages/preview-middleware-client/src/adp/ui/ControllerExtension.view.xml
  packages/preview-middleware-client/src/adp/ui/ExtensionPoint.fragment.xml
  packages/preview-middleware-client/src/adp/ui/ExtensionPoint.view.xml
  packages/preview-middleware-client/src/flp/WorkspaceConnector.ts
  packages/preview-middleware-client/src/flp/common.ts
  packages/preview-middleware-client/src/flp/enableFakeConnector.ts
  packages/preview-middleware-client/src/flp/init.ts
  packages/preview-middleware-client/src/flp/initConnectors.ts
  packages/preview-middleware-client/src/flp/initRta.ts
  packages/preview-middleware-client/test/__mock__/sap/ui/core/Control.ts
  packages/preview-middleware-client/test/__mock__/sap/ui/core/Fragment.ts
  packages/preview-middleware-client/test/__mock__/sap/ui/core/UIComponent.ts
  packages/preview-middleware-client/test/__mock__/sap/ui/fl/FakeLrepConnector.ts
  packages/preview-middleware-client/test/__mock__/sap/ui/fl/LrepConnector.ts
  packages/preview-middleware-client/test/__mock__/sap/ui/fl/Utils.ts
  packages/preview-middleware-client/test/__mock__/sap/ui/fl/write/api/FeaturesAPI.ts
  packages/preview-middleware-client/test/__mock__/sap/ui/rta/RuntimeAuthoring.ts
  packages/preview-middleware-client/test/__mock__/window.ts
  packages/preview-middleware-client/test/unit/adp/command-executor.test.ts
  packages/preview-middleware-client/test/unit/adp/controllers/AddFragment.controller.test.ts
  packages/preview-middleware-client/test/unit/adp/controllers/ControllerExtension.controller.test.ts
  packages/preview-middleware-client/test/unit/adp/controllers/ExtensionPoint.controller.test.ts
  packages/preview-middleware-client/test/unit/adp/extension-point.test.ts
  packages/preview-middleware-client/test/unit/adp/init-dialogs.test.ts
  packages/preview-middleware-client/test/unit/adp/init.test.ts
  packages/preview-middleware-client/test/unit/cpe/changes/flex-change.test.ts
  packages/preview-middleware-client/test/unit/cpe/changes/service.test.ts
  packages/preview-middleware-client/test/unit/cpe/outline/index.test.ts
  packages/preview-middleware-client/test/unit/flp/enableFakeConnector.test.ts
  packages/preview-middleware-client/test/unit/flp/init.test.ts
  packages/preview-middleware-client/test/unit/flp/initConnectors.test.ts
  packages/preview-middleware-client/test/unit/flp/initRta.test.ts
  packages/preview-middleware-client/types/jQuery.d.ts
  packages/preview-middleware-client/types/sap.ui.d.ts
  packages/preview-middleware-client/types/sap.ui.fl.d.ts
  packages/preview-middleware-client/types/sap.ui.rta.d.ts
  packages/preview-middleware/package.json
  packages/preview-middleware/src/base/flp.ts
  packages/preview-middleware/templates/flp/sandbox.html
  packages/preview-middleware/test/unit/base/__snapshots__/flp.test.ts.snap
  packages/preview-middleware/test/unit/base/flp.test.ts
  packages/preview-middleware/tsconfig.json
  pnpm-lock.yaml
Labels: feature, preview-middleware, preview-middleware-client

#1693 fix: Controller namespace for event handler
  .changeset/soft-pugs-fix.md
  packages/fe-fpm-writer/src/common/event-handler.ts
  packages/fe-fpm-writer/test/unit/action.test.ts
Labels: fe-fpm-writer
