Repository SAP/open-ux-tools, pull requests merged in 2024-11, with the labels that each got.

#2525 feat(create): variants config RTA handling
  .changeset/cold-trees-admire.md
  packages/app-config-writer/src/variants-config/generateVariantsConfig.ts
  packages/app-config-writer/src/variants-config/package-json.ts
  packages/app-config-writer/src/variants-config/ui5-yaml.ts
  packages/app-config-writer/src/variants-config/utils.ts
  packages/app-config-writer/test/fixtures/variants-config/up-to-date-config/myCustomUI5.yaml
  packages/app-config-writer/test/fixtures/variants-config/up-to-date-config/package.json
  packages/app-config-writer/test/unit/variants-config/__snapshots__/generateVariantsConfig.test.ts.snap
  packages/app-config-writer/test/unit/variants-config/__snapshots__/package-json.test.ts.snap
  packages/app-config-writer/test/unit/variants-config/generateVariantsConfig.test.ts
  packages/app-config-writer/test/unit/variants-config/package-json.test.ts
  packages/app-config-writer/test/unit/variants-config/ui5-yaml.test.ts
  packages/app-config-writer/test/unit/variants-config/utils.test.ts
  packages/backend-proxy-middleware/README.md
  packages/create/README.md
  packages/create/src/cli/add/variants-config.ts
  packages/project-access/src/project/ui5-config.ts
  packages/project-access/test/project/ui5-config.test.ts
Labels: create

#2547 fix(ui-components): UITreeDropdown change callback being triggered twice on first selection:
  .changeset/perfect-seals-try.md
  packages/ui-components/src/components/UITreeDropdown/UITreeDropdown.tsx
  packages/ui-components/stories/UITreedropdown.story.tsx
  packages/ui-components/test/unit/components/UITreeDropdown.test.tsx
Labels: ui-components

#2543 feat(ui-components): allow to pass custom filter function for combobox search
  .changeset/cold-pumas-hear.md
  packages/ui-components/src/components/UIComboBox/UIComboBox.tsx
  packages/ui-components/stories/UICombobox.story.tsx
  packages/ui-components/test/unit/components/UICombobox.test.tsx
Labels: ui-components

#2533 fix: refresh descriptor after manifest changes
  .changeset/light-moles-search.md
  packages/adp-tooling/src/preview/adp-preview.ts
  packages/adp-tooling/test/unit/preview/adp-preview.test.ts
  packages/preview-middleware/src/base/config.ts
  packages/preview-middleware/src/base/flp.ts
  packages/preview-middleware/test/unit/base/__snapshots__/flp.test.ts.snap
  packages/preview-middleware/test/unit/base/flp.test.ts
Labels: bug, preview-middleware, adp-tooling

#2374 feat(@sap-ux/odata service inquirer): Adds system selection prompting
  .changeset/heavy-bobcats-check.md
  packages/btp-utils/src/destination.ts
  packages/btp-utils/test/destination.test.ts
  packages/guided-answers-helper/src/index.ts
  packages/guided-answers-helper/test/unit/index.test.ts
  packages/odata-service-inquirer/jest.config.js
  packages/odata-service-inquirer/package.json
  packages/odata-service-inquirer/src/error-handler/error-handler.ts
  packages/odata-service-inquirer/src/i18n.ts
  packages/odata-service-inquirer/src/index.ts
  packages/odata-service-inquirer/src/prompts/connectionValidator.ts
  packages/odata-service-inquirer/src/prompts/datasources/sap-system/abap-on-btp/questions.ts
  packages/odata-service-inquirer/src/prompts/datasources/sap-system/abap-on-prem/questions.ts
  packages/odata-service-inquirer/src/prompts/datasources/sap-system/credentials/questions.ts
  packages/odata-service-inquirer/src/prompts/datasources/sap-system/new-system/questions.ts
  packages/odata-service-inquirer/src/prompts/datasources/sap-system/new-system/service-helper.ts
  packages/odata-service-inquirer/src/prompts/datasources/sap-system/new-system/types.ts
  packages/odata-service-inquirer/src/prompts/datasources/sap-system/service-selection/index.ts
  packages/odata-service-inquirer/src/prompts/datasources/sap-system/service-selection/questions.ts
  packages/odata-service-inquirer/src/prompts/datasources/sap-system/service-selection/service-helper.ts
  packages/odata-service-inquirer/src/prompts/datasources/sap-system/service-selection/types.ts
  packages/odata-service-inquirer/src/prompts/datasources/sap-system/system-selection/index.ts
  packages/odata-service-inquirer/src/prompts/datasources/sap-system/system-selection/prompt-helpers.ts
  packages/odata-service-inquirer/src/prompts/datasources/sap-system/system-selection/questions.ts
  packages/odata-service-inquirer/src/prompts/datasources/sap-system/validators.ts
  packages/odata-service-inquirer/src/prompts/datasources/service-url/questions.ts
  packages/odata-service-inquirer/src/prompts/datasources/service-url/validators.ts
  packages/odata-service-inquirer/src/prompts/prompt-helpers.ts
  packages/odata-service-inquirer/src/prompts/prompts.ts
  packages/odata-service-inquirer/src/prompts/validators.ts
  packages/odata-service-inquirer/src/translations/odata-service-inquirer.i18n.json
  packages/odata-service-inquirer/src/types.ts
  packages/odata-service-inquirer/src/utils/index.ts
  packages/odata-service-inquirer/test/unit/__snapshots__/index-api.test.ts.snap
  packages/odata-service-inquirer/test/unit/error-handler/error-handler.test.ts
  packages/odata-service-inquirer/test/unit/index-api.test.ts
  packages/odata-service-inquirer/test/unit/prompts/__snapshots__/prompts.test.ts.snap
  packages/odata-service-inquirer/test/unit/prompts/connectionValidator.test.ts
  packages/odata-service-inquirer/test/unit/prompts/prompt-helpers.test.ts
  packages/odata-service-inquirer/test/unit/prompts/prompts.test.ts
  packages/odata-service-inquirer/test/unit/prompts/sap-system/abap-on-btp/questions.test.ts
  packages/odata-service-inquirer/test/unit/prompts/sap-system/abap-on-prem/questions.test.ts
  packages/odata-service-inquirer/test/unit/prompts/sap-system/credentials/questions.test.ts
  packages/odata-service-inquirer/test/unit/prompts/sap-system/new-system/questions.test.ts
  packages/odata-service-inquirer/test/unit/prompts/sap-system/questions.test.ts
  packages/odata-service-inquirer/test/unit/prompts/sap-system/service-selection/questions.test.ts
  packages/odata-service-inquirer/test/unit/prompts/sap-system/system-selection/__snapshots__/questions.test.ts.snap
  packages/odata-service-inquirer/test/unit/prompts/sap-system/system-selection/prompt-helpers.test.ts
  packages/odata-service-inquirer/test/unit/prompts/sap-system/system-selection/questions.test.ts
  packages/odata-service-inquirer/test/unit/prompts/service-url/questions.test.ts
  packages/odata-service-inquirer/tsconfig.json
  pnpm-lock.yaml
Labels: odata-service-inquirer

#2534 chore: enable quick actions
  .changeset/itchy-seas-tell.md
  packages/preview-middleware-client/src/adp/quick-actions/common/create-page-action.ts
  packages/preview-middleware-client/src/adp/quick-actions/fe-v2/change-table-columns.ts
  packages/preview-middleware-client/src/adp/quick-actions/fe-v2/create-table-action.ts
  packages/preview-middleware-client/src/adp/quick-actions/fe-v2/create-table-custom-column.ts
  packages/preview-middleware-client/src/adp/quick-actions/fe-v2/lr-enable-semantic-date-range-filter-bar.ts
  packages/preview-middleware-client/src/adp/quick-actions/fe-v2/registry.ts
  packages/preview-middleware-client/src/adp/quick-actions/fe-v4/create-table-custom-column.ts
  packages/preview-middleware-client/src/adp/quick-actions/fe-v4/registry.ts
  packages/preview-middleware-client/test/unit/adp/quick-actions/fe-v2.test.ts
  packages/preview-middleware-client/test/unit/adp/quick-actions/fe-v4.test.ts
  packages/preview-middleware-client/test/unit/adp/quick-actions/load.test.ts
Labels: preview-middleware-client

#2560 fix(preview-middleware): typo
  .changeset/thin-deers-confess.md
  packages/preview-middleware-client/src/messagebundle.properties
  packages/preview-middleware-client/test/unit/adp/quick-actions/fe-v2.test.ts
  packages/preview-middleware-client/test/unit/adp/quick-actions/fe-v4.test.ts
Labels: preview-middleware, preview-middleware-client

#2562 fix: adaptation editor crash
  .changeset/swift-kids-laugh.md
  packages/control-property-editor-common/src/api.ts
  packages/control-property-editor/src/panels/changes/ConfigChange.tsx
  packages/control-property-editor/src/panels/properties/InputTypeWrapper.tsx
  packages/control-property-editor/test/unit/panels/changes/ChangesPanel.test.tsx
  packages/preview-middleware-client/src/cpe/changes/service.ts
Labels: preview-middleware, control-property-editor

#2557 tbi(odata-service-inquirer): Move `ErrorHandler` and `getCFAbapInstanceChoices` to allow re-use
  .changeset/thirty-cobras-sniff.md
  packages/fiori-generator-shared/src/constants.ts
  packages/fiori-generator-shared/src/environment.ts
  packages/fiori-generator-shared/src/index.ts
  packages/fiori-generator-shared/src/installedCheck.ts
  packages/fiori-generator-shared/src/logging/logWrapper.ts
  packages/fiori-generator-shared/src/npm-package-scripts/getPackageScripts.ts
  packages/fiori-generator-shared/src/npm-package-scripts/types.ts
  packages/fiori-generator-shared/src/read-me/read-me.ts
  packages/fiori-generator-shared/src/read-me/types.ts
  packages/fiori-generator-shared/src/types.ts
  packages/fiori-generator-shared/src/ui5/ui5.ts
  packages/fiori-generator-shared/src/vscode-helpers/vscode-helpers.ts
  packages/fiori-generator-shared/test/getPackageScripts.test.ts
  packages/fiori-generator-shared/test/helpers.test.ts
  packages/fiori-generator-shared/test/installedCheck.test.ts
  packages/fiori-generator-shared/test/logWrapper.test.ts
  packages/fiori-generator-shared/test/read-me/read-me.test.ts
  packages/inquirer-common/jest.config.js
  packages/inquirer-common/package.json
  packages/inquirer-common/src/error-handler/error-handler.ts
  packages/inquirer-common/src/i18n.ts
  packages/inquirer-common/src/index.ts
  packages/inquirer-common/src/prompts/cf-helper.ts
  packages/inquirer-common/src/telemetry/telemetry.ts
  packages/inquirer-common/src/translations/inquirer-common.i18n.json
  packages/inquirer-common/src/types.ts
  packages/inquirer-common/test/unit/error-handler/error-handler.test.ts
  packages/inquirer-common/test/unit/prompts/cf-helper.test.ts
  packages/inquirer-common/test/unit/telemetry/telemetry.test.ts
  packages/inquirer-common/tsconfig.json
  packages/odata-service-inquirer/jest.config.js
  packages/odata-service-inquirer/package.json
  packages/odata-service-inquirer/src/index.ts
  packages/odata-service-inquirer/src/prompts/connectionValidator.ts
  packages/odata-service-inquirer/src/prompts/datasources/cap-project/questions.ts
  packages/odata-service-inquirer/src/prompts/datasources/sap-system/abap-on-btp/questions.ts
  packages/odata-service-inquirer/src/prompts/datasources/sap-system/credentials/questions.ts
  packages/odata-service-inquirer/src/prompts/datasources/sap-system/service-selection/questions.ts
  packages/odata-service-inquirer/src/prompts/datasources/sap-system/service-selection/service-helper.ts
  packages/odata-service-inquirer/src/prompts/datasources/sap-system/system-selection/prompt-helpers.ts
  packages/odata-service-inquirer/src/prompts/datasources/sap-system/system-selection/questions.ts
  packages/odata-service-inquirer/src/prompts/datasources/service-url/questions.ts
  packages/odata-service-inquirer/src/prompts/datasources/service-url/validators.ts
  packages/odata-service-inquirer/src/prompts/prompt-helpers.ts
  packages/odata-service-inquirer/src/translations/odata-service-inquirer.i18n.json
  packages/odata-service-inquirer/src/types.ts
  packages/odata-service-inquirer/src/utils/index.ts
  packages/odata-service-inquirer/test/unit/__snapshots__/index-api.test.ts.snap
  packages/odata-service-inquirer/test/unit/index-api.test.ts
  packages/odata-service-inquirer/test/unit/prompts/cap-project/questions.test.ts
  packages/odata-service-inquirer/test/unit/prompts/connectionValidator.test.ts
  packages/odata-service-inquirer/test/unit/prompts/prompts.test.ts
  packages/odata-service-inquirer/test/unit/prompts/sap-system/abap-on-btp/questions.test.ts
  packages/odata-service-inquirer/test/unit/prompts/sap-system/service-selection/questions.test.ts
  packages/odata-service-inquirer/test/unit/prompts/sap-system/system-selection/questions.test.ts
  packages/odata-service-inquirer/test/unit/prompts/service-url/questions.test.ts
  packages/odata-service-inquirer/test/unit/prompts/service-url/validators.test.ts
  pnpm-lock.yaml
Labels: odata-service-inquirer

#2569 fix: manifest changes not applied after reload
  .changeset/dry-parrots-buy.md
  .changeset/friendly-parrots-shout.md
  packages/preview-middleware-client/src/adp/quick-actions/fe-v4/lr-enable-semantic-date-range-filter-bar.ts
  packages/preview-middleware-client/test/unit/adp/quick-actions/fe-v4.test.ts
  packages/reload-middleware/src/base/index.ts
  packages/reload-middleware/src/index.ts
Labels: preview-middleware, reload-middleware

#2536 fix: Handle higher layer changes
  .changeset/lazy-schools-wait.md
  packages/preview-middleware-client/src/flp/init.ts
  packages/preview-middleware-client/src/messagebundle.properties
  packages/preview-middleware-client/test/unit/flp/init.test.ts
Labels: preview-middleware, preview-middleware-client

#2452 feat: add namespaces to annotation template
  .changeset/moody-tips-sit.md
  packages/adp-tooling/src/base/abap.ts
  packages/adp-tooling/src/base/abap/manifest-service.ts
  packages/adp-tooling/src/base/change-utils.ts
  packages/adp-tooling/src/base/helper.ts
  packages/adp-tooling/src/index.ts
  packages/adp-tooling/src/prompts/add-annotations-to-odata/index.ts
  packages/adp-tooling/src/translations/adp-tooling.i18n.json
  packages/adp-tooling/src/types.ts
  packages/adp-tooling/templates/changes/annotation.xml
  packages/adp-tooling/test/unit/base/abap.test.ts
  packages/adp-tooling/test/unit/base/abap/manifest-service.test.ts
  packages/adp-tooling/test/unit/base/change-utils.test.ts
  packages/adp-tooling/test/unit/base/helper.test.ts
  packages/adp-tooling/test/unit/prompts/add-annotations-to-odata/index.test.ts
  packages/axios-extension/src/abap/index.ts
  packages/create/package.json
  packages/create/src/cli/add/annotations-to-odata.ts
  packages/create/src/cli/change/change-data-source.ts
  packages/create/test/unit/cli/add/annotations-to-odata.test.ts
  packages/create/test/unit/cli/change/change-data-source.test.ts
  packages/create/tsconfig.json
  packages/odata-service-writer/src/index.ts
  pnpm-lock.yaml
Labels: feature, odata-service-writer, create, adp-tooling

#2582 fix: enable adding fragment to elements cloned from a template
  .changeset/afraid-badgers-grab.md
  packages/preview-middleware-client/src/adp/init-dialogs.ts
  packages/preview-middleware-client/test/__mock__/sap/ui/rta/util/hasStableId.ts
  packages/preview-middleware-client/test/unit/adp/init-dialogs.test.ts
  packages/preview-middleware-client/types/sap.ui.rta.d.ts
Labels: bug, preview-middleware-client

#2612 feat(odata-service-inquirer): Adds support for setting default system choice
  .changeset/plenty-bottles-count.md
  packages/odata-service-inquirer/src/index.ts
  packages/odata-service-inquirer/src/prompts/datasources/sap-system/system-selection/prompt-helpers.ts
  packages/odata-service-inquirer/src/prompts/datasources/sap-system/system-selection/questions.ts
  packages/odata-service-inquirer/src/types.ts
  packages/odata-service-inquirer/test/unit/__snapshots__/index-api.test.ts.snap
  packages/odata-service-inquirer/test/unit/prompts/__snapshots__/prompts.test.ts.snap
  packages/odata-service-inquirer/test/unit/prompts/sap-system/system-selection/__snapshots__/questions.test.ts.snap
  packages/odata-service-inquirer/test/unit/prompts/sap-system/system-selection/prompt-helpers.test.ts
  packages/odata-service-inquirer/test/unit/prompts/sap-system/system-selection/questions.test.ts
Labels: odata-service-inquirer

#2607 feat: store manifest change files to /changes directory
  .changeset/polite-emus-melt.md
  packages/adp-tooling/src/base/change-utils.ts
  packages/adp-tooling/src/writer/changes/writers/component-usages-writer.ts
  packages/adp-tooling/src/writer/changes/writers/data-source-writer.ts
  packages/adp-tooling/src/writer/changes/writers/inbound-writer.ts
  packages/adp-tooling/src/writer/changes/writers/new-model-writer.ts
  packages/adp-tooling/test/unit/base/change-utils.test.ts
  packages/adp-tooling/test/unit/writer/changes/writers/index.test.ts
Labels: feature, create, adp-tooling

#2629 fix(freestyle-writer): use correct view name in controller
  .changeset/eleven-hornets-look.md
  packages/fiori-freestyle-writer/templates/basic/add/1.120.0/webapp/controller/App.controller.js
  packages/fiori-freestyle-writer/test/__snapshots__/basic.test.ts.snap
Labels: fiori-freestyle-writer

#2541 CPE - Enable Table Filtering Quick Action
  .changeset/fuzzy-onions-exist.md
  packages/control-property-editor-common/src/api.ts
  packages/control-property-editor/src/panels/quick-actions/NestedQuickAction.tsx
  packages/control-property-editor/src/panels/quick-actions/SimpleQuickAction.tsx
  packages/control-property-editor/test/unit/panels/quick-actions/QuickActionList.test.tsx
  packages/control-property-editor/test/unit/slice.test.ts
  packages/preview-middleware-client/src/adp/quick-actions/fe-v2/lr-enable-semantic-date-range-filter-bar.ts
  packages/preview-middleware-client/src/adp/quick-actions/fe-v2/lr-enable-table-filtering.ts
  packages/preview-middleware-client/src/adp/quick-actions/fe-v2/registry.ts
  packages/preview-middleware-client/src/adp/quick-actions/fe-v2/utils.ts
  packages/preview-middleware-client/src/adp/quick-actions/fe-v4/lr-enable-table-filtering.ts
  packages/preview-middleware-client/src/adp/quick-actions/fe-v4/registry.ts
  packages/preview-middleware-client/src/adp/quick-actions/fe-v4/table-quick-action-base.ts
  packages/preview-middleware-client/src/adp/quick-actions/simple-quick-action-base.ts
  packages/preview-middleware-client/src/adp/quick-actions/table-quick-action-base.ts
  packages/preview-middleware-client/src/cpe/changes/flex-change.ts
  packages/preview-middleware-client/src/cpe/quick-actions/quick-action-definition.ts
  packages/preview-middleware-client/src/cpe/quick-actions/quick-action-service.ts
  packages/preview-middleware-client/src/messagebundle.properties
  packages/preview-middleware-client/src/utils/fe-v4.ts
  packages/preview-middleware-client/test/unit/adp/quick-actions/fe-v2.test.ts
  packages/preview-middleware-client/test/unit/adp/quick-actions/fe-v4.test.ts
  packages/preview-middleware-client/test/unit/cpe/quick-actions/service.test.ts
Labels: control-property-editor
