Repository SAP/open-ux-tools, pull requests merged in 2024-10, with the labels that each got.

#2418 Feat(preview-middleware) make rta path configuration more resilient
  .changeset/brown-pianos-learn.md
  packages/preview-middleware/README.md
  packages/preview-middleware/src/base/flp.ts
  packages/preview-middleware/test/unit/base/__snapshots__/flp.test.ts.snap
  packages/preview-middleware/test/unit/base/flp.test.ts
Labels: preview-middleware

#2424 fix: ignore developerMode from rta editor config in case of no adp project
  .changeset/rude-berries-notice.md
  packages/preview-middleware/src/base/config.ts
  packages/preview-middleware/test/unit/base/config.test.ts
  packages/preview-middleware/test/unit/ui5/middleware.test.ts
Labels: preview-middleware

#2434 Fix for CommandRunner not spawning child processes on Windows with shell opt
  .changeset/popular-bees-sip.md
  packages/nodejs-utils/src/commandRunner.ts
  packages/nodejs-utils/test/unit/commandRunner.test.ts
Labels: nodejs-utils

#2439 fix: Sass warning about deprecate usage of '/' for division outside of calc
  .changeset/chilly-dragons-call.md
  packages/ui-components/src/components/UIContextualMenu/UIContextualMenu.scss
Labels: ui-components

#2447 preview middleware version bump
  .changeset/clean-meals-care.md
Labels: preview-middleware

#2451 feat: UIComboBox and UIDropdown support custom renderers for dropdown items via the `onRenderOption` and `onRenderItem` properties
  .changeset/blue-waves-joke.md
  packages/ui-components/src/components/UIComboBox/UIComboBox.tsx
  packages/ui-components/src/components/UIDropdown/UIDropdown.tsx
  packages/ui-components/stories/UICombobox.story.tsx
  packages/ui-components/stories/UIDropdown.story.tsx
  packages/ui-components/test/unit/components/UICombobox.test.tsx
  packages/ui-components/test/unit/components/UIDropdown.test.tsx
Labels: ui-components

#2466 fix(ui-components): UIComboBox, UIDropdown: Allow extending 'calloutProps' instead of overwriting.
  .changeset/witty-carrots-give.md
  packages/ui-components/src/components/UIComboBox/UIComboBox.tsx
  packages/ui-components/src/components/UIDropdown/UIDropdown.tsx
  packages/ui-components/test/unit/components/UICombobox.test.tsx
  packages/ui-components/test/unit/components/UIDropdown.test.tsx
Labels: ui-components

#2467 feat: read feature toggles in control property editor
  .changeset/clean-jars-remember.md
  .changeset/fluffy-oranges-divide.md
  packages/control-property-editor/src/index.tsx
  packages/control-property-editor/src/middleware.ts
  packages/control-property-editor/src/slice.ts
  packages/control-property-editor/test/unit/appIndex.test.ts
  packages/control-property-editor/test/unit/slice.test.ts
  packages/feature-toggle/src/featureToggle.ts
  packages/feature-toggle/test/index_no_vscode.test.ts
  packages/preview-middleware-client/src/adp/quick-actions/load.ts
  packages/preview-middleware-client/src/cpe/feature-service.ts
  packages/preview-middleware-client/test/unit/adp/quick-actions/load.test.ts
  packages/preview-middleware-client/test/unit/cpe/feature-service.test.ts
  packages/preview-middleware/package.json
  packages/preview-middleware/src/base/config.ts
  packages/preview-middleware/src/base/flp.ts
  packages/preview-middleware/templates/flp/editor.html
  packages/preview-middleware/templates/flp/sandbox.html
  packages/preview-middleware/test/unit/base/__snapshots__/flp.test.ts.snap
  packages/preview-middleware/tsconfig.json
  pnpm-lock.yaml
Labels: preview-middleware, preview-middleware-client, control-property-editor

#2478 feat(ui-components): new API method `initTheme` to override default Fluent UI styles, removing `-webkit-font-smoothing: antialiased`.
  .changeset/gorgeous-melons-develop.md
  packages/ui-components/.storybook/preview.js
  packages/ui-components/src/index.tsx
  packages/ui-components/src/theme/index.ts
  packages/ui-components/stories/UICallout.story.tsx
  packages/ui-components/stories/UICalloutCollisionTransform.story.tsx
  packages/ui-components/stories/UICheckbox.story.tsx
  packages/ui-components/stories/UIChoiceGroup.story.tsx
  packages/ui-components/stories/UICombobox.story.tsx
  packages/ui-components/stories/UIContextualMenu.story.tsx
  packages/ui-components/stories/UICreateSelect.story.tsx
  packages/ui-components/stories/UIDatePicker.story.tsx
  packages/ui-components/stories/UIDialog.story.tsx
  packages/ui-components/stories/UIDropdown.story.tsx
  packages/ui-components/stories/UIFlexibleTable.story.tsx
  packages/ui-components/stories/UIIcon.story.tsx
  packages/ui-components/stories/UILabel.story.tsx
  packages/ui-components/stories/UILoader.story.tsx
  packages/ui-components/stories/UIQuickNavigation.story.tsx
  packages/ui-components/stories/UISearchBox.story.tsx
  packages/ui-components/stories/UITextInput.story.tsx
  packages/ui-components/stories/UIToggleGroup.story.tsx
  packages/ui-components/stories/UITooltip.story.tsx
  packages/ui-components/stories/UITranslationInput.story.tsx
  packages/ui-components/stories/Utilities.story.tsx
  packages/ui-components/test/unit/theme/Theme.test.ts
Labels: ui-components

#2431 Feat/make rta url params optional
  .changeset/metal-worms-drive.md
  packages/preview-middleware/README.md
  packages/preview-middleware/src/base/flp.ts
  packages/preview-middleware/test/unit/base/__snapshots__/flp.test.ts.snap
  packages/preview-middleware/test/unit/base/flp.test.ts
  packages/preview-middleware/test/unit/ui5/middleware.test.ts
Labels: preview-middleware-client

#2491 UICombobox: Added new property 'searchByKeyEnabled' to allow searching by the option's "key" in addition to "text".
  .changeset/lazy-planets-accept.md
  packages/ui-components/src/components/UIComboBox/UIComboBox.tsx
  packages/ui-components/stories/UICombobox.story.tsx
  packages/ui-components/test/unit/components/UICombobox.test.tsx
Labels: ui-components

#2477 feat: enable quick actions
  .changeset/witty-seas-battle.md
  packages/preview-middleware-client/src/adp/quick-actions/fe-v2/change-table-columns.ts
  packages/preview-middleware-client/src/adp/quick-actions/fe-v2/create-page-action.ts
  packages/preview-middleware-client/src/adp/quick-actions/fe-v2/create-table-action.ts
  packages/preview-middleware-client/src/adp/quick-actions/fe-v4/change-table-columns.ts
  packages/preview-middleware-client/src/adp/quick-actions/load.ts
  packages/preview-middleware-client/test/unit/adp/quick-actions/fe-v2.test.ts
  packages/preview-middleware-client/test/unit/adp/quick-actions/fe-v4.test.ts
Labels: preview-middleware-client

#2446 Feat/create command for variants configuration
  .changeset/little-ties-cry.md
  packages/app-config-writer/package.json
  packages/app-config-writer/src/index.ts
  packages/app-config-writer/src/types/index.ts
  packages/app-config-writer/src/types/variantsConfig.ts
  packages/app-config-writer/src/variants-config/generateVariantsConfig.ts
  packages/app-config-writer/src/variants-config/index.ts
  packages/app-config-writer/src/variants-config/package-json.ts
  packages/app-config-writer/src/variants-config/ui5-yaml.ts
  packages/app-config-writer/src/variants-config/utils.ts
  packages/app-config-writer/test/fixtures/variants-config/deprecated-config/package.json
  packages/app-config-writer/test/fixtures/variants-config/deprecated-config/ui5.yaml
  packages/app-config-writer/test/fixtures/variants-config/fiori-tools-config/package.json
  packages/app-config-writer/test/fixtures/variants-config/fiori-tools-config/ui5-local.yaml
  packages/app-config-writer/test/fixtures/variants-config/fiori-tools-config/ui5-mock.yaml
  packages/app-config-writer/test/fixtures/variants-config/fiori-tools-config/ui5.yaml
  packages/app-config-writer/test/fixtures/variants-config/no-middleware-config-os/package.json
  packages/app-config-writer/test/fixtures/variants-config/no-middleware-config-os/ui5.yaml
  packages/app-config-writer/test/fixtures/variants-config/no-middleware-config/package.json
  packages/app-config-writer/test/fixtures/variants-config/no-middleware-config/ui5.yaml
  packages/app-config-writer/test/fixtures/variants-config/open-source-config/package.json
  packages/app-config-writer/test/fixtures/variants-config/open-source-config/ui5.yaml
  packages/app-config-writer/test/fixtures/variants-config/package.json
  packages/app-config-writer/test/fixtures/variants-config/ui5.yaml
  packages/app-config-writer/test/unit/variants-config/__snapshots__/generateVariantsConfig.test.ts.snap
  packages/app-config-writer/test/unit/variants-config/__snapshots__/package-json.test.ts.snap
  packages/app-config-writer/test/unit/variants-config/__snapshots__/ui5-yaml.test.ts.snap
  packages/app-config-writer/test/unit/variants-config/generateVariantsConfig.test.ts
  packages/app-config-writer/test/unit/variants-config/package-json.test.ts
  packages/app-config-writer/test/unit/variants-config/ui5-yaml.test.ts
  packages/app-config-writer/test/unit/variants-config/utils.test.ts
  packages/app-config-writer/tsconfig.json
  packages/create/README.md
  packages/create/src/cli/add/cards-editor.ts
  packages/create/src/cli/add/cds-plugin-ui.ts
  packages/create/src/cli/add/html.ts
  packages/create/src/cli/add/index.ts
  packages/create/src/cli/add/mockserver-config.ts
  packages/create/src/cli/add/navigation-config.ts
  packages/create/src/cli/add/smartlinks-config.ts
  packages/create/src/cli/add/variants-config.ts
  packages/create/test/unit/cli/add/variants-config.test.ts
  packages/project-access/src/project/ui5-config.ts
  pnpm-lock.yaml
Labels: create

#2497 fix(ui-components): `calloutCollisionTransformation` gets overwritten when external listeners are passed(calloutProps.preventDismissOnEvent, calloutProps.layerProps.onLayerDidMount, calloutProps.layerProps.onLayerWillUnmount)
  .changeset/curly-dogs-smash.md
  packages/ui-components/src/components/UIComboBox/UIComboBox.tsx
  packages/ui-components/src/components/UIDropdown/UIDropdown.tsx
  packages/ui-components/src/components/UIDropdown/utils.ts
  packages/ui-components/stories/UICalloutCollisionTransform.story.tsx
  packages/ui-components/test/unit/components/UICombobox.test.tsx
  packages/ui-components/test/unit/components/UIDropdown.test.tsx
Labels: ui-components

#2481 Feat(preview middleware) add deep links to readme
  .changeset/neat-pans-swim.md
  packages/preview-middleware/README.md
Labels: preview-middleware
