Repository SAP/open-ux-tools, pull requests merged in 2025-10, with the labels that each got.

#3687 fix: "lrep" property is not added when the deploy config is created from within the ADP Generator
  .changeset/hungry-ducks-begin.md
  packages/abap-deploy-config-sub-generator/src/app/index.ts
  packages/abap-deploy-config-sub-generator/src/utils/project.ts
  packages/abap-deploy-config-sub-generator/test/unit/utils/project.test.ts
Labels: deploy-config-sub-generator

#3691 fix: Wrong navigation between steps in FLP Configuration generator for ADP
  .changeset/wicked-plums-check.md
  packages/adp-flp-config-sub-generator/src/app/index.ts
  packages/adp-flp-config-sub-generator/src/app/types.ts
  packages/adp-flp-config-sub-generator/src/utils/appWizardCache.ts
  packages/adp-flp-config-sub-generator/test/app.test.ts
  packages/adp-flp-config-sub-generator/test/utils/appWizardCache.test.ts
Labels: bug, adp-flp-config-sub-generator

#3669 fix(ui5-proxy-middleware): support pathRewrite for UI5 resources
  .changeset/brown-horses-flash.md
  packages/ui5-proxy-middleware/README.md
  packages/ui5-proxy-middleware/src/base/proxy.ts
  packages/ui5-proxy-middleware/src/base/types.ts
  packages/ui5-proxy-middleware/src/base/utils.ts
  packages/ui5-proxy-middleware/test/base/proxy.test.ts
  packages/ui5-proxy-middleware/test/base/utils.test.ts
Labels: ui5-proxy-middleware

#3695 fix: Missing build script for ADP onPremise projects leads to error during deployment
  .changeset/gold-boxes-kick.md
  packages/abap-deploy-config-sub-generator/src/app/index.ts
  packages/abap-deploy-config-writer/src/file.ts
  packages/abap-deploy-config-writer/src/index.ts
  packages/abap-deploy-config-writer/src/scripts.ts
  packages/abap-deploy-config-writer/src/types.ts
  packages/abap-deploy-config-writer/test/unit/__snapshots__/index.test.ts.snap
  packages/abap-deploy-config-writer/test/unit/file.test.ts
  packages/abap-deploy-config-writer/test/unit/index.test.ts
  packages/create/src/cli/add/deploy-config.ts
Labels: bug, abap-deploy-config-writer

#3666 fix(ui5 library inquirer): 32726 versions sapui5 distribution metadata
  .changeset/gold-coins-protect.md
  packages/ui5-library-inquirer/package.json
  packages/ui5-library-inquirer/src/index.ts
  packages/ui5-library-inquirer/test/unit/prompts/enhanced-prompts.test.ts
  packages/ui5-library-inquirer/test/unit/ui5-library-inquirer.test.ts
  packages/ui5-library-inquirer/tsconfig.json
  packages/ui5-library-sub-generator/test/unit/app.test.ts
  pnpm-lock.yaml
Labels: ui5-library-inquirer
