Repository SAP/open-ux-tools, pull requests merged in 2025-04, with the labels that each got.

#3079 fix: Cannot create a Fragment and Controller Extension when clicking create button in the dialog
  .changeset/wild-buttons-beg.md
  packages/preview-middleware-client/src/adp/controllers/AddFragment.controller.ts
  packages/preview-middleware-client/src/adp/controllers/ControllerExtension.controller.ts
Labels: bug, preview-middleware, preview-middleware-client

#3083 fix: Cannot create a Extension Point fragment when clicking create button in the dialog
  .changeset/hungry-terms-pretend.md
  packages/preview-middleware-client/src/adp/controllers/ExtensionPoint.controller.ts
Labels: preview-middleware, preview-middleware-client

#3065 feat: Enhance system and app prompt validations
  .changeset/olive-ducks-remain.md
  packages/adp-tooling/src/abap/client.ts
  packages/adp-tooling/src/abap/config.ts
  packages/adp-tooling/src/abap/index.ts
  packages/adp-tooling/src/abap/provider.ts
  packages/adp-tooling/src/base/constants/index.ts
  packages/adp-tooling/src/client/abap-provider.ts
  packages/adp-tooling/src/client/index.ts
  packages/adp-tooling/src/index.ts
  packages/adp-tooling/src/source/applications.ts
  packages/adp-tooling/src/source/index.ts
  packages/adp-tooling/src/source/manifest.ts
  packages/adp-tooling/src/source/systems.ts
  packages/adp-tooling/src/translations/adp-tooling.i18n.json
  packages/adp-tooling/src/types.ts
  packages/adp-tooling/src/ui5/fetch.ts
  packages/adp-tooling/src/ui5/format.ts
  packages/adp-tooling/src/ui5/index.ts
  packages/adp-tooling/src/ui5/version-info.ts
  packages/adp-tooling/src/writer/writer-config.ts
  packages/adp-tooling/test/__mock__/global.ts
  packages/adp-tooling/test/unit/abap/client.test.ts
  packages/adp-tooling/test/unit/abap/config.test.ts
  packages/adp-tooling/test/unit/abap/provider.test.ts
  packages/adp-tooling/test/unit/prompts/add-new-model/index.test.ts
  packages/adp-tooling/test/unit/prompts/change-data-source/index.test.ts
  packages/adp-tooling/test/unit/source/applications.test.ts
  packages/adp-tooling/test/unit/source/manifest.test.ts
  packages/adp-tooling/test/unit/source/systems.test.ts
  packages/adp-tooling/test/unit/ui5/fetch.test.ts
  packages/adp-tooling/test/unit/ui5/format.test.ts
  packages/adp-tooling/test/unit/ui5/version-info.test.ts
  packages/adp-tooling/test/unit/writer/writer-config.test.ts
  packages/generator-adp/src/app/index.ts
  packages/generator-adp/src/app/questions/configuration.ts
  packages/generator-adp/src/app/questions/helper/additional-messages.ts
  packages/generator-adp/src/app/questions/helper/choices.ts
  packages/generator-adp/src/translations/generator-adp.i18n.json
  packages/generator-adp/test/__snapshots__/app.test.ts.snap
  packages/generator-adp/test/app.test.ts
  packages/generator-adp/test/unit/questions/configuration.test.ts
  packages/generator-adp/test/unit/questions/helper/additional-messages.test.ts
  packages/generator-adp/test/unit/questions/helper/choices.test.ts
Labels: adp-tooling, generator-adp

#3099 fix: ADP Generator integration test mocking
  .changeset/tricky-spiders-sniff.md
  packages/adp-tooling/src/base/prompt.ts
  packages/adp-tooling/src/types.ts
  packages/adp-tooling/src/writer/project-utils.ts
  packages/adp-tooling/src/writer/writer-config.ts
  packages/adp-tooling/test/unit/writer/writer-config.test.ts
  packages/generator-adp/src/app/index.ts
  packages/generator-adp/src/utils/deps.ts
  packages/generator-adp/test/__snapshots__/app.test.ts.snap
  packages/generator-adp/test/app.test.ts
  packages/generator-adp/test/unit/utils/deps.test.ts
Labels: adp-tooling, generator-adp

#3102 feat(preview-middleware): refactor types
  .changeset/rare-rules-fly.md
  packages/preview-middleware/src/base/config.ts
  packages/preview-middleware/src/base/flp.ts
  packages/preview-middleware/src/base/test.ts
  packages/preview-middleware/src/types/index.ts
Labels: preview-middleware

#3105 fix: Wrong generated scripts for s4hana cloud adaptation projects
  .changeset/quick-cherries-care.md
  packages/adp-tooling/templates/project/package.json
  packages/adp-tooling/test/unit/writer/__snapshots__/index.test.ts.snap
Labels: bug, adp-tooling

#3041 fix(ui-service-gen): hide draftEnabled for abap cds views
  .changeset/ten-terms-teach.md
  packages/ui-service-inquirer/src/prompts/configuration/questions.ts
  packages/ui-service-inquirer/src/prompts/prompt-helper.ts
  packages/ui-service-inquirer/src/prompts/prompts.ts
  packages/ui-service-inquirer/src/types.ts
  packages/ui-service-inquirer/test/__snapshots__/prompts.test.ts.snap
  packages/ui-service-inquirer/test/prompts.test.ts
  packages/ui-service-sub-generator/src/app/index.ts
Labels: ui-service-generator

#3122 feat(ui5-proxy-middleware): export directLoadProxy for reuse
  .changeset/perfect-cheetahs-juggle.md
  packages/ui5-proxy-middleware/src/base/utils.ts
  packages/ui5-proxy-middleware/src/index.ts
  packages/ui5-proxy-middleware/src/ui5/middleware.ts
Labels: ui5-proxy-middleware

#3131 fix(fiori-annotation-api): empty path values
  .changeset/witty-suns-whisper.md
  packages/cds-odata-annotation-converter/src/printer/csdl-to-cds.ts
  packages/cds-odata-annotation-converter/test/printer/__snapshots__/csdl-to-cds.test.ts.snap
  packages/cds-odata-annotation-converter/test/printer/csdl-to-cds.test.ts
  packages/fiori-annotation-api/test/unit/__snapshots__/fiori-service.test.ts.snap
  packages/fiori-annotation-api/test/unit/fiori-service.test.ts
Labels: fiori-annotation-api

#3100 feat(generator-adp): Add Project Attributes page
  .changeset/dull-games-chew.md
  packages/adp-tooling/src/translations/adp-tooling.i18n.json
  packages/adp-tooling/src/types.ts
  packages/adp-tooling/src/ui5/index.ts
  packages/adp-tooling/src/ui5/validator.ts
  packages/adp-tooling/src/ui5/version-info.ts
  packages/adp-tooling/src/writer/writer-config.ts
  packages/adp-tooling/test/unit/source/systems.test.ts
  packages/adp-tooling/test/unit/ui5/validator.test.ts
  packages/adp-tooling/test/unit/ui5/version-info.test.ts
  packages/adp-tooling/test/unit/writer/writer-config.test.ts
  packages/generator-adp/src/app/index.ts
  packages/generator-adp/src/app/questions/attributes.ts
  packages/generator-adp/src/app/questions/configuration.ts
  packages/generator-adp/src/app/questions/helper/additional-messages.ts
  packages/generator-adp/src/app/questions/helper/default-values.ts
  packages/generator-adp/src/app/questions/helper/tooltip.ts
  packages/generator-adp/src/app/types.ts
  packages/generator-adp/src/translations/generator-adp.i18n.json
  packages/generator-adp/test/__snapshots__/app.test.ts.snap
  packages/generator-adp/test/app.test.ts
  packages/generator-adp/test/unit/questions/attribute.test.ts
  packages/generator-adp/test/unit/questions/configuration.test.ts
  packages/generator-adp/test/unit/questions/helper/additional-messages.test.ts
  packages/generator-adp/test/unit/questions/helper/default-values.test.ts
  packages/generator-adp/test/unit/questions/helper/tooltip.test.ts
  packages/project-input-validator/src/adp/validators.ts
  packages/project-input-validator/src/translations/project-input-validator.i18n.json
  packages/project-input-validator/test/adp-validators.test.ts
Labels: adp-tooling, generator-adp

#3147 fix: Space between empty table and add button
  .changeset/real-emus-reply.md
  packages/ui-components/src/components/UIFlexibleTable/UIFlexibleTable.scss
Labels: ui-components

#3160 ADT Quick Deploy UI Text Review
  .changeset/lucky-pans-sleep.md
  packages/repo-app-import-sub-generator/src/translations/repo-app-import-sub-generator.i18n.json
Labels: documentation

#3168 fix: correct control aggregation for object page when fcl is enabled
  .changeset/grumpy-olives-relate.md
  packages/fe-fpm-writer/src/page/object.ts
  packages/fe-fpm-writer/test/unit/page/__snapshots__/object.test.ts.snap
  packages/fe-fpm-writer/test/unit/page/object.test.ts
Labels: fe-fpm-writer

#3181 fix(ui-service-gen): show draft enabled when valid for business objects
  .changeset/angry-forks-love.md
  packages/ui-service-inquirer/src/prompts/configuration/questions.ts
  packages/ui-service-inquirer/src/prompts/prompt-state.ts
  packages/ui-service-inquirer/src/types.ts
  packages/ui-service-inquirer/test/__snapshots__/prompts.test.ts.snap
  packages/ui-service-inquirer/test/prompts.test.ts
  packages/ui-service-sub-generator/src/app/index.ts
  packages/ui-service-sub-generator/test/utils.test.ts
Labels: ui-service-generator

#3091 refactor: Enhance XML Fragment context menu control with addXMLPlugin Integration
  .changeset/stupid-clouds-search.md
  packages/adp-tooling/src/preview/adp-preview.ts
  packages/adp-tooling/src/preview/change-handler.ts
  packages/adp-tooling/src/types.ts
  packages/adp-tooling/test/unit/preview/adp-preview.test.ts
  packages/adp-tooling/test/unit/preview/change-handler.test.ts
  packages/preview-middleware-client/src/adp/add-fragment.ts
  packages/preview-middleware-client/src/adp/api-handler.ts
  packages/preview-middleware-client/src/adp/controllers/AddFragment.controller.ts
  packages/preview-middleware-client/src/adp/dialog-factory.ts
  packages/preview-middleware-client/src/adp/extension-point.ts
  packages/preview-middleware-client/src/adp/init-dialogs.ts
  packages/preview-middleware-client/src/adp/init.ts
  packages/preview-middleware-client/src/cpe/additional-change-info/add-xml-additional-info.ts
  packages/preview-middleware-client/src/cpe/changes/service.ts
  packages/preview-middleware-client/src/cpe/connector-service.ts
  packages/preview-middleware-client/src/flp/WorkspaceConnector.ts
  packages/preview-middleware-client/src/flp/enableFakeConnector.ts
  packages/preview-middleware-client/src/utils/additional-change-info.ts
  packages/preview-middleware-client/test/__mock__/sap/ui/fl/Change.ts
  packages/preview-middleware-client/test/__mock__/sap/ui/fl/FakeLrepConnector.ts
  packages/preview-middleware-client/test/__mock__/sap/ui/rta/RuntimeAuthoring.ts
  packages/preview-middleware-client/test/__mock__/sap/ui/rta/plugin/AddXMLPlugin.ts
  packages/preview-middleware-client/test/unit/adp/add-fragment.test.ts
  packages/preview-middleware-client/test/unit/adp/controllers/AddFragment.controller.test.ts
  packages/preview-middleware-client/test/unit/adp/init-dialogs.test.ts
  packages/preview-middleware-client/test/unit/adp/init.test.ts
  packages/preview-middleware-client/test/unit/cpe/additional-change-info/add-xml-additional-info.test.ts
  packages/preview-middleware-client/test/unit/cpe/connector-service.test.ts
  packages/preview-middleware-client/test/unit/flp/WorkspaceConnector.test.ts
  packages/preview-middleware-client/test/unit/flp/enableFakeConnector.test.ts
  packages/preview-middleware-client/test/unit/utils/additional-change-info.test.ts
  packages/preview-middleware-client/types/sap.ui.fl.d.ts
  packages/preview-middleware-client/types/sap.ui.rta.d.ts
  packages/preview-middleware/src/base/flp.ts
  packages/preview-middleware/test/unit/base/flp.test.ts
Labels: preview-middleware, adp-tooling, preview-middleware-client

#3190 feat(fiori-annotation-api): relax metadata reference check
  .changeset/old-timers-greet.md
  .changeset/quiet-dolphins-shop.md
  packages/fiori-annotation-api/src/xml/adapter.ts
  packages/fiori-annotation-api/test/unit/__snapshots__/fiori-service.test.ts.snap
  packages/fiori-annotation-api/test/unit/fiori-service.test.ts
  packages/fiori-annotation-api/test/unit/raw-metadata-serializer.ts
  packages/odata-annotation-core/src/paths/normalization.ts
  packages/odata-annotation-core/test/paths/normalization.test.ts
Labels: fiori-annotation-api

#3176 chore: update cds compiler facade
  .changeset/lovely-berries-collect.md
  packages/cds-odata-annotation-converter/package.json
  packages/cds-odata-annotation-converter/test/transform/__snapshots__/annotation-file.test.ts.snap
  packages/fiori-annotation-api/package.json
  packages/fiori-annotation-api/test/unit/__snapshots__/fiori-service.test.ts.snap
  packages/fiori-annotation-api/test/unit/avt/__snapshots__/metadata.test.ts.snap
  packages/fiori-annotation-api/test/unit/fiori-service.test.ts
  pnpm-lock.yaml
Labels: fiori-annotation-api

#3184 fix: Apply package starting prefix and format validation with flag
  .changeset/kind-worms-act.md
  packages/abap-deploy-config-inquirer/src/prompts/questions/config/package.ts
  packages/abap-deploy-config-inquirer/src/prompts/validators.ts
  packages/abap-deploy-config-inquirer/src/types.ts
  packages/abap-deploy-config-inquirer/test/prompts/questions/config/package.test.ts
  packages/abap-deploy-config-inquirer/test/prompts/validators.test.ts
  packages/abap-deploy-config-sub-generator/src/app/index.ts
  packages/abap-deploy-config-sub-generator/src/app/questions.ts
  packages/abap-deploy-config-sub-generator/src/app/types.ts
  packages/abap-deploy-config-sub-generator/test/app.test.ts
  packages/abap-deploy-config-sub-generator/test/unit/app/questions.test.ts
Labels: abap-deploy-config-inquirer

#3207 fix(odata-service-writer): Write service annotations using `name` instead of `technicalName` to avoid sub folders
  .changeset/light-dryers-jump.md
  packages/odata-service-writer/src/data/annotations.ts
  packages/odata-service-writer/src/data/manifest.ts
  packages/odata-service-writer/test/__snapshots__/index.test.ts.snap
  packages/odata-service-writer/test/test-data/manifest-json/edmx-manifest-multiple-annotations.ts
  packages/odata-service-writer/test/test-data/manifest-json/edmx-manifest-multiple-services.ts
Labels: odata-service-writer

#3204 feat(app-config-writer): outsource methods for reuse
  .changeset/ninety-papayas-shop.md
  packages/app-config-writer/src/common/ui5-yaml.ts
  packages/app-config-writer/src/common/utils.ts
  packages/app-config-writer/src/preview-config/ui5-yaml.ts
  packages/app-config-writer/src/variants-config/generateVariantsConfig.ts
  packages/app-config-writer/src/variants-config/package-json.ts
  packages/app-config-writer/src/variants-config/utils.ts
  packages/app-config-writer/test/unit/common/__snapshots__/ui5-yaml.test.ts.snap
  packages/app-config-writer/test/unit/common/ui5-yaml.test.ts
  packages/app-config-writer/test/unit/common/utils.test.ts
  packages/app-config-writer/test/unit/preview-config/index.test.ts
  packages/app-config-writer/test/unit/variants-config/utils.test.ts
Labels: app-config-writer

#3134 chore(preview-middleware):adjust readme
  .changeset/thin-items-approve.md
  packages/preview-middleware/README.md
Labels: preview-middleware
