Repository SAP/open-ux-tools, pull requests merged in 2025-03, with the labels that each got.

#2943 fix(app-modeler): change clicking outside the toggle
  .changeset/neat-snails-look.md
  packages/ui-components/src/components/UIToggle/UIToggle.tsx
Labels: ui-components

#2994 feat: use webappPath for mockserver generation
  .changeset/neat-grapes-design.md
  packages/mockserver-config-writer/src/mockserver-config/ui5-mock-yaml.ts
  packages/mockserver-config-writer/test/unit/mockserver-config/ui5-mock-yaml.test.ts
  packages/odata-service-writer/test/unit/index.test.ts
  packages/ui5-config/src/middlewares.ts
  packages/ui5-config/src/ui5config.ts
  packages/ui5-config/test/__snapshots__/index.test.ts.snap
  packages/ui5-config/test/index.test.ts
Labels: ui5-config, odata-service-writer, mockserver-config-writer

#2987 feat: Change "Add Local Annotation File" wizard dropdown option text in `@sap-ux/adp-tooling`
  .changeset/swift-emus-rule.md
  packages/adp-tooling/src/translations/adp-tooling.i18n.json
Labels: adp-tooling

#2923 fix(project-access): check for files in srv folder treats directories as files and throws exception
  .changeset/selfish-frogs-pump.md
  packages/project-access/src/file/file-search.ts
  packages/project-access/src/project/cap.ts
  packages/project-access/src/types/findit2.d.ts
  packages/project-access/test/file/file-search.test.ts
  packages/project-access/test/project/cap.test.ts
  packages/project-access/test/project/ui5-config.test.ts
Labels: bug, project-access

#2980 fix inserting target for complex type
  .changeset/neat-rockets-draw.md
  packages/cds-odata-annotation-converter/src/printer/csdl-to-cds.ts
  packages/fiori-annotation-api/src/cds/adapter.ts
  packages/fiori-annotation-api/src/cds/change.ts
  packages/fiori-annotation-api/src/cds/writer.ts
  packages/fiori-annotation-api/test/unit/__snapshots__/fiori-service.test.ts.snap
  packages/fiori-annotation-api/test/unit/cds/writer.test.ts
  packages/fiori-annotation-api/test/unit/fiori-service.test.ts
Labels: fiori-annotation-api

#2909 feat: Info Center for different type of messages
  .changeset/yellow-hairs-peel.md
  packages/control-property-editor-common/src/api.ts
  packages/control-property-editor/package.json
  packages/control-property-editor/src/i18n/i18n.json
  packages/control-property-editor/src/panels/RightPanel.scss
  packages/control-property-editor/src/panels/RightPanel.tsx
  packages/control-property-editor/src/panels/info-center/InfoCenter.scss
  packages/control-property-editor/src/panels/info-center/InfoCenter.tsx
  packages/control-property-editor/src/panels/info-center/InfoMessageItem.scss
  packages/control-property-editor/src/panels/info-center/InfoMessageItem.tsx
  packages/control-property-editor/src/panels/info-center/index.ts
  packages/control-property-editor/src/slice.ts
  packages/control-property-editor/test/unit/panels/info-center/InfoCenter.test.tsx
  packages/preview-middleware-client/src/adp/init.ts
  packages/preview-middleware-client/src/cpe/outline/service.ts
  packages/preview-middleware-client/src/messagebundle.properties
  packages/preview-middleware-client/test/unit/cpe/outline/service.test.ts
  packages/ui-components/src/components/Icons.tsx
  packages/ui-components/src/components/UIMessageBar/UIMessageBar.tsx
  packages/ui-components/test/unit/components/UIMessageBar.test.tsx
  pnpm-lock.yaml
Labels: feature, ui-components, preview-middleware-client, control-property-editor, control-property-editor-common

#2947 feat: allow controller extensions for reuse components on OnPremise systems
  .changeset/spotty-crews-help.md
  packages/adp-tooling/src/preview/adp-preview.ts
  packages/adp-tooling/test/mockResponses/atoSettingsS4C.xml
  packages/adp-tooling/test/mockResponses/discovery.xml
  packages/adp-tooling/test/unit/preview/adp-preview.test.ts
  packages/preview-middleware-client/src/adp/init-dialogs.ts
  packages/preview-middleware-client/src/adp/quick-actions/common/add-controller-to-page.ts
  packages/preview-middleware-client/src/cpe/outline/service.ts
  packages/preview-middleware-client/test/unit/adp/init-dialogs.test.ts
  packages/preview-middleware-client/test/unit/cpe/outline/service.test.ts
  packages/preview-middleware-client/types/sap.ui.rta.d.ts
  packages/preview-middleware/package.json
  packages/preview-middleware/src/base/flp.ts
  packages/preview-middleware/test/unit/base/flp.test.ts
  packages/preview-middleware/tsconfig.json
  pnpm-lock.yaml
Labels: feature, preview-middleware, adp-tooling, preview-middleware-client

#2979 fix(ui-components): UISections. Fixed incorrect position calculations when hiding sections with three or more sections present.
  .changeset/three-eggs-bathe.md
  packages/ui-components/src/components/UISection/UISections.tsx
  packages/ui-components/test/unit/components/UISections.test.tsx
Labels: ui-components

#3014 fix(ui-components): UISections. Error `Cannot read properties of undefined (reading 'size')` is throws for section on initial rendering
  .changeset/itchy-students-retire.md
  packages/ui-components/src/components/UISection/UISections.tsx
  packages/ui-components/test/unit/components/UISections.test.tsx
Labels: ui-components

#3025 fix(preview-middleware-client):legacy free ui5 version handling
  .changeset/rude-grapes-train.md
  packages/preview-middleware-client/src/flp/init.ts
  packages/preview-middleware-client/test/unit/flp/init.test.ts
Labels: bug, preview-middleware-client

#3029 fix(ui-components): UISections. Issue with window resize hiding section on fullscreen toggle event
  .changeset/early-ligers-beam.md
  packages/ui-components/src/components/UISection/UISections.tsx
  packages/ui-components/test/unit/components/UISections.test.tsx
Labels: ui-components

#3017 fix(ui5-proxy-middleware):directLoad support for UI5 2.x / legacy-free
  .changeset/thirty-taxis-ring.md
  packages/ui5-proxy-middleware/src/base/constants.ts
  packages/ui5-proxy-middleware/src/base/utils.ts
  packages/ui5-proxy-middleware/test/base/utils.test.ts
Labels: ui5-proxy-middleware

#3036 fix(ui-service-inq): ensure correct package value is used for getContent request
  .changeset/twelve-colts-rest.md
  packages/ui-service-inquirer/src/prompts/configuration/questions.ts
  packages/ui-service-inquirer/test/prompts.test.ts
Labels: ui-service-generator

#3033 fix: disable add new annotation file Quick Action if metadata is not loaded
  .changeset/violet-pandas-brush.md
  packages/adp-tooling/src/preview/routes-handler.ts
  packages/adp-tooling/test/unit/preview/adp-preview.test.ts
  packages/preview-middleware-client/src/adp/api-handler.ts
  packages/preview-middleware-client/src/adp/quick-actions/common/add-new-annotation-file.ts
  packages/preview-middleware-client/test/unit/adp/quick-actions/fe-v2.test.ts
Labels: control-property-editor

#3026 tbi(fiori-freerstyle-writer): Export required type
  .changeset/swift-taxis-remember.md
  packages/fiori-freestyle-writer/src/index.ts
Labels: fiori-freestyle-writer

#2967 feat(preview-middleware): introduce enhanced flp homepage
  .changeset/modern-seals-ring.md
  packages/preview-middleware-client/package.json
  packages/preview-middleware-client/src/flp/homepage/Component.ts
  packages/preview-middleware-client/src/flp/homepage/css/style.css
  packages/preview-middleware-client/src/flp/homepage/manifest.json
  packages/preview-middleware-client/src/flp/homepage/view/MyHome.view.xml
  packages/preview-middleware-client/src/flp/init.ts
  packages/preview-middleware-client/src/flp/initCdm.ts
  packages/preview-middleware-client/src/utils/version.ts
  packages/preview-middleware-client/test/__mock__/window.ts
  packages/preview-middleware-client/test/unit/flp/__snapshots__/initCdm.test.ts.snap
  packages/preview-middleware-client/test/unit/flp/initCdm.test.ts
  packages/preview-middleware-client/test/unit/utils/version.test.ts
  packages/preview-middleware-client/types/global.d.ts
  packages/preview-middleware-client/types/sap.ushell.d.ts
  packages/preview-middleware/README.md
  packages/preview-middleware/src/base/cdm.ts
  packages/preview-middleware/src/base/config.ts
  packages/preview-middleware/src/base/flp.ts
  packages/preview-middleware/src/types/index.ts
  packages/preview-middleware/templates/flp/cdm.base.json
  packages/preview-middleware/templates/flp/cdm.html
  packages/preview-middleware/test/unit/base/__snapshots__/cdm.test.ts.snap
  packages/preview-middleware/test/unit/base/__snapshots__/config.test.ts.snap
  packages/preview-middleware/test/unit/base/__snapshots__/flp.test.ts.snap
  packages/preview-middleware/test/unit/base/cdm.test.ts
  packages/preview-middleware/test/unit/base/flp.test.ts
Labels: preview-middleware, preview-middleware-client

#3049 fix(generator-adp): Generator running in the CLI context
  .changeset/great-bags-grin.md
  packages/adp-tooling/src/client/abap-provider.ts
  packages/adp-tooling/src/client/target-applications.ts
  packages/adp-tooling/src/types.ts
  packages/adp-tooling/src/writer/project-utils.ts
  packages/adp-tooling/src/writer/writer-config.ts
  packages/adp-tooling/test/unit/client/abap-provider.test.ts
  packages/adp-tooling/test/unit/client/target-applications.test.ts
  packages/adp-tooling/test/unit/writer/writer-config.test.ts
  packages/generator-adp/src/app/index.ts
  packages/generator-adp/src/app/questions/configuration.ts
  packages/generator-adp/src/app/questions/helper/conditions.ts
  packages/generator-adp/src/app/types.ts
  packages/generator-adp/test/app.test.ts
  packages/generator-adp/test/unit/questions/configuration.test.ts
  packages/generator-adp/test/unit/questions/helper/choices.test.ts
  packages/generator-adp/test/unit/questions/helper/conditions.test.ts
Labels: adp-tooling
