Repository SAP/open-ux-tools, pull requests merged in 2025-08, with the labels that each got.

#3509 feat(ui-prompting): Support index-based default values for 'list' type questions.
  .changeset/strong-adults-mix.md
  packages/ui-prompting/src/components/Inputs/Select/Select.tsx
  packages/ui-prompting/src/types.ts
  packages/ui-prompting/stories/List.story.tsx
  packages/ui-prompting/test/unit/components/Inputs/Select.test.tsx
Labels: ui-prompting

#3538 fix(annotation-generator): annotations are not generated if navigation property can't be resolved
  .changeset/tricky-ways-beam.md
  packages/annotation-generator/jest.setup.js
  packages/annotation-generator/src/generation.ts
  packages/annotation-generator/test/data/cds-incidents/.gitignore
  packages/annotation-generator/test/data/cds-incidents/app/project1/annotations.cds
  packages/annotation-generator/test/data/cds-incidents/app/project1/package.json
  packages/annotation-generator/test/data/cds-incidents/app/project1/ui5.yaml
  packages/annotation-generator/test/data/cds-incidents/app/project1/webapp/i18n/i18n.properties
  packages/annotation-generator/test/data/cds-incidents/app/project1/webapp/manifest.json
  packages/annotation-generator/test/data/cds-incidents/app/services.cds
  packages/annotation-generator/test/data/cds-incidents/db/schema.cds
  packages/annotation-generator/test/data/cds-incidents/package.json
  packages/annotation-generator/test/data/cds-incidents/srv/services.cds
  packages/annotation-generator/test/unit/__snapshots__/cds-generation.test.ts.snap
  packages/annotation-generator/test/unit/cds-generation.test.ts
Labels: annotation-generator

#3548 fix: ADP Generator templates / sub-generator resolution
  .changeset/tiny-eels-invent.md
  packages/adp-tooling/src/types.ts
  packages/adp-tooling/src/writer/index.ts
  packages/generator-adp/package.json
  packages/generator-adp/src/add-annotations-to-odata/index.ts
  packages/generator-adp/src/app/index.ts
  packages/generator-adp/src/utils/subgenHelpers.ts
  packages/generator-adp/src/utils/templates.ts
  packages/generator-adp/test/unit/add-annotations-to-odata/index.test.ts
  packages/generator-adp/test/unit/utils/subgenHelpers.test.ts
  packages/generator-adp/test/unit/utils/templates.test.ts
  packages/generator-adp/tsconfig.json
  pnpm-lock.yaml
Labels: adp-tooling, generator-adp

#3563 fix: Deploy Config generator does not show cloud-specific prompts for ADP when login is required
  .changeset/angry-panthers-wash.md
  packages/abap-deploy-config-inquirer/src/prompts/questions/auth.ts
  packages/abap-deploy-config-inquirer/src/prompts/validators.ts
  packages/abap-deploy-config-inquirer/test/prompts/validators.test.ts
  packages/adp-tooling/src/base/constants/index.ts
Labels: bug, abap-deploy-config-inquirer, generator-adp
