Repository SAP/open-ux-tools, pull requests merged in 2025-02, with the labels that each got.

#2856 Updates API `generateOAuth2UserTokenExchangeDestination` for UAA param
  .changeset/strange-gifts-promise.md
  packages/btp-utils/src/app-studio.ts
  packages/btp-utils/test/app-studio.test.ts
Labels: btp-utils

#2848 Feat(app-config-writer): enhance prompt for convert preview config
  .changeset/spicy-dolls-smoke.md
  packages/app-config-writer/src/index.ts
  packages/app-config-writer/src/preview-config/index.ts
  packages/app-config-writer/src/preview-config/prerequisites.ts
  packages/app-config-writer/src/prompt/index.ts
  packages/app-config-writer/src/prompt/preview-config.ts
  packages/app-config-writer/test/unit/preview-config/index.test.ts
  packages/app-config-writer/test/unit/prompt/preview-config.test.ts
  packages/create/src/cli/convert/preview.ts
  packages/create/test/unit/cli/convert/preview.test.ts
  pnpm-lock.yaml
Labels: create, app-config-writer

#2862 fix: Default model naming
  .changeset/khaki-socks-happen.md
  packages/fiori-elements-writer/test/__snapshots__/ovp.test.ts.snap
  packages/odata-service-writer/src/data/defaults.ts
  packages/odata-service-writer/test/unit/index.test.ts
Labels: odata-service-writer, fiori-elements-writer

#2875 fix: Project access dependency in odata-service-writer
  .changeset/grumpy-knives-approve.md
  packages/odata-service-writer/package.json
  pnpm-lock.yaml
Labels: odata-service-writer

#2730 feat: introduce ADP FLP config generator
  .changeset/tricky-pets-worry.md
  packages/adp-flp-config-sub-generator/.eslintignore
  packages/adp-flp-config-sub-generator/.eslintrc.js
  packages/adp-flp-config-sub-generator/CHANGELOG.md
  packages/adp-flp-config-sub-generator/LICENSE
  packages/adp-flp-config-sub-generator/README.md
  packages/adp-flp-config-sub-generator/jest.config.js
  packages/adp-flp-config-sub-generator/package.json
  packages/adp-flp-config-sub-generator/src/app/index.ts
  packages/adp-flp-config-sub-generator/src/app/types.ts
  packages/adp-flp-config-sub-generator/src/telemetryEvents/index.ts
  packages/adp-flp-config-sub-generator/src/translations/adp-flp-config-sub-generator.i18n.json
  packages/adp-flp-config-sub-generator/src/utils/i18n.ts
  packages/adp-flp-config-sub-generator/src/utils/logger.ts
  packages/adp-flp-config-sub-generator/test/__snapshots__/app.test.ts.snap
  packages/adp-flp-config-sub-generator/test/app.test.ts
  packages/adp-flp-config-sub-generator/test/fixtures/app.variant1/webapp/i18n/i18n.properties
  packages/adp-flp-config-sub-generator/test/fixtures/app.variant1/webapp/manifest.appdescr_variant
  packages/adp-flp-config-sub-generator/tsconfig.eslint.json
  packages/adp-flp-config-sub-generator/tsconfig.json
  packages/adp-tooling/src/base/helper.ts
  packages/adp-tooling/src/writer/inbound-navigation.ts
  packages/adp-tooling/test/unit/base/helper.test.ts
  packages/adp-tooling/test/unit/writer/inbound-navigation.test.ts
  packages/i18n/src/write/properties/create.ts
  packages/i18n/test/unit/write/properties/create.test.ts
  packages/inquirer-common/src/index.ts
  packages/inquirer-common/src/prompts/credentials.ts
  packages/inquirer-common/src/translations/inquirer-common.i18n.json
  packages/inquirer-common/test/unit/prompts/credentials.test.ts
  pnpm-lock.yaml
  sonar-project.properties
  tsconfig.json
Labels: feature, adp-tooling

#2872 feat(preview-middleware):add support for type component
  .changeset/tough-lions-do.md
  packages/preview-middleware/src/base/config.ts
  packages/preview-middleware/test/unit/base/__snapshots__/flp.test.ts.snap
  packages/preview-middleware/test/unit/base/flp.test.ts
Labels: preview-middleware

#2864 feat(abap-deploy-config-inq): option for createDuringDeploy list item
  .changeset/angry-shrimps-tap.md
  packages/abap-deploy-config-inquirer/src/prompts/helpers.ts
  packages/abap-deploy-config-inquirer/src/prompts/questions/config/transport.ts
  packages/abap-deploy-config-inquirer/src/types.ts
  packages/abap-deploy-config-inquirer/test/prompts/questions/config/transport.test.ts
Labels: abap-deploy-config-inquirer

#2857 fix(preview middleware): remove hard coded webapp path
  .changeset/silver-jobs-peel.md
  packages/preview-middleware/README.md
  packages/preview-middleware/src/base/flp.ts
Labels: preview-middleware

#2877 feat: Scroll into view when clicking on a `control` that is not currently visible in the `iframe`
  .changeset/pretty-rats-change.md
  packages/preview-middleware-client/src/cpe/selection.ts
Labels: feature, preview-middleware-client

#2893 fix: Handling of ignoreCertError property from service in proxy middleware
  .changeset/cyan-islands-look.md
  packages/odata-service-writer/src/index.ts
  packages/odata-service-writer/test/unit/index.test.ts
  packages/ui5-config/src/ui5config.ts
  packages/ui5-config/test/index.test.ts
Labels: ui5-config, odata-service-writer

#2834 fix: update the availability matix with the new action
  packages/preview-middleware-client/src/adp/quick-actions/supported-ui5versions.md
Labels: control-property-editor

#2910 feat(project-access): export `getI18nBundles` function
  .changeset/spotty-points-exercise.md
  packages/project-access/src/index.ts
  packages/project-access/src/project/index.ts
Labels: project-access

#2904 feat: Service update support
  .changeset/metal-comics-study.md
  packages/fiori-elements-writer/test/__snapshots__/alp.test.ts.snap
  packages/fiori-elements-writer/test/__snapshots__/feop.test.ts.snap
  packages/fiori-elements-writer/test/__snapshots__/fpm.test.ts.snap
  packages/fiori-elements-writer/test/__snapshots__/lrop.test.ts.snap
  packages/fiori-elements-writer/test/__snapshots__/ovp.test.ts.snap
  packages/fiori-elements-writer/test/__snapshots__/worklist.test.ts.snap
  packages/mockserver-config-writer/src/mockserver-config/index.ts
  packages/mockserver-config-writer/src/types/index.ts
  packages/odata-service-writer/src/data/annotations.ts
  packages/odata-service-writer/src/data/manifest.ts
  packages/odata-service-writer/src/data/package.ts
  packages/odata-service-writer/src/delete.ts
  packages/odata-service-writer/src/index.ts
  packages/odata-service-writer/src/update.ts
  packages/odata-service-writer/src/updates.ts
  packages/odata-service-writer/test/__snapshots__/index.test.ts.snap
  packages/odata-service-writer/test/unit/annotations.test.ts
  packages/odata-service-writer/test/unit/delete.test.ts
  packages/odata-service-writer/test/unit/index.test.ts
  packages/odata-service-writer/test/unit/manifest.test.ts
  packages/odata-service-writer/test/unit/package.test.ts
Labels: odata-service-writer

#2925 feat: add stable ids to form elements
  .changeset/late-schools-ring.md
  packages/preview-middleware-client/src/adp/ui/ExtensionPoint.fragment.xml
Labels: feature, preview-middleware-client

#2929 chore: Project access dependency in mockserver-config-writer
  .changeset/itchy-grapes-rule.md
  packages/mockserver-config-writer/package.json
  pnpm-lock.yaml
Labels: mockserver-config-writer

#2894 feat(preview-middleware): introduce 'editors' property on preview config root level
  .changeset/tidy-maps-approve.md
  packages/preview-middleware/README.md
  packages/preview-middleware/src/base/config.ts
  packages/preview-middleware/src/base/flp.ts
  packages/preview-middleware/src/types/index.ts
  packages/preview-middleware/test/unit/base/__snapshots__/flp.test.ts.snap
  packages/preview-middleware/test/unit/base/config.test.ts
  packages/preview-middleware/test/unit/base/flp.test.ts
Labels: preview-middleware

#2898 fix: `fileName` property in the change file's content of the manifest change editors writers differs from the name of the change file
  .changeset/silly-beds-live.md
  packages/adp-tooling/src/base/change-utils.ts
  packages/adp-tooling/src/types.ts
  packages/adp-tooling/src/writer/changes/writers/component-usages-writer.ts
  packages/adp-tooling/src/writer/changes/writers/data-source-writer.ts
  packages/adp-tooling/src/writer/changes/writers/inbound-writer.ts
  packages/adp-tooling/src/writer/changes/writers/new-model-writer.ts
  packages/adp-tooling/test/unit/base/change-utils.test.ts
  packages/adp-tooling/test/unit/writer/changes/writers/index.test.ts
Labels: bug, adp-tooling

#2941 fix: create custom table action v2 app
  .changeset/nervous-tables-shake.md
  packages/preview-middleware-client/src/adp/quick-actions/fe-v2/create-table-action.ts
  packages/preview-middleware-client/src/messagebundle.properties
  packages/preview-middleware-client/test/unit/adp/quick-actions/fe-v2.test.ts
Labels: control-property-editor

#2934 fix: re-route issue with cds-plugin-ui5
  .changeset/red-mails-carry.md
  packages/preview-middleware/src/base/flp.ts
  packages/preview-middleware/src/base/index.ts
  packages/preview-middleware/src/index.ts
  packages/preview-middleware/test/unit/base/flp.test.ts
Labels: preview-middleware

#2948 fix: 'Add Table Custom Action' quick action not being working in some…
  .changeset/cyan-turkeys-grin.md
  packages/preview-middleware-client/src/adp/quick-actions/fe-v2/create-table-action.ts
  packages/preview-middleware-client/test/unit/adp/quick-actions/fe-v2.test.ts
Labels: control-property-editor

#2953 fix: Added support for missing 'showClearButton', 'showMessages', and 'liveMode' properties in FilterBar building block generation.
  .changeset/wild-chicken-perform.md
  packages/fe-fpm-writer/src/building-block/types.ts
  packages/fe-fpm-writer/templates/building-block/filter-bar/View.xml
  packages/fe-fpm-writer/test/unit/__snapshots__/building-block.test.ts.snap
  packages/fe-fpm-writer/test/unit/building-block.test.ts
Labels: fe-fpm-writer

#2812 feat: Add Typescript support for Adaptation Project
  .changeset/dry-badgers-unite.md
  packages/adp-tooling/package.json
  packages/adp-tooling/src/base/helper.ts
  packages/adp-tooling/src/base/project-builder.ts
  packages/adp-tooling/src/base/prompt.ts
  packages/adp-tooling/src/index.ts
  packages/adp-tooling/src/preview/routes-handler.ts
  packages/adp-tooling/src/types.ts
  packages/adp-tooling/src/writer/index.ts
  packages/adp-tooling/src/writer/options.ts
  packages/adp-tooling/src/writer/project-utils.ts
  packages/adp-tooling/templates/project/package.json
  packages/adp-tooling/templates/rta/controller.ejs
  packages/adp-tooling/templates/rta/ts-controller.ejs
  packages/adp-tooling/templates/typescript/tsconfig.json
  packages/adp-tooling/test/unit/base/helper.test.ts
  packages/adp-tooling/test/unit/base/project-builder.test.ts
  packages/adp-tooling/test/unit/base/prompt.test.ts
  packages/adp-tooling/test/unit/preview/adp-preview.test.ts
  packages/adp-tooling/test/unit/writer/__snapshots__/index.test.ts.snap
  packages/adp-tooling/test/unit/writer/index.test.ts
  packages/adp-tooling/test/unit/writer/project-utils.test.ts
  packages/adp-tooling/tsconfig.json
  packages/create/src/cli/generate/adaptation-project.ts
  packages/preview-middleware-client/src/adp/api-handler.ts
  packages/preview-middleware-client/src/adp/controllers/ControllerExtension.controller.ts
  packages/preview-middleware-client/src/adp/ui/ControllerExtension.fragment.xml
  packages/preview-middleware-client/test/unit/adp/controllers/ControllerExtension.controller.test.ts
  pnpm-lock.yaml
Labels: feature, adp-tooling, pr:do-not-merge

#2955 feat(preview-middleware): legacy free ui5 version handling
  .changeset/red-jokes-flash.md
  packages/preview-middleware-client/src/utils/version.ts
  packages/preview-middleware/src/base/flp.ts
  packages/preview-middleware/test/unit/base/__snapshots__/flp.test.ts.snap
  packages/preview-middleware/test/unit/base/flp.test.ts
Labels: preview-middleware, preview-middleware-client

#2870 Annotation Modeler UI Text Review
  .changeset/funny-planets-teach.md
  packages/cds-odata-annotation-converter/src/i18n/i18n.json
  packages/cds-odata-annotation-converter/test/data/parser/apply/diagnostics.json
  packages/cds-odata-annotation-converter/test/data/parser/json/diagnostics.json
  packages/cds-odata-annotation-converter/test/data/parser/paths/diagnostics.json
  packages/cds-odata-annotation-converter/test/data/parser/property-annotation-value-case-issue/diagnostics.json
  packages/cds-odata-annotation-converter/test/transform/annotation/handler/__snapshots__/path.test.ts.snap
Labels: documentation

#2959 fix: method 'getCapModelAndServices' not returning 'odata-v4' services
  .changeset/thick-fishes-invite.md
  packages/project-access/src/project/cap.ts
  packages/project-access/test/project/cap.test.ts
Labels: project-access

#2931 fix: static webapp path
  .changeset/orange-donkeys-type.md
  packages/adp-flp-config-sub-generator/src/app/index.ts
  packages/adp-tooling/src/base/abap/manifest-service.ts
  packages/adp-tooling/src/base/helper.ts
  packages/adp-tooling/src/preview/change-handler.ts
  packages/adp-tooling/src/preview/routes-handler.ts
  packages/adp-tooling/src/prompts/add-annotations-to-odata/index.ts
  packages/adp-tooling/src/writer/inbound-navigation.ts
  packages/adp-tooling/test/unit/base/abap/manifest-service.test.ts
  packages/adp-tooling/test/unit/base/helper.test.ts
  packages/adp-tooling/test/unit/preview/adp-preview.test.ts
  packages/adp-tooling/test/unit/preview/change-handler.test.ts
  packages/adp-tooling/test/unit/prompts/add-annotations-to-odata/index.test.ts
  packages/create/src/cli/add/annotations-to-odata.ts
  packages/create/src/cli/add/component-usages.ts
  packages/create/src/cli/add/navigation-config.ts
  packages/create/src/cli/add/new-model.ts
  packages/create/src/cli/change/change-data-source.ts
  packages/create/src/cli/change/change-inbound.ts
  packages/create/src/validation/validation.ts
  packages/create/test/unit/validation/validation.test.ts
  packages/i18n/README.md
  packages/mockserver-config-writer/src/mockserver-config/ui5-mock-yaml.ts
  packages/odata-service-writer/src/data/annotations.ts
  packages/odata-service-writer/src/delete.ts
  packages/odata-service-writer/src/update.ts
  packages/odata-service-writer/test/__snapshots__/index.test.ts.snap
  packages/telemetry/src/tooling-telemetry/data-processor.ts
Labels: odata-service-writer, mockserver-config-writer, create, adp-tooling, telemetry

#2965 fix: TypeScript template causes the iframe to break when controller extension is loaded
  .changeset/young-months-develop.md
  packages/adp-tooling/templates/rta/ts-controller.ejs
Labels: bug, preview-middleware, adp-tooling

#2969 fix: compile error when new .cds files are added to memfs
  .changeset/serious-suits-beam.md
  .vscode/launch.json
  packages/cds-odata-annotation-converter/package.json
  packages/fiori-annotation-api/jest.setup.js
  packages/fiori-annotation-api/package.json
  packages/fiori-annotation-api/src/cds/service.ts
  packages/fiori-annotation-api/src/fiori-service.ts
  packages/fiori-annotation-api/test/data/cds/cap-no-apps/.gitignore
  packages/fiori-annotation-api/test/data/cds/cap-no-apps/db/schema.cds
  packages/fiori-annotation-api/test/data/cds/cap-no-apps/package.json
  packages/fiori-annotation-api/test/data/cds/cap-no-apps/srv/common.cds
  packages/fiori-annotation-api/test/data/cds/cap-no-apps/srv/incidentservice.cds
  packages/fiori-annotation-api/test/unit/fiori-service.test.ts
  packages/fiori-annotation-api/test/unit/projects.ts
  pnpm-lock.yaml
Labels: fiori-annotation-api
