Repository SAP/open-ux-tools, pull requests merged in 2025-07, with the labels that each got.

#3392 feat(generator-adp): Various improvements for ADP generator
  .changeset/nasty-rice-trade.md
  packages/generator-adp/package.json
  packages/generator-adp/src/app/index.ts
  packages/generator-adp/src/utils/steps.ts
  packages/generator-adp/test/app.test.ts
  packages/generator-adp/test/unit/utils/steps.test.ts
Labels: generator-adp

#3363 Fix/preview middleware/lrep connector
  .changeset/chilled-bees-bake.md
  packages/preview-middleware-client/src/flp/initConnectors.ts
  packages/preview-middleware-client/test/unit/flp/init.test.ts
  packages/preview-middleware/src/base/config.ts
  packages/preview-middleware/src/base/flp.ts
Labels: preview-middleware, preview-middleware-client

#3389 fix: detect all sync views
  .changeset/three-rockets-hide.md
  packages/preview-middleware-client/src/adp/init-dialogs.ts
  packages/preview-middleware-client/src/adp/init.ts
  packages/preview-middleware-client/src/adp/quick-actions/common/add-controller-to-page.ts
  packages/preview-middleware-client/src/adp/sync-views-utils.ts
  packages/preview-middleware-client/src/adp/utils.ts
  packages/preview-middleware-client/src/cpe/init.ts
  packages/preview-middleware-client/test/unit/adp/init-dialogs.test.ts
  packages/preview-middleware-client/test/unit/adp/init.test.ts
  packages/preview-middleware-client/test/unit/adp/sync-views-utils.test.ts
Labels: bug, preview-middleware-client

#3435 Fix(preview middleware): adjust default test pattern to avoid picking up wrong files
  .changeset/giant-socks-shout.md
  packages/preview-middleware/README.md
  packages/preview-middleware/src/base/test.ts
  packages/preview-middleware/src/types/index.ts
  packages/preview-middleware/test/unit/base/test.test.ts
Labels: preview-middleware

#3452 feat(nodejs-utils): Add logging support to `CommandRunner`
  .changeset/early-deers-hammer.md
  packages/nodejs-utils/package.json
  packages/nodejs-utils/src/commandRunner.ts
  packages/nodejs-utils/test/unit/commandRunner.test.ts
  packages/nodejs-utils/tsconfig.json
  pnpm-lock.yaml
Labels: nodejs-utils

#3441 Feat(preview-middleware): change file type of templates to ejs
  .changeset/rude-carrots-check.md
  packages/preview-middleware/src/base/config.ts
  packages/preview-middleware/src/base/flp.ts
  packages/preview-middleware/templates/flp/cdm.ejs
  packages/preview-middleware/templates/flp/editor.ejs
  packages/preview-middleware/templates/flp/sandbox.ejs
  packages/preview-middleware/templates/flp/sandbox2.ejs
  packages/preview-middleware/templates/test/qunit.ejs
  packages/preview-middleware/templates/test/testsuite.qunit.ejs
Labels: preview-middleware

#3478 tbi(axios-extension): Improves v4 services load times
  .changeset/curly-months-perform.md
  packages/axios-extension/src/abap/catalog/base.ts
  packages/axios-extension/src/abap/catalog/v4-catalog-service.ts
  packages/axios-extension/test/abap/catalog/v4-catalog-service.test.ts
  packages/axios-extension/test/abap/mockResponses/v4RecommendedServiceGroupsPage-1.json
  packages/axios-extension/test/abap/mockResponses/v4RecommendedServiceGroupsPage-2.json
  packages/axios-extension/test/abap/mockResponses/v4RecommendedServiceGroupsPage-3.json
  packages/axios-extension/test/abap/mockResponses/v4RecommendedServiceGroupsPage-4.json
  packages/axios-extension/test/abap/mockResponses/v4ServiceGroupsPage-1.json
  packages/axios-extension/test/abap/mockResponses/v4ServiceGroupsPage-2.json
  packages/axios-extension/test/abap/mockResponses/v4ServiceGroupsPage-3.json
  packages/axios-extension/test/abap/mockResponses/v4ServiceGroupsPage-4.json
  packages/odata-service-inquirer/src/prompts/datasources/sap-system/service-selection/service-helper.ts
Labels: axios-extension, odata-service-inquirer

#3494 feat(odata-service-inq): move entity helpers to inq-common
  .changeset/smooth-bobcats-watch.md
  packages/inquirer-common/package.json
  packages/inquirer-common/src/prompts/helpers.ts
  packages/inquirer-common/src/translations/inquirer-common.i18n.json
  packages/inquirer-common/test/unit/prompts/fixtures/metadataV4WithAggregateTransforms.xml
  packages/inquirer-common/test/unit/prompts/helpers.test.ts
  packages/odata-service-inquirer/src/prompts/edmx/entity-helper.ts
  packages/odata-service-inquirer/src/prompts/edmx/questions.ts
  pnpm-lock.yaml
Labels: odata-service-inquirer
