Repository SAP/open-ux-tools, pull requests merged in 2025-01, with the labels that each got.

#2675 feat (create) add option to convert test runners to preview-config command
  .changeset/dirty-jeans-fly.md
  packages/app-config-writer/package.json
  packages/app-config-writer/src/preview-config/index.ts
  packages/app-config-writer/src/preview-config/package-json.ts
  packages/app-config-writer/src/preview-config/prerequisites.ts
  packages/app-config-writer/src/preview-config/preview-files.ts
  packages/app-config-writer/src/preview-config/ui5-yaml.ts
  packages/app-config-writer/test/fixtures/preview-config/various-configs/ui5-existing-preview-middleware.yaml
  packages/app-config-writer/test/unit/preview-config/__snapshots__/index.test.ts.snap
  packages/app-config-writer/test/unit/preview-config/__snapshots__/ui5-yaml.test.ts.snap
  packages/app-config-writer/test/unit/preview-config/index.test.ts
  packages/app-config-writer/test/unit/preview-config/prerequisites.test.ts
  packages/app-config-writer/test/unit/preview-config/preview-files.test.ts
  packages/app-config-writer/test/unit/preview-config/ui5-yaml.test.ts
  packages/create/README.md
  packages/create/src/cli/convert/preview.ts
  packages/preview-middleware/src/base/test.ts
  packages/preview-middleware/src/index.ts
  packages/preview-middleware/src/types/index.ts
  pnpm-lock.yaml
Labels: create, preview-middleware, app-config-writer

#2740 chore: Improved service updates in manifest
  .changeset/empty-turtles-complain.md
  packages/odata-service-writer/src/updates.ts
  packages/odata-service-writer/test/test-data/manifest-json/edmx-manifest-older-services.ts
  packages/odata-service-writer/test/unit/updates.test.ts
Labels: odata-service-writer

#2705 Feat: Proper cloud system check
  .changeset/odd-pigs-count.md
  examples/odata-cli/src/activities.ts
  packages/axios-extension/src/abap/abap-service-provider.ts
  packages/axios-extension/test/abap/abap-adt-service.test.ts
  packages/axios-extension/test/abap/abap-service-provider.test.ts
Labels: axios-extension

#2745 fix(app-config-writer):prerequisites check for preview conversion
  .changeset/afraid-moles-juggle.md
  packages/app-config-writer/src/preview-config/prerequisites.ts
  packages/app-config-writer/test/unit/preview-config/prerequisites.test.ts
Labels: create, app-config-writer

#2747 fix: outline
  .changeset/pretty-peas-grin.md
  packages/preview-middleware-client/src/cpe/outline/nodes.ts
Labels: preview-middleware-client

#2751 fix(app-config-writer): preview config update default configs
  .changeset/two-wasps-sort.md
  packages/app-config-writer/src/preview-config/ui5-yaml.ts
Labels: app-config-writer

#2754 fix: Handle mainService model for already existing mainService
  .changeset/shiny-toes-check.md
  packages/odata-service-writer/src/data/defaults.ts
  packages/odata-service-writer/test/unit/index.test.ts
Labels: odata-service-writer

#2758 fix: Hide `semantic object` & `action` FLP prompts when there are inbounds for an Adaptation Project
  .changeset/serious-bees-compete.md
  packages/adp-tooling/src/writer/inbound-navigation.ts
  packages/adp-tooling/test/unit/writer/inbound-navigation.test.ts
  packages/flp-config-inquirer/src/prompts/questions/basic.ts
  packages/flp-config-inquirer/test/prompts/questions/basic.test.ts
Labels: flp-config-inquirer

#2765 fix: Manifest change for enabling semantic date range has no effect on running app with UI5 latest snapshot (=>1.132)
  .changeset/spicy-lizards-juggle.md
  packages/preview-middleware-client/src/cpe/changes/service.ts
  packages/reload-middleware/src/base/livereload.ts
  packages/reload-middleware/test/unit/base/livereload.test.ts
Labels: bug, preview-middleware, preview-middleware-client, reload-middleware

#2638 fix: maintain list of supported ui5 versions
  packages/preview-middleware-client/src/adp/quick-actions/supported-ui5versions.md
Labels: control-property-editor

#2785 fix: semantic date range quick action
  .changeset/mean-boxes-compare.md
  packages/preview-middleware-client/src/adp/quick-actions/fe-v2/lr-enable-semantic-date-range-filter-bar.ts
  packages/preview-middleware-client/src/adp/quick-actions/simple-quick-action-base.ts
  packages/preview-middleware-client/src/cpe/quick-actions/utils.ts
  packages/preview-middleware-client/test/unit/adp/quick-actions/fe-v2.test.ts
Labels: preview-middleware-client

#2789 fix: Removed local annotations from mockserver in yaml files
  .changeset/thin-kangaroos-relate.md
  packages/fiori-elements-writer/test/__snapshots__/alp.test.ts.snap
  packages/fiori-elements-writer/test/__snapshots__/feop.test.ts.snap
  packages/fiori-elements-writer/test/__snapshots__/fpm.test.ts.snap
  packages/fiori-elements-writer/test/__snapshots__/lrop.test.ts.snap
  packages/fiori-elements-writer/test/__snapshots__/ovp.test.ts.snap
  packages/fiori-elements-writer/test/__snapshots__/worklist.test.ts.snap
  packages/mockserver-config-writer/src/mockserver-config/ui5-mock-yaml.ts
  packages/mockserver-config-writer/test/unit/mockserver-config/__snapshots__/ui5-mock-yaml.test.ts.snap
  packages/mockserver-config-writer/test/unit/mockserver-config/ui5-mock-yaml.test.ts
  packages/odata-service-writer/test/__snapshots__/index.test.ts.snap
Labels: odata-service-writer, fiori-elements-writer, mockserver-config-writer

#2737 chore: update test project dependencies
  packages/cds-odata-annotation-converter/test/data/bookshop/package-lock.json
  packages/cds-odata-annotation-converter/test/data/bookshop/package.json
Labels: fiori-annotation-api

#2790 feat(odata-service-inquirer): 2778 warn if backend annotations could not be retrieved
  .changeset/cool-numbers-sleep.md
  packages/odata-service-inquirer/src/prompts/datasources/sap-system/service-selection/questions.ts
  packages/odata-service-inquirer/src/prompts/datasources/sap-system/service-selection/service-helper.ts
  packages/odata-service-inquirer/src/translations/odata-service-inquirer.i18n.json
  packages/odata-service-inquirer/test/unit/prompts/sap-system/service-selection/questions.test.ts
Labels: odata-service-inquirer

#2764 feat/app-config-writer/various preview-config improvements
  .changeset/nasty-files-shake.md
  packages/app-config-writer/src/preview-config/index.ts
  packages/app-config-writer/src/preview-config/prerequisites.ts
  packages/app-config-writer/src/preview-config/preview-files.ts
  packages/app-config-writer/src/preview-config/ui5-yaml.ts
  packages/app-config-writer/test/unit/preview-config/__snapshots__/ui5-yaml.test.ts.snap
  packages/app-config-writer/test/unit/preview-config/prerequisites.test.ts
  packages/app-config-writer/test/unit/preview-config/preview-files.test.ts
  packages/app-config-writer/test/unit/preview-config/ui5-yaml.test.ts
  packages/create/README.md
  packages/create/src/cli/convert/preview.ts
Labels: create, app-config-writer

#2828 feat(preview-middleware): reroute missing url param viewCache
  .changeset/shy-oranges-tell.md
  packages/preview-middleware/src/base/flp.ts
  packages/preview-middleware/test/unit/base/__snapshots__/flp.test.ts.snap
  packages/preview-middleware/test/unit/base/flp.test.ts
  packages/preview-middleware/test/unit/ui5/middleware.test.ts
Labels: preview-middleware

#2831 feat: Delete one backend per service
  .changeset/rude-lobsters-punch.md
  packages/ui5-config/src/ui5config.ts
  packages/ui5-config/test/index.test.ts
Labels: ui5-config

#2802 fix: Getting of webapp path
  .changeset/gold-bulldogs-grow.md
  packages/app-config-writer/src/navigation-config/index.ts
  packages/app-config-writer/src/preview-config/preview-files.ts
  packages/project-access/src/project/ui5-config.ts
  packages/project-access/test/project/ui5-config.test.ts
  packages/project-access/test/test-data/project/webapp-path/custom-webapp-path-multi-yaml/package.json
  packages/project-access/test/test-data/project/webapp-path/custom-webapp-path/package.json
  packages/project-access/test/test-data/project/webapp-path/default-webapp-path/package.json
Labels: project-access

#2794 fix: Setting default name for the service model
  .changeset/dirty-wasps-relax.md
  packages/odata-service-writer/src/data/defaults.ts
  packages/odata-service-writer/test/unit/index.test.ts
Labels: odata-service-writer

#2835 feat(odata-service-inquirer): Add show collab draft warn as option
  .changeset/thick-snakes-mate.md
  packages/inquirer-common/src/types.ts
  packages/odata-service-inquirer/src/prompts/datasources/sap-system/service-selection/questions.ts
  packages/odata-service-inquirer/src/prompts/datasources/sap-system/service-selection/service-helper.ts
  packages/odata-service-inquirer/src/prompts/datasources/service-helpers/service-helpers.ts
  packages/odata-service-inquirer/src/prompts/datasources/service-url/questions.ts
  packages/odata-service-inquirer/src/prompts/datasources/service-url/validators.ts
  packages/odata-service-inquirer/src/prompts/edmx/entity-helper.ts
  packages/odata-service-inquirer/src/prompts/prompts.ts
  packages/odata-service-inquirer/src/prompts/validators.ts
  packages/odata-service-inquirer/src/translations/odata-service-inquirer.i18n.json
  packages/odata-service-inquirer/src/types.ts
  packages/odata-service-inquirer/src/utils/index.ts
  packages/odata-service-inquirer/test/unit/__snapshots__/index-api.test.ts.snap
  packages/odata-service-inquirer/test/unit/prompts/__snapshots__/prompts.test.ts.snap
  packages/odata-service-inquirer/test/unit/prompts/edmx/alp-questions.test.ts
  packages/odata-service-inquirer/test/unit/prompts/edmx/entity-helper.test.ts
  packages/odata-service-inquirer/test/unit/prompts/edmx/questions.test.ts
  packages/odata-service-inquirer/test/unit/prompts/edmx/test-data/metadataV2NoEntities.xml
  packages/odata-service-inquirer/test/unit/prompts/sap-system/service-selection/questions.test.ts
  packages/odata-service-inquirer/test/unit/prompts/sap-system/service-selection/service-helper.test.ts
  packages/odata-service-inquirer/test/unit/prompts/service-helpers/service-helpers.test.ts
  packages/odata-service-inquirer/test/unit/prompts/service-url/questions.test.ts
  packages/odata-service-inquirer/test/unit/prompts/service-url/validators.test.ts
  packages/odata-service-inquirer/test/unit/prompts/test-data/annotationsWithPresentationQualifier.xml
  packages/odata-service-inquirer/test/unit/prompts/test-data/metadataV2.xml
  packages/odata-service-inquirer/test/unit/prompts/test-data/metadataV2NoEntities.xml
  packages/odata-service-inquirer/test/unit/prompts/test-data/metadataV2WithDraftRoot.xml
  packages/odata-service-inquirer/test/unit/prompts/test-data/metadataV4WithAggregateTransforms.xml
  packages/odata-service-inquirer/test/unit/prompts/test-data/metadataV4WithAliasAggregateTransforms.xml
  packages/odata-service-inquirer/test/unit/prompts/test-data/metadataV4WithDraftAnnotationAndShareAction.xml
  packages/odata-service-inquirer/test/unit/prompts/test-data/metadataV4WithDraftEntities.xml
  packages/odata-service-inquirer/test/unit/prompts/validators.test.ts
  packages/odata-service-inquirer/test/unit/utils/fixtures/metadata_v2.xml
  packages/odata-service-inquirer/test/unit/utils/fixtures/metadata_v4.xml
  packages/odata-service-inquirer/test/unit/utils/utils.test.ts
Labels: odata-service-inquirer
