Repository SAP/open-ux-tools, pull requests merged in 2025-09, with the labels that each got.

#3579 fix(fiori-mcp): language edit readme
  packages/fiori-mcp-server/README.md
Labels: fiori-mcp

#3582 feat: rename property `id` to `functionalityId`
  packages/fiori-mcp-server/src/tools/functionalities/controller-extension/index.ts
  packages/fiori-mcp-server/src/tools/functionalities/functionalities.ts
  packages/fiori-mcp-server/src/tools/functionalities/generate-fiori-ui-app/generate-fiori-ui-app.ts
  packages/fiori-mcp-server/src/tools/functionalities/page/add-page.ts
  packages/fiori-mcp-server/src/tools/functionalities/page/application.ts
  packages/fiori-mcp-server/src/tools/functionalities/page/delete-page.ts
  packages/fiori-mcp-server/src/tools/get-functionality-details.ts
  packages/fiori-mcp-server/src/tools/index.ts
  packages/fiori-mcp-server/src/tools/list-functionalities.ts
  packages/fiori-mcp-server/src/tools/output-schema/get-functionality-details.json
  packages/fiori-mcp-server/src/tools/output-schema/list-functionality.json
  packages/fiori-mcp-server/src/types.ts
  packages/fiori-mcp-server/test/unit/server.test.ts
  packages/fiori-mcp-server/test/unit/tools/__snapshots__/list-functionalities.test.ts.snap
  packages/fiori-mcp-server/test/unit/tools/functionalities/controller-extension/index.test.ts
  packages/fiori-mcp-server/test/unit/tools/functionalities/generate-fiori-ui-app/generate-fiori-ui-app.test.ts
  packages/fiori-mcp-server/test/unit/tools/functionalities/page/__snapshots__/index.test.ts.snap
  packages/fiori-mcp-server/test/unit/tools/functionalities/page/index.test.ts
  packages/fiori-mcp-server/test/unit/tools/get-functionality-details.test.ts
  packages/fiori-mcp-server/test/unit/tools/list-functionalities.test.ts
Labels: fiori-mcp

#3584 fix(backend-proxy-middleware): make bsp path case insensitive
  .changeset/few-ghosts-smile.md
  packages/backend-proxy-middleware/src/ext/bsp.ts
  packages/backend-proxy-middleware/test/ext/bsp.test.ts
Labels: backend-proxy-middleware

#3586 feat(fiori-mcp): update README.md
  packages/fiori-mcp-server/README.md
Labels: fiori-mcp

#3589 feat(mcp-server): enhance list fiori apps tool
  packages/fiori-mcp-server/src/tools/list-fiori-apps.ts
  packages/fiori-mcp-server/src/tools/output-schema/list-fiori-apps.json
  packages/fiori-mcp-server/src/types.ts
  packages/fiori-mcp-server/test/unit/server.test.ts
  packages/fiori-mcp-server/test/unit/tools/list-fiori-apps.test.ts
Labels: fiori-mcp

#3591 chore(fiori-mcp): first release
  .changeset/five-terms-pump.md
  packages/fiori-mcp-server/package.json
Labels: fiori-mcp

#3585 feat(serve-static-middleware): make servestatic ignore cachebuster in URLs
  .changeset/flat-suits-allow.md
  packages/serve-static-middleware/README.md
  packages/serve-static-middleware/src/base/servestatic.ts
  packages/serve-static-middleware/src/base/types.ts
  packages/serve-static-middleware/test/ui5/middleware.test.ts
Labels: serve-static-middleware

#3595 fix: Deploy Config generator does not allow package with CloudReady and OnPremise project types
  .changeset/itchy-crabs-bake.md
  packages/abap-deploy-config-inquirer/src/prompts/validators.ts
  packages/abap-deploy-config-inquirer/test/prompts/validators.test.ts
  packages/adp-tooling/src/base/constants/index.ts
Labels: abap-deploy-config-inquirer, deploy-config-sub-generator

#3613 feat(fiori-mcp-server): Use Zod schemas to generate input/output JSON schemas and TypeScript types
  .changeset/ninety-tables-stare.md
  packages/fiori-mcp-server/src/server.ts
  packages/fiori-mcp-server/src/tools/execute-functionality.ts
  packages/fiori-mcp-server/src/tools/functionalities/controller-extension/index.ts
  packages/fiori-mcp-server/src/tools/functionalities/generate-fiori-ui-app/command.ts
  packages/fiori-mcp-server/src/tools/functionalities/generate-fiori-ui-app/generate-fiori-ui-app.ts
  packages/fiori-mcp-server/src/tools/functionalities/page/add-page.ts
  packages/fiori-mcp-server/src/tools/functionalities/page/delete-page.ts
  packages/fiori-mcp-server/src/tools/get-functionality-details.ts
  packages/fiori-mcp-server/src/tools/index.ts
  packages/fiori-mcp-server/src/tools/input-schema/execute-functionality.json
  packages/fiori-mcp-server/src/tools/input-schema/get-functionality-details.json
  packages/fiori-mcp-server/src/tools/input-schema/index.ts
  packages/fiori-mcp-server/src/tools/input-schema/list-fiori-apps.json
  packages/fiori-mcp-server/src/tools/input-schema/list-functionality.json
  packages/fiori-mcp-server/src/tools/output-schema/execute-functionality.json
  packages/fiori-mcp-server/src/tools/output-schema/get-functionality-details.json
  packages/fiori-mcp-server/src/tools/output-schema/index.ts
  packages/fiori-mcp-server/src/tools/output-schema/list-fiori-apps.json
  packages/fiori-mcp-server/src/tools/output-schema/list-functionality.json
  packages/fiori-mcp-server/src/tools/utils.ts
  packages/fiori-mcp-server/src/types.ts
  packages/fiori-mcp-server/src/types/basic.ts
  packages/fiori-mcp-server/src/types/index.ts
  packages/fiori-mcp-server/src/types/input.ts
  packages/fiori-mcp-server/src/types/output.ts
  packages/fiori-mcp-server/test/unit/tools/__snapshots__/index.test.ts.snap
  packages/fiori-mcp-server/test/unit/tools/get-functionality-details.test.ts
  packages/fiori-mcp-server/test/unit/tools/index.test.ts
Labels: fiori-mcp

#3626 fix(adp-generator): Move inbounds fetch inside the app prompt validation
  .changeset/spicy-flies-divide.md
  packages/generator-adp/src/app/index.ts
  packages/generator-adp/src/app/questions/configuration.ts
  packages/generator-adp/src/translations/generator-adp.i18n.json
  packages/generator-adp/test/app.test.ts
  packages/generator-adp/test/unit/questions/configuration.test.ts
Labels: generator-adp

#3637 fix: Wrong npm deploy scripts are created for ADP onPremise projects
  .changeset/bright-mails-occur.md
  packages/abap-deploy-config-writer/src/file.ts
  packages/abap-deploy-config-writer/src/index.ts
  packages/abap-deploy-config-writer/src/scripts.ts
  packages/abap-deploy-config-writer/test/sample/test-js-adp-variant/package.json
  packages/abap-deploy-config-writer/test/sample/test-js-adp-variant/ui5.yaml
  packages/abap-deploy-config-writer/test/sample/test-js-adp-variant/webapp/manifest.appdescr_variant
  packages/abap-deploy-config-writer/test/sample/test-ts-adp-variant/package.json
  packages/abap-deploy-config-writer/test/sample/test-ts-adp-variant/tsconfig.json
  packages/abap-deploy-config-writer/test/sample/test-ts-adp-variant/ui5.yaml
  packages/abap-deploy-config-writer/test/sample/test-ts-adp-variant/webapp/manifest.appdescr_variant
  packages/abap-deploy-config-writer/test/unit/__snapshots__/index.test.ts.snap
  packages/abap-deploy-config-writer/test/unit/file.test.ts
  packages/abap-deploy-config-writer/test/unit/index.test.ts
Labels: abap-deploy-config-writer

#3655 MCP - more consistent tool names
  .changeset/seven-dolphins-teach.md
  packages/fiori-mcp-server/CHANGELOG.md
  packages/fiori-mcp-server/README.md
  packages/fiori-mcp-server/src/server.ts
  packages/fiori-mcp-server/src/tools/index.ts
  packages/fiori-mcp-server/src/types/basic.ts
  packages/fiori-mcp-server/src/types/input.ts
  packages/fiori-mcp-server/src/types/output.ts
  packages/fiori-mcp-server/test/unit/server.test.ts
  packages/fiori-mcp-server/test/unit/tools/__snapshots__/index.test.ts.snap
  packages/fiori-mcp-server/test/unit/tools/index.test.ts
Labels: fiori-mcp

#3674 chore(fiori-mcp-server): adjust readme
  packages/fiori-mcp-server/README.md
Labels: fiori-mcp

#3640 fix(fiori-annotation-api): annotation merging
  .changeset/happy-snakes-clean.md
  packages/fiori-annotation-api/src/avt/annotations.ts
  packages/fiori-annotation-api/src/cds/adapter.ts
  packages/fiori-annotation-api/src/fiori-service.ts
  packages/fiori-annotation-api/test/__mocks__/@sap-ux/logger.ts
  packages/fiori-annotation-api/test/unit/__snapshots__/fiori-service.test.ts.snap
  packages/fiori-annotation-api/test/unit/avt/__snapshots__/annotations.test.ts.snap
  packages/fiori-annotation-api/test/unit/fiori-service.test.ts
Labels: fiori-annotation-api

#3672 fix(abap deploy config inquirer): 33258 asterisk for transport request
  .changeset/hip-wasps-impress.md
  packages/abap-deploy-config-inquirer/src/prompts/questions/config/transport.ts
  packages/abap-deploy-config-inquirer/test/prompts/questions/config/transport.test.ts
  packages/ui-service-inquirer/test/__snapshots__/prompts.test.ts.snap
Labels: abap-deploy-config-inquirer
