Repository SAP/open-ux-tools, pull requests merged in 2025-06, with the labels that each got.

#3248 fix(preview middleware): custom connector for flex changes
  .changeset/shiny-parents-return.md
  packages/preview-middleware-client/src/flp/initConnectors.ts
  packages/preview-middleware/src/base/flp.ts
  packages/preview-middleware/test/unit/base/__snapshots__/flp.test.ts.snap
  packages/preview-middleware/test/unit/base/flp.test.ts
  packages/preview-middleware/test/unit/ui5/middleware.test.ts
Labels: bug, preview-middleware, preview-middleware-client

#3292 fix(ui-service-generator): use accept header for content request from generator config
  .changeset/stale-carrots-think.md
  packages/axios-extension/src/abap/abap-service-provider.ts
  packages/axios-extension/src/abap/adt-catalog/generators/ui-service-generator.ts
  packages/ui-service-sub-generator/src/app/utils.ts
Labels: axios-extension, ui-service-generator

#3317 fix(preview-middleware): missing variant changes
  .changeset/beige-dogs-rush.md
  packages/preview-middleware/src/base/flex.ts
Labels: preview-middleware

#3294 fix: Duplicate Extension Points are selected in outline tree
  .changeset/friendly-dancers-knock.md
  packages/preview-middleware-client/src/adp/extension-point.ts
  packages/preview-middleware-client/src/cpe/outline/nodes.ts
  packages/preview-middleware-client/test/unit/adp/init.test.ts
  packages/preview-middleware-client/test/unit/cpe/outline/nodes.test.ts
Labels: bug, preview-middleware, preview-middleware-client

#3249 feat(generator-adp): Consume FLP generator and Deployment generators
  .changeset/neat-files-draw.md
  packages/adp-flp-config-sub-generator/src/app/index.ts
  packages/adp-tooling/package.json
  packages/adp-tooling/src/types.ts
  packages/adp-tooling/src/ui5/fetch.ts
  packages/adp-tooling/src/ui5/format.ts
  packages/adp-tooling/src/ui5/version-info.ts
  packages/adp-tooling/test/unit/ui5/fetch.test.ts
  packages/adp-tooling/test/unit/ui5/version-info.test.ts
  packages/adp-tooling/tsconfig.json
  packages/deploy-config-sub-generator/src/app/index.ts
  packages/deploy-config-sub-generator/src/app/prompting.ts
  packages/deploy-config-sub-generator/src/prompts/sub-gen.ts
  packages/deploy-config-sub-generator/test/app/app.test.ts
  packages/generator-adp/package.json
  packages/generator-adp/src/app/index.ts
  packages/generator-adp/src/app/questions/attributes.ts
  packages/generator-adp/src/app/questions/configuration.ts
  packages/generator-adp/src/app/types.ts
  packages/generator-adp/src/translations/generator-adp.i18n.json
  packages/generator-adp/src/utils/appWizardCache.ts
  packages/generator-adp/src/utils/opts.ts
  packages/generator-adp/src/utils/steps.ts
  packages/generator-adp/src/utils/subgenHelpers.ts
  packages/generator-adp/test/app.test.ts
  packages/generator-adp/test/unit/questions/attribute.test.ts
  packages/generator-adp/test/unit/utils/appWizardCache.test.ts
  packages/generator-adp/test/unit/utils/deps.test.ts
  packages/generator-adp/test/unit/utils/opts.test.ts
  packages/generator-adp/test/unit/utils/steps.test.ts
  packages/generator-adp/test/unit/utils/subgenHelpers.test.ts
  packages/generator-adp/tsconfig.json
  pnpm-lock.yaml
Labels: adp-tooling, generator-adp

#3342 fix(preview-middleware): enhancedhomepage loading issues from UI5 v1.137
  .changeset/funny-owls-protect.md
  packages/preview-middleware-client/src/flp/init.ts
  packages/preview-middleware-client/src/flp/initCdm.ts
  packages/preview-middleware-client/test/unit/flp/__snapshots__/init.test.ts.snap
  packages/preview-middleware-client/test/unit/flp/init.test.ts
  packages/preview-middleware-client/test/unit/flp/initCdm.test.ts
Labels: preview-middleware-client

#3349 Fix(preview-middleware): disable card generator for cap projects
  .changeset/gorgeous-baboons-attack.md
  packages/preview-middleware/README.md
  packages/preview-middleware/src/base/flp.ts
  packages/preview-middleware/test/unit/base/flp.test.ts
Labels: preview-middleware

#3339 feat(generator-adp): Align @ui5/cli with latest v4 release
  .changeset/swift-spies-count.md
  packages/adp-tooling/templates/project/package.json
  packages/adp-tooling/templates/project/ui5.yaml
  packages/adp-tooling/test/unit/writer/__snapshots__/index.test.ts.snap
  packages/generator-adp/test/__snapshots__/app.test.ts.snap
Labels: adp-tooling, generator-adp

#3352 fix: Bump required versions of SAPUI5 for using ElementRegistry and RTA plugins
  .changeset/eighty-carrots-knock.md
  packages/preview-middleware-client/src/adp/init.ts
  packages/preview-middleware-client/src/adp/utils.ts
  packages/preview-middleware-client/test/unit/adp/init.test.ts
Labels: bug, preview-middleware, preview-middleware-client

#3366 fix(app-config-writer): preview middleware dependency
  .changeset/hot-cows-provide.md
  packages/app-config-writer/src/common/ui5-yaml.ts
  packages/app-config-writer/test/unit/preview-config/ui5-yaml.test.ts
Labels: app-config-writer

#3283 App Config Writer Text Review
  packages/app-config-writer/src/translations/navigation-config.json
  packages/app-config-writer/src/translations/smartlinks-config.json
  packages/app-config-writer/test/unit/navigation-config/generateNavigationConfig.test.ts
  packages/app-config-writer/test/unit/smartlinks-config/ui5-yaml.test.ts
  packages/app-config-writer/test/unit/smartlinks-config/utils.test.ts
Labels: documentation, app-config-writer

#3282 Reviewed ADP Tooling Texts
  packages/adp-tooling/src/translations/adp-tooling.i18n.json
  packages/adp-tooling/test/unit/prompts/add-component-usages/index.test.ts
  packages/adp-tooling/test/unit/prompts/add-new-model/index.test.ts
  packages/adp-tooling/test/unit/ui5/validator.test.ts
Labels: documentation, adp-tooling

#3293 Inquirer Common Text Review
  packages/inquirer-common/src/translations/inquirer-common.i18n.json
  packages/inquirer-common/test/unit/error-handler/error-handler.test.ts
Labels: documentation

#3272 UI Service Generator Texts Review
  packages/odata-service-inquirer/src/translations/odata-service-inquirer.i18n.json
  packages/odata-service-writer/src/translations/odata-service-writer.i18n.json
  packages/ui-service-inquirer/src/translations/ui-service-inquirer.i18n.json
  packages/ui-service-sub-generator/src/translations/ui-service-generator.i18n.json
Labels: documentation, ui-service-generator

#3328 Fiori Generator Shared Text Review
  packages/fiori-generator-shared/src/translations/fiori-generator-shared.i18n.json
Labels: documentation

#3329 Launch Config Text Review
  packages/launch-config/src/translations/launch-config.i18n.json
Labels: documentation

#3334 Deploy Config Text Review
  packages/deploy-config-generator-shared/src/translations/deploy-config-generator-shared.i18n.json
  packages/deploy-config-sub-generator/src/translations/deploy-config-sub-generator.i18n.json
Labels: documentation, deploy, deploy-config-sub-generator
