Repository SAP/open-ux-tools, pull requests merged in 2025-05, with the labels that each got.

#3206 fix: Issues for Adaptation Projects using TypeScipt
  .changeset/hungry-sloths-walk.md
  packages/adp-tooling/src/preview/adp-preview.ts
  packages/adp-tooling/src/preview/routes-handler.ts
  packages/adp-tooling/test/unit/preview/adp-preview.test.ts
  packages/preview-middleware-client/src/adp/api-handler.ts
  packages/preview-middleware-client/src/adp/controllers/ControllerExtension.controller.ts
  packages/preview-middleware-client/src/adp/utils.ts
  packages/preview-middleware-client/test/unit/adp/controllers/ControllerExtension.controller.test.ts
  packages/preview-middleware-client/types/sap.ui.fl.d.ts
Labels: bug, adp-tooling, preview-middleware-client

#3222 fix(ui5-app-inquirer): fix 'when' condition for Typescript prompt
  .changeset/weak-planets-mix.md
  packages/ui5-application-inquirer/src/prompts/prompts1.ts
  packages/ui5-application-inquirer/test/unit/prompts/prompts.test.ts
Labels: ui5-application-inquirer

#3223 fix(preview-middleware): new column is not visible after using `Add Custom Table Column` Quick Action
  .changeset/fresh-boxes-kneel.md
  packages/preview-middleware-client/src/adp/controllers/AddTableColumnFragments.controller.ts
  packages/preview-middleware-client/src/utils/additional-change-info.ts
  packages/preview-middleware-client/test/__mock__/sap/ui/fl/Change.ts
  packages/preview-middleware-client/test/unit/adp/controllers/AddTableColumnFragments.controller.test.ts
  packages/preview-middleware-client/test/unit/utils/additional-change-info.test.ts
Labels: preview-middleware

#3188 feat(generator-adp): Make possible to configure the Adaptation project generator from a json.
  .changeset/selfish-rivers-accept.md
  packages/generator-adp/src/app/index.ts
  packages/generator-adp/src/app/questions/helper/validators.ts
  packages/generator-adp/src/app/types.ts
  packages/generator-adp/src/translations/generator-adp.i18n.json
  packages/generator-adp/src/utils/parse-json-input.ts
  packages/generator-adp/src/utils/type-guards.ts
  packages/generator-adp/test/__snapshots__/app.test.ts.snap
  packages/generator-adp/test/app.test.ts
  packages/generator-adp/test/unit/questions/helper/validators.test.ts
  packages/generator-adp/test/unit/utils/parse-json-input.test.ts
  packages/generator-adp/test/unit/utils/type-guards.test.ts
Labels: generator-adp

#3146 feat: Add the Extension Project functionality
  .changeset/silent-scissors-boil.md
  packages/adp-tooling/src/base/constants/index.ts
  packages/adp-tooling/src/index.ts
  packages/adp-tooling/src/source/manifest.ts
  packages/adp-tooling/src/types.ts
  packages/adp-tooling/src/ui5/format.ts
  packages/adp-tooling/src/ui5/version-info.ts
  packages/adp-tooling/src/writer/descriptor-content.ts
  packages/adp-tooling/src/writer/i18n/index.ts
  packages/adp-tooling/src/writer/writer-config.ts
  packages/adp-tooling/test/unit/source/manifest.test.ts
  packages/adp-tooling/test/unit/ui5/version-info.test.ts
  packages/adp-tooling/test/unit/writer/descriptor-content.test.ts
  packages/adp-tooling/test/unit/writer/i18n/index.test.ts
  packages/adp-tooling/test/unit/writer/writer-config.test.ts
  packages/generator-adp/src/app/extension-project/index.ts
  packages/generator-adp/src/app/index.ts
  packages/generator-adp/src/app/questions/attributes.ts
  packages/generator-adp/src/app/questions/configuration.ts
  packages/generator-adp/src/app/questions/helper/conditions.ts
  packages/generator-adp/src/app/questions/helper/message.ts
  packages/generator-adp/src/app/questions/helper/validators.ts
  packages/generator-adp/src/app/types.ts
  packages/generator-adp/src/translations/generator-adp.i18n.json
  packages/generator-adp/test/__snapshots__/app.test.ts.snap
  packages/generator-adp/test/app.test.ts
  packages/generator-adp/test/unit/extension-project/index.test.ts
  packages/generator-adp/test/unit/questions/attribute.test.ts
  packages/generator-adp/test/unit/questions/configuration.test.ts
  packages/generator-adp/test/unit/questions/helper/conditions.test.ts
  packages/generator-adp/test/unit/questions/helper/message.test.ts
  packages/generator-adp/test/unit/questions/helper/validators.test.ts
  packages/project-input-validator/src/adp/validators.ts
  packages/project-input-validator/src/translations/project-input-validator.i18n.json
  packages/project-input-validator/test/adp-validators.test.ts
Labels: adp-tooling, generator-adp

#3236 fix(ui-service-gen): use namespace for transports and service path
  .changeset/empty-chairs-shave.md
  packages/ui-service-inquirer/src/prompts/configuration/questions.ts
  packages/ui-service-inquirer/test/prompts.test.ts
  packages/ui-service-sub-generator/src/app/utils.ts
  packages/ui-service-sub-generator/src/utils/constants.ts
  packages/ui-service-sub-generator/test/utils.test.ts
Labels: ui-service-generator

#3075 feat: Integration of ExtendControllerPlugin in Adaptation Editor
  .changeset/curly-geckos-laugh.md
  packages/adp-tooling/src/preview/adp-preview.ts
  packages/adp-tooling/src/preview/change-handler.ts
  packages/adp-tooling/test/unit/preview/adp-preview.test.ts
  packages/adp-tooling/test/unit/preview/change-handler.test.ts
  packages/preview-middleware-client/src/adp/command-executor.ts
  packages/preview-middleware-client/src/adp/controllers/AddFragment.controller.ts
  packages/preview-middleware-client/src/adp/controllers/AddTableColumnFragments.controller.ts
  packages/preview-middleware-client/src/adp/controllers/BaseDialog.controller.ts
  packages/preview-middleware-client/src/adp/controllers/ControllerExtension.controller.ts
  packages/preview-middleware-client/src/adp/dialog-factory.ts
  packages/preview-middleware-client/src/adp/extend-controller.ts
  packages/preview-middleware-client/src/adp/init-dialogs.ts
  packages/preview-middleware-client/src/adp/init.ts
  packages/preview-middleware-client/src/adp/quick-actions/common/add-controller-to-page.ts
  packages/preview-middleware-client/src/adp/ui/ControllerExtension.fragment.xml
  packages/preview-middleware-client/src/adp/utils.ts
  packages/preview-middleware-client/src/cpe/connector-service.ts
  packages/preview-middleware-client/src/messagebundle.properties
  packages/preview-middleware-client/test/__mock__/sap/ui/fl/Change.ts
  packages/preview-middleware-client/test/__mock__/sap/ui/fl/apply/_internal/flexObjects/FlexObjectFactory.ts
  packages/preview-middleware-client/test/__mock__/sap/ui/rta/plugin/ExtendControllerPlugin.ts
  packages/preview-middleware-client/test/unit/adp/command-executor.test.ts
  packages/preview-middleware-client/test/unit/adp/controllers/AddFragment.controller.test.ts
  packages/preview-middleware-client/test/unit/adp/controllers/AddTableColumnFragments.controller.test.ts
  packages/preview-middleware-client/test/unit/adp/controllers/ControllerExtension.controller.test.ts
  packages/preview-middleware-client/test/unit/adp/extend-controller.test.ts
  packages/preview-middleware-client/test/unit/adp/init-dialogs.test.ts
  packages/preview-middleware-client/test/unit/adp/init.test.ts
  packages/preview-middleware-client/test/unit/adp/quick-actions/fe-v2.test.ts
  packages/preview-middleware-client/test/unit/adp/quick-actions/fe-v4.test.ts
  packages/preview-middleware-client/test/unit/adp/utils.test.ts
  packages/preview-middleware-client/types/sap.ui.core.d.ts
  packages/preview-middleware-client/types/sap.ui.fl.d.ts
  packages/preview-middleware-client/types/sap.ui.rta.d.ts
Labels: feature, adp-tooling, preview-middleware-client, pr:do-not-merge

#3167 feat: Move the cards-editor-middleware code to preview-middleware
  .changeset/fluffy-papayas-do.md
  .changeset/spicy-plants-tie.md
  .changeset/weak-news-hope.md
  packages/app-config-writer/src/cards-config/index.ts
  packages/app-config-writer/src/index.ts
  packages/app-config-writer/test/fixtures/lrop-v4/package.json
  packages/app-config-writer/test/fixtures/lrop-v4/ui5-without-generator.yaml
  packages/app-config-writer/test/fixtures/lrop-v4/ui5.yaml
  packages/app-config-writer/test/fixtures/lrop-v4/webapp/manifest.json
  packages/app-config-writer/test/unit/cards-config/__snapshots__/index.test.ts.snap
  packages/app-config-writer/test/unit/cards-config/index.test.ts
  packages/create/src/cli/add/cards-generator.ts
  packages/create/src/cli/add/index.ts
  packages/create/test/unit/cli/add/cards-generator.test.ts
  packages/preview-middleware-client/src/flp/init.ts
  packages/preview-middleware-client/test/unit/flp/init.test.ts
  packages/preview-middleware-client/types/sap.cards.ap.generator.d.ts
  packages/preview-middleware/README.md
  packages/preview-middleware/src/base/config.ts
  packages/preview-middleware/src/base/flp.ts
  packages/preview-middleware/src/base/utils/cards.ts
  packages/preview-middleware/src/types/index.ts
  packages/preview-middleware/templates/flp/cdm.html
  packages/preview-middleware/templates/flp/sandbox.html
  packages/preview-middleware/templates/flp/sandbox2.html
  packages/preview-middleware/test/unit/base/__snapshots__/config.test.ts.snap
  packages/preview-middleware/test/unit/base/__snapshots__/flp.test.ts.snap
  packages/preview-middleware/test/unit/base/flp.test.ts
  packages/preview-middleware/test/unit/base/utils/cards.test.ts
Labels: create, preview-middleware, preview-middleware-client, app-config-writer, cards-editor-middleware

#3252 fix(fe-writer): fix html target for opa tests when using virtual endpoints
  .changeset/giant-keys-lie.md
  packages/fiori-elements-writer/src/index.ts
  packages/fiori-elements-writer/test/__snapshots__/lrop.test.ts.snap
  packages/fiori-elements-writer/test/lrop.test.ts
Labels: fiori-elements-writer

#3260 Fix/preview middleware/cards generator with static flp html
  .changeset/seven-rice-heal.md
  packages/preview-middleware/src/base/flp.ts
  packages/preview-middleware/test/unit/base/__snapshots__/flp.test.ts.snap
  packages/preview-middleware/test/unit/base/flp.test.ts
Labels: bug, preview-middleware

#3128 fix: Existing services
  .changeset/heavy-steaks-beg.md
  packages/odata-service-writer/src/data/defaults.ts
  packages/odata-service-writer/src/data/manifest.ts
  packages/odata-service-writer/src/translations/odata-service-writer.i18n.json
  packages/odata-service-writer/src/types.ts
  packages/odata-service-writer/test/unit/index.test.ts
Labels: odata-service-writer

#3259 fix(fiori-annotation-api): replace text content for cds paths
  .changeset/smart-onions-mate.md
  packages/fiori-annotation-api/src/cds/adapter.ts
  packages/fiori-annotation-api/test/unit/__snapshots__/fiori-service.test.ts.snap
  packages/fiori-annotation-api/test/unit/fiori-service.test.ts
Labels: fiori-annotation-api

#3269 fix: Remove the already generated dependencies for card generator
  .changeset/tiny-lobsters-rush.md
  packages/app-config-writer/src/cards-config/index.ts
  packages/app-config-writer/test/fixtures/lrop-v4/package.json
  packages/app-config-writer/test/fixtures/lrop-v4/ui5.yaml
Labels: app-config-writer

#3276 feat: Option to only update annotation and metadata files
  .changeset/two-mirrors-travel.md
  packages/odata-service-writer/src/index.ts
  packages/odata-service-writer/src/update.ts
  packages/odata-service-writer/test/unit/index.test.ts
Labels: odata-service-writer

#3261 fix(app-config-writer): sanitize preview middleware configuration
  .changeset/brown-suns-jog.md
  packages/app-config-writer/src/cards-config/index.ts
  packages/app-config-writer/src/common/package-json.ts
  packages/app-config-writer/src/common/ui5-yaml.ts
  packages/app-config-writer/src/common/utils.ts
  packages/app-config-writer/src/preview-config/package-json.ts
  packages/app-config-writer/src/preview-config/preview-files.ts
  packages/app-config-writer/src/preview-config/ui5-yaml.ts
  packages/app-config-writer/src/variants-config/utils.ts
  packages/app-config-writer/test/fixtures/cards-config/lrop-v4/package.json
  packages/app-config-writer/test/fixtures/cards-config/lrop-v4/ui5-with-deprecated-config-and-cards-generator.yaml
  packages/app-config-writer/test/fixtures/cards-config/lrop-v4/ui5-with-deprecated-config.yaml
  packages/app-config-writer/test/fixtures/cards-config/lrop-v4/ui5-with-deprecated-rta-config.yaml
  packages/app-config-writer/test/fixtures/cards-config/lrop-v4/ui5-without-generator.yaml
  packages/app-config-writer/test/fixtures/cards-config/lrop-v4/ui5.yaml
  packages/app-config-writer/test/fixtures/cards-config/lrop-v4/webapp/manifest.json
  packages/app-config-writer/test/unit/cards-config/__snapshots__/index.test.ts.snap
  packages/app-config-writer/test/unit/cards-config/index.test.ts
  packages/app-config-writer/test/unit/common/__snapshots__/ui5-yaml.test.ts.snap
  packages/app-config-writer/test/unit/preview-config/__snapshots__/ui5-yaml.test.ts.snap
  packages/app-config-writer/test/unit/preview-config/ui5-yaml.test.ts
  packages/app-config-writer/test/unit/prompt/smartlinks-config.test.ts
  packages/app-config-writer/test/unit/variants-config/__snapshots__/generateVariantsConfig.test.ts.snap
  packages/app-config-writer/test/unit/variants-config/generateVariantsConfig.test.ts
  packages/preview-middleware/src/base/config.ts
Labels: bug, app-config-writer
